{% block content %}
    {% load static from staticfiles %}
    <div id="dish-error"></div>
    <input name="id" value="{{ food_item.id }}" style="display: none;">
    {% if not food_item %}
        <div class="dish-placeholder" data-image-src="{% static 'images/default-dish-pic.jpg' %}"></div>
    {% endif %}

    <div id="image-cropper"></div>
    <label class="select-image-btn btn btn-info btn-sm btn-file">Upload a photo of your dish*
        <input id="image" type="file" accept="image/*">
    </label>
    <div class="name-price-label">
        <label class="input-label input-label-inline dish-name">
            Name*
        </label>
        <label class="input-label input-label-inline dish-price">
            Per serving*
        </label>
    </div>

    <div id="name-section">
        <!-- Dish Name -->
        <div class="input-line-item">
            <input class="dish-input form-control dish-name-price-form" name="name"
                   maxlength="40"
                   value="{{ food_item.name }}"
                   required>
            <div class="small-input-container">
                <div class="input-group small-input-group">
                    <span class="input-group-addon">$</span>
                    <input class="dish-input form-control dish-price-form" name="price" min="0"
                           step="0.01"
                           type="number"
                           value="{{ food_item.price }}" required>
                </div>
            </div>
        </div>
    </div>

    <!-- Dish Options -->
    <label class="input-label">
        Options
    </label>
    <ul id="options-list">
        {% for option in food_item.options %}
            <li class="new-dish-option-item" data-name="{{ option.name }}" data-price="{{ option.price }}">
                -{{ option.name }}: ${{ option.price }}</li>
        {% endfor %}
    </ul>
    <div id="options-section" style="display: none;">
        <div class="input-line-item">
            <input class="dish-input form-control option-form" id="option-name" type="text"
                   placeholder="E.g. beef, fish, spice level" maxlength="25">

            <div class="small-input-container ">
                <div class="input-group small-input-group">
                    <span class="input-group-addon">+$</span>
                    <input class="dish-input form-control option-price-form" id="option-price" type="number"
                           value="0" min="0" step="0.01">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info btn-sm add-option form-control"
            title="You can have different options for a dish, such as protein choices, spice level etc"
            type="button">Click to add more options
    </button>

    <!-- Dish Description -->
    <label class="input-label">
        About this dish*
    </label>
    <textarea class="dish-input form-control" id="description" rows="4" name="description"
              placeholder="Write a description about this dish"
              maxlength="525" required>{{ food_item.description }}</textarea>


    <!-- Dish Ingredients -->
    <label class="input-label">
        Ingredients
    </label>
    <div id="ingredients-section">
        <ul id="ingredients-list">
            {% for ingredient in food_item.ingredients %}
                <li class="list-entry" data-name="{{ ingredient.name }}">{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
        <div class="input-line-item">
            <input class="dish-input form-control" id="ingredients-search" type="text" maxlength="25"
                   placeholder="Type here...">
            <button class="dish-input btn btn-info btn-sm add-ingredient form-control" type="button">Add
                ingredient
            </button>
        </div>
    </div>

    <!-- Dish Tags -->
    <label class="input-label">
        Tags
    </label>
    <div id="tags-section">
        <ul id="tags-list">
            {% for tag in food_item.tags %}
                <li class="list-entry" data-name="{{ tag.name }}">#{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <div class="input-line-item">
            <input class="dish-input form-control" id="tags-search" type="text" maxlength="25"
                   placeholder="Type here...">
            <button class="dish-input btn add-tag btn-info btn-sm form-control" type="button">Add tag
            </button>
        </div>
    </div>


    <!-- Dish Extras -->
    <label class="input-label">
        Add ons
    </label>
    <ul id="extras-list">
        {% for extra in food_item.extras %}
            <li class="new-dish-extra-item" data-name="{{ extra.name }}" data-price="{{ extra.price }}">
                -{{ extra.name }}: ${{ extra.price }}</li>
        {% endfor %}
    </ul>
    <div id="extras-section" style="display: none;">
        <div class="input-line-item">
            <div class="extras-input-wrapper">
                <input class="dish-input form-control extra-form" id="extra-name" type="text"
                       placeholder="E.g. extra meat, soda, sides" maxlength="25">
            </div>

            <div class="small-input-container ">
                <div class="input-group small-input-group">
                    <span class="input-group-addon">+$</span>
                    <input class="dish-input form-control extra-price-form" id="extra-price" type="number"
                           value="0" min="0" step="0.01">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info btn-sm add-extra form-control"
            title="Add different add-ons for extra income, such as drinks, side dishes etc"
            type="button">Click to add extra items
    </button>
{% endblock %}