{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Sell Your Dishes</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <meta charset="UTF-8">
    <!-- CSS -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/available-dishes.css' %}">
</head>
<body>
<div class="alert alert-warning alert-too-many-dishes" style="display: none;">
    <strong>Too many dishes selected!</strong> You can only have 3 dishes in a bundle at once.
</div>

<div class="chef-helpful-links">
    <a href="/dish/new">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>NEW DISH</span>
    </a>
    <a href="/my_offers/calendar">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>OFFER CALENDAR</span>
    </a>
</div>


<div class="food-section food-singles-section">
    <div class="umami-page-header">
        <h1>Sell your dishes</h1>
        <h3>Sell a single dish or make a bundle/combo of up to 3 dishes</h3>
    </div>

    {% if dishes|length == 0 %}
        <div class="inner-message-wrapper">
            <h2>You have not created any dishes yet</h2>
        </div>
    {% endif %}

    <div class="food-container">
        {% for dish in dishes %}
            <div class="dish-item dish-select w3-animate-top hvr-float"
                 data-food-url="{{ dish.url }}"
                 data-social-url="{{ dish.social_url }}"
                 data-food-id="{{ dish.id }}">
                <div id="{{ dish.id }}" style="text-decoration: none;">
                    <a class="dish-edit-action" href="/dish?id={{ dish.id }}">
                        <div class="text-content"><span>VIEW DISH</span></div>
                        <img class="dish-image" src="{{ dish.image }}" alt="{{ dish.name }}">
                    </a>
                    <div class="dish-info">
                        <div class="line-item">
                            <div class="dish-title" title="{{ dish.name }}">
                                <span>{{ dish.name }}</span>
                            </div>
                            <div class="dish-price">
                                <span>${{ dish.price|floatformat:2 }} </span>
                            </div>
                        </div>
                        <div class="line-item">
                            <div class="dish-rating-cr" data-rating="{{ dish.rating.score }}"></div>
                        </div>
                        <div class="line-item">
                            <div class="food-tags-cr food-tags">
                                {% for tag in dish.tags %}
                                    <span>{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dish-actions">
                    <a href="/dish/edit/{{ dish.id }}">EDIT</a>
                    <a class="dish-selector" data-dish-id="{{ dish.id }}" href="javascript:void(0)"
                       title="A bundle is a combination of multiple dishes, this enables users to order multiple meals from you with a single click!"><span>BUNDLE</span></a>
                    <a href="/offer/new/{{ dish.id }}?d={{ date }}">SELL</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <button id="sell-dishes-btn"
            class="btn btn-lg btn-success"
            style="display: none;"
    >SELL THIS BUNDLE
    </button>
</div>
<div class="footer">
    {% include "common/footer.html" %}
</div>
</body>
<footer>
    <!-- Custom JS -->
    <script src="{% static 'scripts/available-dishes.js' %}"></script>
</footer>
</html>
