{% load static from staticfiles %}
<!DOCTYPE html>
<html data-ng-app='umamiWeb'>
<header>
    {% include "common/navigation.html" %}
</header>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami Dish</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/dish-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dish.css' %}">
</head>
<body>
<div class="page-wrapper dish-page-wrapper" id="dish" data-food-type="dish">
    <form id="food-form">
        <div class="page-wrapper offer-item">
            {% with food_item as dish %}
                {% include "common/dish_details.html" %}
            {% endwith %}
        </div>
    </form>
</div>
</body>
<footer>
    <div class="footer">
        {% include "common/footer.html" %}
    </div>
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <!-- My JavaScript -->
    <script src="{% static 'scripts/dish.js' %}"></script>
</footer>
</html>
