{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Create a Dish</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <meta charset="UTF-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/croppie.css' %}">
    <link rel="stylesheet" href="{% static 'styles/create-dish.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
</head>
<body>
<div class="outter-wrapper">
    <div class="inner-wrapper">
        <form id="new-dish-form">{% csrf_token %}
            <section id="dish-form">
                <h3>Let's get started selling your dish</h3>
                {% include "dish/_dish_form.html" %}
                <button class="finished-dish-btn btn btn-primary" type="submit">NEXT</button>
            </section>
        </form>
    </div>
</div>
<div class="loading">Loading&#8230;</div>
</body>
<footer>
    <script type="text/javascript">
        var food_image;
    </script>
    <canvas id="myCanvas" width=500 height=360 style="display: none; background-color: white"></canvas>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'scripts/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/croppie.js' %}"></script>
    <script src="{% static 'scripts/createDish.js' %}"></script>
</footer>
</html>
