{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umami 404</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/404.css' %}">
</head>
<body>
<div class="not-found parallax">
    <div class="sky-bg"></div>
    <div class="wave-7"></div>
    <div class="wave-6"></div>
    <a class="wave-island" href="#">
        <img src="http://res.cloudinary.com/andrewhani/image/upload/v1524501929/404/island.svg" alt="Island">
    </a>
    <div class="wave-5"></div>
    <div class="wave-lost wrp">
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </div>
    <div class="wave-4"></div>
    <div class="wave-boat">
        <img class="boat" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg" alt="Boat">
    </div>
    <div class="wave-3"></div>
    <div class="wave-2"></div>
    <div class="wave-1"></div>
    <div class="wave-message">
        <p>Page you are looking for does not exist</p>
    </div>
    <div class="author">Made by Andrew Lawendy</div>
</div>
<script>
    var parallax = function (e) {
            var windowWidth = $(window).width();
            if (windowWidth < 768) return;
            var halfFieldWidth = $(".parallax").width() / 2,
                halfFieldHeight = $(".parallax").height() / 2,
                fieldPos = $(".parallax").offset(),
                x = e.pageX,
                y = e.pageY - fieldPos.top,
                newX = (x - halfFieldWidth) / 30,
                newY = (y - halfFieldHeight) / 30;
            $('.parallax [class*="wave"]').each(function (index) {
                $(this).css({
                    transition: "",
                    transform: "translate3d(" + index * newX + "px," + index * newY + "px,0px)"
                });
            });
        },
        stopParallax = function () {
            $('.parallax [class*="wave"]').css({
                transform: "translate(0px,0px)",
                transition: "all .7s"
            });
            $('.parallax [class*="wave"]').css("transition", "");
        };
    $(document).ready(function () {
        $(".not-found").on("mousemove", parallax);
        $(".not-found").on("mouseleave", stopParallax);
    });

</script>
</body>
</html>