<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input, select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px !important;
        margin-bottom: 16px !important;
        resize: vertical;
    }

    input[type=submit] {
        background-color: var(--main-button-color);
        color: white;
        padding: 12px 40px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

    .container form {
        padding: 40px;
    }

    .container h2, .container p {
        text-align: center;
    }

    .contact-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }
</style>
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>Umami | Contact Us</title>
</head>
{% include "common/navigation.html" %}

<body>

<div class="contact-wrapper">
    <div class="container">
        <h2>Contact Us</h2>
        <p>We will get back to you within 24 hours!</p>
        <form id="contact-form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" placeholder="Your email..." required>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ user.full_name }}" placeholder="Your name..." required>

            <label for="reason">Reason</label>
            <select id="reason" name="reason">
                <option value="Inquire">General Inquiry</option>
                <option value="Complaint">Report a Problem/File a Complaint (Include Your Order #)</option>
                <option value="Kitchen">Kitchen Related</option>
            </select>

            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Let us know how we can help you..."
                      style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
<script>
    $("#contact-form").on("submit", function (e) {
        e.preventDefault();
        const request_data = convertToJSON($(this).serializeArray());
        $.ajax({
            type: "POST",
            url: "/api/contact",
            data: JSON.stringify(request_data),
            contentType: "application/json",
            success: function (data) {
                window.location.href = '/contact/success'
            }
        });
        return false;
    });
</script>
</html>