{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Email Sent</title>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
</head>
<body>
<header>
    {% include "common/navigation.html" %}
</header>
<div class="center-page-wrapper">
    <h4>Your Email was sent, we will get back to you in 24-48 hours!</h4>
</div>
</body>
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</html>