{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap Core CSS -->
<link href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom Fonts -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
<!-- Bootstrap core JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Umami | Authentic Meals Delivered"/>
    <meta property="og:description" content="Umami | Authentic Meals by Specialized Micro-kitchens"/>
    <title>Umami | Authentic Meals Delivered</title>
</head>


<body id="page-top">
<!-- Header -->
<header class="masthead d-flex">
    <section id="top-menu-bar">
        <div id="top-navigation">
            <div class="umami-logo-wrapper">
                {% include "common/umami-logo.html" %}
            </div>
            <div class="account-wrapper">
                {% if user.is_authenticated %}
                    <div id="account-button">
                        <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>
                                <span class="nav-bar-text-content">{{ user.first_name|title }}</span>
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" style="top:43px;">
                                {% include "account/account_dropdown.html" %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div id="sign-in-sign-up">
                        <a href="/accounts/login">Sign In</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>

    <span class="masthead-1"></span>
    <span class="masthead-2"></span>
    <span class="masthead-3"></span>
    <div class="container text-center my-auto home-page-search-container">
        <div class="home-text">
            <h1 class="mb-1">Umami</h1>
            <h5 class="mb-5" style="font-style: italic;">Authentic Meals Delivered</h5>
        </div>
        <form class="js-scroll-trigger" action="/foodpage" id="delivery-street-address" method="get">
            <input type="text" id="address-autocomplete" onFocus="geolocate()" name="address"
                   placeholder="Your delivery address..." required>
            <input type="text" name="lon" style="display: none;">
            <input type="text" name="lat" style="display: none;">
            <input type="text" name="d" style="display: none;">
            <span class="input-group-btn">
        <button class="btn btn-success search-button" type="submit">Find Food</button>
    </span>
        </form>
    </div>
    <div class="overlay"></div>
</header>


<section class="content-section padding text-center section-break">
    <div class="container text-center">
        <h4>
            <strong>Unique and delicious meals. In 3 clicks!</strong>
        </h4>
        <p class="mb-0">Delivery or pickup from specialized micro-kitchens</p>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center first-section" id="services">
    <div class="umami-container">
        <div class="col-lg-5 col-md-6">
                <span class="service-icon color-1 rounded-circle mx-auto mb-3">
                  <i class="fa fa-envira"></i>
                </span>
            <h4>
                <strong>Fresh</strong>
            </h4>
            <p class="mb-0">Delicious food made daily!</p>
        </div>
        <div class="col-lg-5 col-md-6">
                <span class="service-icon color-1 rounded-circle mx-auto mb-3">
                    <i class="fa fa-usd"></i>
                </span>
            <h4>
                <strong>Value</strong>
            </h4>
            <p class="mb-0">Best value in town!</p>
        </div>
    </div>
    <div class="image-container-lean-right">
        <img class="diagonal-image" src="{% static 'landing-assets/diagonal1.jpg' %}">

    </div>
</section>
<section class="content-section bg-primary text-white text-center second-section" id="services">
    <div class="image-container-lean-left">
        <img class="diagonal-image" src="{% static 'landing-assets/diagonal2.jpg' %}">
    </div>
    <div class="umami-container">
        <div class="col-lg-5 col-md-6">
                <span class="service-icon color-2 rounded-circle mx-auto mb-3">
                  <i class="fa fa-thumbs-up"></i>
                </span>
            <h4>
                <strong>Quality</strong>
            </h4>
            <p class="mb-0">Authentically made recipes.</p>
        </div>
        <div class="col-lg-5 col-md-6">
                <span class="service-icon color-2 rounded-circle mx-auto mb-3">
                  <i class="fa fa-cutlery"></i>
                </span>
            <h4>
                <strong>Choices</strong>
            </h4>
            <p class="mb-0">Unique and exclusive.</p>
        </div>
    </div>
</section>

{#<!-- Portfolio -->#}
{#<section class="content-section padding" id="portfolio">#}
{#    <div class="container">#}
{#        <div class="content-section-heading text-center">#}
{#            <h2 class="mb-5">Serving Your Area</h2>#}
{#        </div>#}
{#        <div class="row no-gutters">#}
{#            <div class="col-lg-6">#}
{#                <a class="portfolio-item" href="/foodpage?address=San Jose, CA, USA">#}
{#              <span class="caption">#}
{#                <span class="caption-content">#}
{#                  <h2>San Jose</h2>#}
{#                  <p class="mb-0">Rediscover the best of your city.</p>#}
{#                </span>#}
{#              </span>#}
{#                    <img class="img-fluid" src="{% static 'landing-assets/sanjose.jpg' %}" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                <a class="portfolio-item" href="/foodpage?address=Sunnyvale, CA, USA">#}
{#              <span class="caption">#}
{#                <span class="caption-content">#}
{#                  <h2>Sunnyvale</h2>#}
{#                  <p class="mb-0">Uncover secret menus.</p>#}
{#                </span>#}
{#              </span>#}
{#                    <img class="img-fluid" src="{% static 'landing-assets/sunnyvale.jpg' %}" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                <a class="portfolio-item" href="/foodpage?address=1 Washington Sq, San Jose, CA, USA">#}
{#              <span class="caption">#}
{#                <span class="caption-content">#}
{#                  <h2>San Jose State University</h2>#}
{#                  <p class="mb-0">Delicious meals delivered.</p>#}
{#                </span>#}
{#              </span>#}
{#                    <img class="img-fluid" src="{% static 'landing-assets/sjsu.jpg' %}" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-6">#}
{#                <a class="portfolio-item" href="/foodpage?address=500 El Camino Real, Santa Clara, CA, USA">#}
{#              <span class="caption">#}
{#                <span class="caption-content">#}
{#                  <h2>Santa Clara University</h2>#}
{#                  <p class="mb-0">Get your meals for the day, week, whatever!</p>#}
{#                </span>#}
{#              </span>#}
{#                    <img class="img-fluid" src="{% static 'landing-assets/santaclarauni.jpg' %}" alt="">#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="content-section padding text-center section-break">
    <div class="container text-center">
        <h4>
            <strong>Perfect meals, authentically made! Everyday!</strong>
        </h4>
        <p class="mb-0">Try a different cuisine, each day of the week!</p>
    </div>
</section>


<!-- Callout -->
<section class="callout">
    <div class="container text-center">
        <h2 class="mx-auto mb-5">Join
            <em>Umami</em>
            and discover the hidden gems of authentic food!</h2>
        <a class="btn btn-success btn-xl  js-scroll-trigger" href="#page-top">Start Now!</a>
    </div>
</section>


<section class="content-section padding text-center partner-callout">
    <div class="container text-center">
        <h4>
            <strong>Love cooking? Want to share it with the world?</strong>
        </h4>
        <p class="mb-0">Partner with Umami to kick start your business!</p>
        <a href="/partner">Get Started Today &#8594;</a>
    </div>
</section>

<footer class="footer text-center">
    {% include "common/footer.html" %}
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Plugin JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src={% static 'scripts/common.js' %}></script>
<script src={% static 'scripts/navigation.js' %}></script>
<script src={% static 'scripts/googleMaps.js' %}></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDtpMmoVmNAIlheOK53ta272ltkp18FR00&libraries=places&callback=initAutocomplete"
        async defer></script>
<!-- Custom scripts for this template -->
<script src={% static 'scripts/index.js' %}></script>

</body>

</html>
