{% load static from staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'styles/faq-reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href={% static 'styles/faq-style.css' %}> <!-- Resource style -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> <!-- Modernizr -->
    <title>Umami - User Guide</title>
</head>
<body>
{% include "common/navigation.html" %}
<div class="user-faq-container">
    <section class="cd-faq">
        <ul class="cd-faq-categories">
            <li><a class="selected" href="#basics">Basics</a></li>
            <li><a href="#know-more">Mobile</a></li>
            <li><a href="#before-ordering">Before Ordering</a></li>
            <li><a href="#after-ordering">After Ordering</a></li>
        </ul> <!-- cd-faq-categories -->

        <div class="cd-faq-items">
            <ul id="basics" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Basics</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">What is Umami?</a>
                    <div class="cd-faq-content">
                        <p>Umami is a platform that brings you the most delicious food at affordable prices. Our network
                            of
                            kitchens run by incredibly passionate cooks are here to provide you with meals that are fresh, authentic and
                            unique!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do I use Umami?</a>
                    <div class="cd-faq-content">
                        <p>You can use any one of our 3 platforms (website, iOS or Android App). All you need is your email to
                            starting ordering!</p>
                    </div> <!-- cd-faq-content -->
                </li>

            </ul> <!-- cd-faq-group -->

            <ul id="know-more" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Know More</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">How do you select your kitchens?
                    </a>
                    <div class="cd-faq-content">
                        <p>We partner with kitchens that specialize in making great food. They know the cuisines they
                            cook inside and out, they are made in small batches with lots of care, it's why our
                            meals are truly authentic!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">What is the cost of delivery?
                    </a>
                    <div class="cd-faq-content">
                        <p>We kept the delivery fees simple! No surge pricing, no surprises. We charge a standard fee of
                            $2.99
                            for the first 2 miles and then $0.50 every other mile thereafter. Our cooks deliver their
                            own
                            meals, so you get the best end to end service possible!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do pickup orders work?
                    </a>
                    <div class="cd-faq-content">
                        <p>Pickup orders are exempt of any delivery fees. They require you to pick up your order in
                            person
                            from the location the kitchen specifies. You can find this information on your orders page.
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>
            </ul> <!-- cd-faq-group -->

            <ul id="before-ordering" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Before Ordering</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">What is a meal bundle?
                    </a>
                    <div class="cd-faq-content">
                        <p>A meal bundle is made up of multiple meals. They are better value and are perfect for
                            weekday lunches and dinners! They are ready to eat and will just need to be reheated. Meal
                            bundles are a great alternative to unhealthy takeout and cumbersome meal kits! You’ll love
                            them!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">Where are the meals prepared?
                    </a>
                    <div class="cd-faq-content">
                        <p>A lot of the partner kitchens we feature are takeout only, they are inspected annually and
                            are
                            100% certified. These small scale kitchens can prepare quality food in small batches, and
                            they
                            are run without the overhead of owning a brick and mortar restaurant, which ensures that you always pay
                            low
                            prices for top quality meals!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>
                <li>
                    <a class="cd-faq-trigger" href="#0">I have food allergies, what can I order?
                    </a>
                    <div class="cd-faq-content">
                        <p>Unfortunately, we cannot guarantee an allergen free environment.
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">What are the service fees?
                    </a>
                    <div class="cd-faq-content">
                        <p>There is a small transaction fee on each order, which contributes to operation of our
                            platform and supports our partner kitchens ($0.30 + 2.9% of total order).
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>
            </ul> <!-- cd-faq-group -->

            <ul id="after-ordering" class="cd-faq-group">
                <li class="cd-faq-title"><h2>After Ordering</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Why should I rate my meal?
                    </a>
                    <div class="cd-faq-content">
                        <p>Ratings allow us to ensure the best possible quality and service. Your rating and review are
                            taken very seriously, kitchens that consistently receive negative reviews will be removed from the platform.
                            Each kitchen’s rating is a sum of all their dish ratings, so your ratings and reviews are the
                            driving force behind a successful kitchen!
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>
                <li>
                    <a class="cd-faq-trigger" href="#0">How can I tip?
                    </a>
                    <div class="cd-faq-content">
                        <p>Tipping is optional! We leave tipping completely up to you. You won’t find the tipping option at
                            checkout. If you are really impressed with the service, you can tip your cook in
                            cash at delivery or pickup.</p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do I contact a kitchen?</a>
                    <div class="cd-faq-content">
                        <p>In your orders page, there will be contact info of the kitchen you ordered from. You can
                            contact
                            them via phone or email.
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">What if I need to change an order?
                    </a>
                    <div class="cd-faq-content">
                        <p>If you need to change an order, you must do so at least 24 hours ahead. You can contact the
                            kitchen directly for any changes.
                        </p>
                    </div> <!-- cd-faq-content -->
                </li>
            </ul> <!-- cd-faq-group -->

        </div> <!-- cd-faq-items -->
        <a href="#0" class="cd-close-panel">Close</a>
    </section> <!-- cd-faq -->
</div>
<footer class="footer text-center">
    {% include "common/footer.html" %}
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'scripts/user-faq.js' %}"></script>
</body>
</html>