{% block content %}
    <li><a href="/accounts/dashboard">DASHBOARD</a></li>
    {% if user.is_chef %}
        {% if not user.kitchen.has_stripe or not user.kitchen.has_verification %}
            <li><a href="/kitchen/not_complete">FINISH KITCHEN SETUP</a></li>
        {% else %}
            <li><a href="/my/dishes">SELL DISHES</a></li>
            <li><a href="/kitchen/upcoming">UPCOMING</a></li>
            <li><a href="/sold">SOLD</a></li>
            <li><a href="/purchased">PURCHASED</a></li>
            <li><a href="https://dashboard.stripe.com/balance/overview" target="_blank">STRIPE DASHBOARD</a></li>
        {% endif %}
        <li><a href="/accounts/edit">EDIT PROFILE</a></li>
    {% else %}
        <li><a href="/purchased">MY ORDERS</a></li>
        <li><a href="/partner">BECOME A PARTNER</a></li>
    {% endif %}
    <li><a href="javascript:void(0)"><span id="logout-button">LOGOUT</span></a>
    </li>
{% endblock %}