{% load static from staticfiles %}

{% load i18n %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>Umami - Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom JS -->
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <body>
    <div class="account-management-wrapper">
        <h3>{% trans "Dashboard" %}</h3>
        {% if user.is_chef %}
            <div class="settings-button">
                <a href="{{ kitchen_social_url }}">My Kitchen Page</a>
            </div>
            {% if not user.kitchen.has_stripe or not user.kitchen.has_verification %}
                <div class="settings-button">
                    <a href="/kitchen/not_complete">Finish Kitchen Setup</a>
                </div>
            {% else %}
                <div class="settings-button">
                    <a href="/my/dishes">Sell Dishes</a>
                </div>
                <div class="settings-button">
                    <a href="/kitchen/upcoming">Upcoming Orders</a>
                </div>
                <div class="settings-button">
                    <a href="/my_offers/calendar">Offer Calendar</a>
                </div>
                <div class="settings-button"><a href="https://dashboard.stripe.com/balance/overview" target="_blank">Stripe
                    Dashboard</a>
                </div>
                <div class="settings-button">
                    <a href="/sold">Sold</a>
                </div>
            {% endif %}

        {% endif %}
        <div class="settings-button">
            <a href="/purchased">Purchased</a>
        </div>
        {% if user.is_chef %}
            <div class="settings-button">
                <a href="/accounts/edit/kitchen">Edit Kitchen</a>
            </div>
        {% endif %}
        <div class="settings-button">
            <a href="/accounts/edit">Edit Profile</a>
        </div>
        <div class="settings-button">
            <a href="/accounts/password/change">Change My Password</a>

        </div>
        <div class="settings-button">
            <a href="javascript:logoutUser();">Logout</a>
        </div>
    </div>
    <footer class="footer">
        {% include "common/footer.html" %}
    </footer>
    </body>
    </html>
{% endblock %}