{% load static from staticfiles %}
{% load common_filter %}

{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Edit Profile" %}</title>
        <meta charset="UTF-8">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <body>
    {% if not user.phone %}
        <div class="alert alert-warning">
            <strong>Missing phone!</strong> Please enter your phone number so we can serve you better.
        </div>
    {% endif %}
    <div class="account-management-wrapper">
        <div class="inner-wrapper profile-edit-wrapper">
            <form class="edit-form" id="profile-edit">{% csrf_token %}

                <h4>User Profile</h4>
                <div class="profile-field-wrapper">
                    <label for="email">Email</label>
                    <input class="form-control profile-form" name="email" type="email" value="{{ user_info.email }}"
                           disabled>
                </div>
                <div class="profile-field-wrapper">
                    <label for="first_name">First Name</label>
                    <input class="form-control profile-form" name="first_name" type="text"
                           value="{{ user_info.first_name }}">
                </div>

                <div class="profile-field-wrapper">
                    <label for="last_name">Last Name</label>
                    <input class="form-control profile-form" name="last_name" type="text"
                           value="{{ user_info.last_name }}">
                </div>

                <div class="profile-field-wrapper">
                    <label for="phone">Phone</label>
                    <input class="form-control profile-form" name="phone" type="tel"
                           {% if user_info.phone %}value="{{ user_info.phone|prettify_phone_number }}{% endif %}">
                </div>

                <button class="profile-update-btn btn btn-success" type="submit">UPDATE</button>
            </form>
            {% if user.is_chef %}
                <a href="/accounts/edit/kitchen">Edit My Kitchen Settings</a>
            {% endif %}
        </div>
    </div>

    <footer class="footer">
        <script>
            $('#profile-edit').on('submit', function () {
                let request_data = convertToJSON($('#profile-edit').serializeArray());
                $.ajax({
                    headers: {"Authorization": `Token ${getCookie("umamiAuthToken")}`},
                    type: "POST",
                    async: false,
                    url: "/api/user",
                    data: JSON.stringify(request_data),
                    contentType: "application/json",
                    success: function (data) {
                        window.location.href = "/accounts/dashboard"
                    }
                });
                return false;
            });

        </script>
        {% include "common/footer.html" %}
    </footer>
    </body>
    </html>
{% endblock %}