{% load i18n %}
{% load account %}

{% load i18n %}
{% load static from staticfiles %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Umami Email Confirmation" %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="center-page-wrapper">

        {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
                .{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button type="submit">{% trans 'Confirm' %}</button>
            </form>

        {% endif %}

    </div>
{% endblock %}
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</body>
</html>

