{% load static from staticfiles %}

{% load i18n %}

<!DOCTYPE html>
<html style="height: 100%;">
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Log in to Umami</title>
    <meta charset="UTF-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<header>
    {% include "common/navigation.html" %}
</header>
{% load socialaccount %}
{% providers_media_js %}
<body>

<div class="login-outter-wrapper">
    <div class="login-block">
        <h3>Have an account?</h3>
        <div class="divider"></div>
        {% include "account/snippets/facebook_button.html" %}
        <div class="divider"><span>or email </span></div>
        <div class="login-wrapper">
            {% include "account/signin_form.html" %}
        </div>
    </div>
    <div class="sign-up-block">
        <h3>First time user?</h3>
        <div class="divider"></div>
        {% include "account/snippets/facebook_button.html" %}
        <div class="divider"><span>or email </span></div>
        <div class="login-wrapper">
            {% include "account/signup_form.html" %}
        </div>
    </div>
    <div class="loading">Loading&#8230;</div>
</div>
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</body>

</html>

