{% load static from staticfiles %}

{% load i18n %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>Umami Password Reset</title>
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="center-page-wrapper">
        <h1>{% trans "Set Your Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
    <footer class="footer">
        {% include "common/footer.html" %}
    </footer>
    </body>
    </html>
{% endblock %}
