{% load static from staticfiles %}

{% load i18n %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>Password Reset Done</title>
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="center-page-wrapper">
        <div class="reset-content">
            {% load i18n %}

            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

        </div>
    </div>
    <footer class="footer">
        {% include "common/footer.html" %}
    </footer>
    </body>

    </html>
{% endblock %}