{% load static from staticfiles %}

{% load i18n %}
{% load account %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>Umami Password Reset</title>
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="center-page-wrapper">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}"/>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    <footers>
        {% include "common/footer.html" %}
    </footers>
    </body>
    </html>
{% endblock %}
