{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Password Reset Complete</title>
</head>
<body>
<header>
    {% include "common/navigation.html" %}
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
</header>
<div class="center-page-wrapper">
    <div class="reset-content">
        {% load i18n %}
        {% block title %}{{ title }}{% endblock %}
        {% block content_title %}<h2>{{ title }}</h2>{% endblock %}

        {% block content %}

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="/accounts/login">{% trans 'Log in' %}</a></p>

        {% endblock %}
    </div>
</div>
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</body>
</html>
