{% load i18n %}
{% block content %}
    <div class="sign-in-errors alert alert-info" style="display: none;"></div>
    <form class="sign-in-form">{% csrf_token %}
        <input class="form-control" name="email" type="email" value="" placeholder="Email" required>
        <div class="sign-in-password">
            <input class="form-control" id="password" name="password" type="password" value="" placeholder="Password" required>
            <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        <button class="sign-in-button btn btn-success" type="submit">
            <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>SIGN IN
        </button>
    </form>
{% endblock %}
