{% block content %}
    <div class="sign-up-errors"></div>
    <form class="sign-up-form">{% csrf_token %}
        <input class="form-control" name="email" type="email" value="" placeholder="*Email" maxlength="255" required>
        <input class="form-control" name="phone" type="tel" value="" placeholder="*Phone Number" maxlength="15" required>
        <input class="form-control" name="first_name" value="" placeholder="*First Name" maxlength="30" required>
        <input class="form-control" name="last_name" value="" placeholder="*Last Name" maxlength="30" required>
        <input class="form-control" name="password1" type="password" value="" placeholder="*Password" required>
        <button class="sign-up-button btn btn-success" type="submit">
            <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>SIGN UP</button>
    </form>
{% endblock %}
