{% load i18n %}
{% load account %}

{% load i18n %}
{% load static from staticfiles %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Umami - Stripe Connect" %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="center-page-wrapper">
        <div class="stripe-success-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                 x="0px" y="0px" viewBox="0 0 192.933 192.933" style="enable-background:new 0 0 192.933 192.933;"
                 xml:space="preserve" width="512px" height="512px">
                        <g>
                            <g>
                                <path d="M85.889,49.632c0.704-1.241,1.056-2.685,1.056-4.32c0-2.596-0.955-4.565-2.864-5.913    c-1.098-0.788-2.942-1.533-5.531-2.238v16.355C82.094,53.356,84.535,52.061,85.889,49.632z"
                                      fill="#91DC5A"/>
                                <path d="M75.591,16.14c-2.739,0.107-4.69,0.931-5.848,2.488c-1.164,1.557-1.742,3.18-1.742,4.881    c0,2.053,0.686,3.658,2.053,4.821c1.372,1.158,3.222,1.969,5.537,2.423V16.14z"
                                      fill="#91DC5A"/>
                                <path d="M77.041,71.495c19.744,0,35.742-16.003,35.742-35.748S96.785,0,77.041,0    S41.293,16.003,41.293,35.748C41.293,55.492,57.296,71.495,77.041,71.495z M65.626,32.155c-2.148-1.987-3.222-4.75-3.222-8.27    c0-3.151,1.152-5.991,3.467-8.521c2.315-2.524,5.549-3.813,9.72-3.855V7.375h2.954v4.075c4.123,0.292,7.292,1.504,9.499,3.646    c2.208,2.142,3.359,4.97,3.473,8.485h-5.448c-0.137-1.575-0.567-2.936-1.271-4.075c-1.307-2.094-3.389-3.192-6.247-3.3v15.15    c4.809,1.349,8.073,2.613,9.798,3.789c2.798,1.951,4.195,4.833,4.195,8.646c0,5.519-1.796,9.434-5.376,11.755    c-1.987,1.283-4.857,2.13-8.61,2.554v6.033h-2.954v-6.033c-6.033-0.394-10.126-2.53-12.286-6.408    c-1.181-2.094-1.772-4.923-1.772-8.485h5.501c0.167,2.84,0.615,4.911,1.343,6.217c1.295,2.345,3.699,3.658,7.208,3.95V36.428    C71.092,35.563,67.768,34.148,65.626,32.155z"
                                      fill="#91DC5A"/>
                                <path d="M182.248,145.663c3.741-3.902,4.087-11.152,3.473-20.836c-4.41-0.292-10.901,0.436-13.193,0    c-5.579-11.086-13.587-19.75-25.001-25.001c0.388-7.238,1.366-13.909,5.555-17.358c-10.185-0.698-18.802,6.188-24.297,12.501    c-20.568-21.373-81.692-25.174-111.109,5.555c-5.072-0.382-4.493-10.681,2.082-9.028c-10.722-7.303-16.63,12.715-6.247,15.275    c-8.652,12.345-9.469,38.874,2.082,48.606c1.689,14.625,4.272,28.349,11.385,37.55h23.342c-0.615-4.738-1.229-9.804-0.698-15.323    c14.177,3.21,31.01,4.153,47.914,2.775c2.602,4.338,5.132,8.73,8.234,12.554h23.104c-0.841-6.11-1.76-12.524-0.095-18.802    C134.299,173.063,162.922,165.801,182.248,145.663z M150.367,114.665c3.162,0,5.74,2.572,5.74,5.74s-2.578,5.746-5.74,5.746    c-3.168,0-5.746-2.578-5.746-5.746S147.199,114.665,150.367,114.665z M102.603,92.403c-15.89-5.478-33.349-5.424-49.161,0.167    l-1.802-3.717c16.958-5.997,35.682-6.062,52.729-0.179L102.603,92.403z"
                                      fill="#91DC5A"/>
                            </g>
                        </g>
                    </svg>
            <h2>You are all done!</h2>
            <p>Your Stripe account is now connected. When you make a sale, funds will automatically be
                deposited into your bank account, sometimes it can take up to 3 days. You can see all your earnings and
                transactions in the Stripe Dashboard.</p>
            <p><a href="https://dashboard.stripe.com/balance/overview" target="_blank">Take me to my Stripe Dashboard
                &rarr;</a></p>
            <p>If you have any questions about your Stripe account, <a href="https://support.stripe.com/contact"
                                                                       target="_blank">click
                here</a>.</p>
        </div>
    </div>
{% endblock %}
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</body>
</html>

