{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>{% trans "Umami Email Confirmation" %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
</head>

<header>
    {% include "common/navigation.html" %}
</header>
<div class="center-page-wrapper">
    <h4>Please confirm your email address by clicking the activation link included in the email, make sure to check your
        junk folder</h4>

</div>
<footer class="footer">
    {% include "common/footer.html" %}
</footer>
</body>
</html>
