{% block content %}
    {% load dish_filter %}
    <div class="offer-input-line-item recurring-choice-wrapper">
        <label>
            <input class="recurring-choice" type="radio" name="is_recurring" value="true"
                   onclick="showRecurringOptions()"
                   checked="checked">
            <span>Recurring</span>
            <div class="recurring-description">Repeat until the end date</div>
        </label>
        <label>
            <input class="recurring-choice" type="radio" name="is_recurring" value="false"
                   onclick="hideRecurringOptions()">
            <span>One time</span>
            <div class="recurring-description">Available for only one day</div>
        </label>
    </div>
    {% if food_item.dishes|length > 1 %}
        <div class="offer-input-line-item">
            <label class="offer-input-label">Name</label>
            <div class="small-input-container">
                <div class="input-group offer-small-input-group">
                    <input class="form-control tiny-form" name="name" type="text"
                           value="{{ food_item.name }}"
                           maxlength="40"
                           placeholder="Name your bundle"
                           required>
                </div>
            </div>
        </div>
        <div class="offer-input-line-item">
            <label class="offer-input-label">Price</label>
            <div class="small-input-container">
                <div class="input-group offer-small-input-group">
                    <span class="input-group-addon">$</span>
                    <input class="dish-input form-control tiny-form" name="price" min="0"
                           step="0.01"
                           type="number"
                           value="{{ food_item.price }}" required>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="offer-input-line-item" id="offer-ready-date">
        <label class="offer-input-label">Start Date</label>
        <div class="small-input-container">
            <div class="input-group time-small-input-group">
                {% if date %}
                    <span class="input-group-addon ready-weekday">{{ date|get_day_of_week }}</span>
                {% else %}
                    <span class="input-group-addon ready-weekday">{{ food_item.date|get_day_of_week }}</span>
                {% endif %}
                <input class="dish-input form-control tiny-form" id="ready-date-input" name="date" type="text"
                        {% if date %}
                       value="{{ date|get_correct_date_format }}"
                        {% else %}
                       value="{{ food_item.date|get_correct_date_format }}"
                        {% endif %}
                       required>
            </div>
        </div>
    </div>

    <div class="offer-input-line-item recurring-field">
        <label class="offer-input-label">Repeat</label>
        <div class="small-input-container">

            <div class="input-group time-small-input-group">
                <select class="form-control tiny-form" id="repeat-input" name="repeat_every">
                    <option value="day">Daily</option>
                    <option value="week">Weekly</option>
                </select>

            </div>
        </div>
    </div>

    <div class="offer-input-line-item recurring-field" id="offer-end-date">
        <label class="offer-input-label">End Repeat</label>
        <div class="small-input-container">
            <div class="input-group time-small-input-group">
                {% if end_date %}
                    <span class="input-group-addon end-weekday">{{ end_date|get_day_of_week }}</span>
                {% else %}
                    <span class="input-group-addon end-weekday">{{ food_item.end_date|get_day_of_week }}</span>
                {% endif %}
                <input class="dish-input form-control tiny-form" id="end-date-input" name="end_date" type="text"
                        {% if end_date %}
                       value="{{ end_date|get_correct_date_format }}"
                        {% else %}
                       value="{{ food_item.end_date|get_correct_date_format }}"
                        {% endif %}
                       required>
            </div>
        </div>
    </div>

    <div class="offer-input-line-item">
        <label class="offer-input-label">Available</label>
        <div class="small-input-container">
            <div class="input-group offer-small-input-group">
                <input class="form-control tiny-form" step="1" min="1" name="total_available" type="number"
                       value="{{ food_item.total_available }}" required>
                <span class="input-group-addon">Servings</span>
            </div>
        </div>
    </div>
    {% with food_item.can_deliver as can_deliver %}
        <div class="transportation-input-line-item">
            <div class="transpotation-wrapper">
                <label class="transpotation-input-label">
                    <input class="delivery-checkbox" type="checkbox"
                           name="can_deliver"
                           onchange="handleDeliverySelect(this);"
                            {% if can_deliver %}
                           checked
                            {% endif %}
                    />
                    Delivery
                </label>
            </div>
            <div class="time-range">
                <div id="delivery_time_slots"></div>
                <div class="time-selector">
                    <div class="small-input-container">
                        <div class="input-group time-small-input-group">
                            <span class="input-group-addon">Starts</span>
                            <input class="dish-input form-control time-form" id="delivery-start-time"
                                   name="deliver_start"
                                   type="text"
                                    {% if can_deliver %}
                                   value="{{ food_item.deliver_time.start }}"
                                    {% else %}
                                   disabled="true"
                                    {% endif %}
                                   required>
                        </div>
                    </div>
                </div>
                <div class="time-selector">
                    <div class="small-input-container">
                        <div class="input-group time-small-input-group">
                            <span class="input-group-addon">Ends</span>
                            <input class="dish-input form-control time-form" id="delivery-end-time" type="text"
                                   name="deliver_end"
                                    {% if can_deliver %}
                                   value="{{ food_item.deliver_time.end }}"
                                    {% else %}
                                   disabled="true"
                                    {% endif %} required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}


    {% with food_item.can_pickup as can_pickup %}
        <div class="transportation-input-line-item">
            <div class="transpotation-wrapper">

                <label class="transpotation-input-label">
                    <input class="pickup-checkbox" type="checkbox"
                           name="can_pickup"
                           onchange="handlePickupSelect(this);"
                            {% if can_pickup %}
                           checked
                            {% endif %}
                    />
                    Pickup
                </label>
            </div>
            <div class="time-range">
                <div id="pickup_time_slots"></div>
                <div class="time-selector">
                    <div class="small-input-container">
                        <div class="input-group time-small-input-group">
                            <span class="input-group-addon">Starts</span>
                            <input class="dish-input form-control time-form" id="pickup-start-time" type="text"
                                   name="pickup_start"
                                    {% if can_pickup %}
                                   value="{{ food_item.pickup_time.start }}"
                                    {% else %}
                                   disabled="true"
                                    {% endif %} required>
                        </div>
                    </div>
                </div>
                <div class="time-selector">
                    <div class="small-input-container">
                        <div class="input-group time-small-input-group">
                            <span class="input-group-addon">Ends</span>
                            <input class="dish-input form-control time-form" id="pickup-end-time" type="text"
                                   name="pickup_end"
                                    {% if can_pickup %}
                                   value="{{ food_item.pickup_time.end }}"
                                    {% else %}
                                   disabled="true" {% endif %} required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    <div class="offer-input-line-item last-line-item">
        <label class="offer-input-label">
            Lead Time
            <a tabindex="0" class="glyphicon glyphicon-info-sign" title="Lead Time" data-toggle="popover"
                data-placement="auto top" data-content="<p>How many hours before your first delivery/pickup order would you want to stop taking orders?</p>
               <p>If you put 0, then you will be taking orders up until your first pickup or delivery order, whichever one is first.</p>
               <p><b>Note: 0.5 hours = 30 minutes</b><p>"></a>
        </label>
        <div class="small-input-container">
            <div class="input-group offer-small-input-group">
                <input class="dish-input form-control tiny-form" id="end_time" min="0" step="0.5"
                       name="lead_time"
                       type="number"
                       max="48"
                       value="{{ food_item.lead_time|parse_lead_time }}"
                       required>
                <span class="input-group-addon">Hours</span>
            </div>
        </div>
    </div>
    <script>
        var chefTimeSlots = {{ time_slots|safe }};
    </script>
{% endblock %}