{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Sell Your Dish</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/croppie.css' %}">
    <link rel="stylesheet" href="{% static 'styles/create-dish.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bundle-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dish-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dish.css' %}">
</head>
<body>

{% if food_item.dishes|length > 1 %}
    <form id="food-form">
        <div class="offer-item">
            {% include "bundle/new_bundle.html" %}
        </div>
    </form>
    </>
{% else %}
    <form id="food-form">
        <div class="page-wrapper offer-item">
            {% with food_item.dishes.0 as dish %}
                {% include "common/dish_details.html" %}
            {% endwith %}
        </div>
    </form>
{% endif %}

<div class="inner-wrapper offer-form-wrapper">
    <h3>Create an offer</h3>
    <div id="offer-form-errors"></div>
    <form id="new-offer-form">{% csrf_token %}
        <section id="new-offer">
            <input name="dishes" value="{{ dish_ids }}" style="display: none;">
            {% include "offer/_offer_form.html" %}
            <div>
                <span><button class="dish-offer-submit btn btn-primary" type="submit">SELL</button></span>
            </div>
        </section>
    </form>
</div>

</body>
<footer>
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'scripts/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/dish.js' %}"></script>
    <script src="{% static 'scripts/bundles.js' %}"></script>
    <script src="{% static 'scripts/createOffer.js' %}"></script>
</footer>
</html>
