{% load static from staticfiles %}
{% load dish_filter %}

<!DOCTYPE html>
<html data-ng-app='umamiWeb'>
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>{{ food_item.name }}</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ food_item.name }}"/>
    <meta property="og:description" content="{{ food_item.dishes.0.description }}"/>
    <meta property="og:image" content="{{ food_item.dishes.0.image }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/dish-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dish.css' %}">
</head>
<body>
<header>
    {% include "common/navigation.html" %}
</header>
<div id="food-wrapper">
    {% if not food_item.can_deliver and not food_item.can_pickup %}
        <div class="alert alert-info">
            <strong>Not available for current address.</strong>
        </div>
    {% endif %}
    <div class="page-wrapper offer-item" data-food-id="{{ food_item.id }}"
         data-social-url="{{ food_item.social_url }}"
         data-food-url="{{ food_item.url }}"
         data-food-type="single">
        <form id="food-form">
            <div id="item-price" data-item-price="{{ food_item.dishes.0.price }}" style="display: none;"></div>
            {% with food_item.dishes.0 as dish %}
                {% include "common/dish_details.html" %}
            {% endwith %}
            {% include "common/offer_add_to_cart.html" with ng=0 %}
        </form>
    </div>
</div>

</body>
<footer>
    {{ food_item|json_script:"offer" }}
    <script id="offer" type="application/json"></script>
    <div class="footer">
        {% include "common/footer.html" %}
    </div>
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <!-- My JavaScript -->
    <script src="{% static 'scripts/dish.js' %}"></script>
</footer>
</html>
