{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Offer Calendar</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/offers-calendar.css' %}">

</head>
<body>
<div class="calendar-actions">
    <button id="save-button">SAVE</button>
</div>
<div id="calendar"></div>
<div class="calendar-actions">
    <button id="copy-to">COPY TO</button>
</div>
</body>
<footer>
    <script type="text/html" id="offer-delete-template">
        <form id="offer-delete-form">
            <p>If you already sold some of this offer, you have to fulfill the quantity that was sold, the delete action will only prevent any further orders from being made.</p>
            <p><b>This action cannot be reverse.</b></p>
            <div class="delete-options">
                <label><input class="is-mulitple-input" type="radio" name="is_multiple" value="False" checked><span>Just this one offering</span></label>
                <label><input class="is-mulitple-input" type="radio" name="is_multiple" value="True"><span>All future offerings</span></label>
            </div>
        </form>
    </script>
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'scripts/offersCalendar.js' %}"></script>
    <script>
        initCalendar({{ offers|safe }});
    </script>
</footer>
</html>
