{% block content %}
    {% load static from staticfiles %}
    {% load dish_filter %}
    <!DOCTYPE html>
    <html data-ng-app='umamiWeb'>
    <head>
        {% include "tracking/google_analytics.html" %}
        <meta charset="UTF-8">
        <title>{{ food_item.name }}</title>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ food_item.name }}"/>
        <meta property="og:description" content="{{ food_item.dishes.0.description }}"/>
        <meta property="og:image" content="{{ food_item.dishes.0.image }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'styles/bundle-layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/dish-layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/dish.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div id="food-wrapper">
        <div class="page-wrapper offer-item" data-food-id="{{ food_item.id }}"
             data-social-url="{{ food_item.social_url }}"
             data-food-url="{{ food_item.url }}"
             data-food-type="bundle">
            <form id="food-form">
                <div id="item-price" data-item-price="{{ food_item.price }}"
                     style="display: none;">{{ food_item.price }}</div>
                <div id="BundleOverlayCarousel" class="carousel disable-select" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for dish in food_item.dishes %}
                            <li data-target="#BundleOverlayCarousel" data-slide-to="{{ forloop.counter|add:-1 }}"
                                    {% if forloop.counter == 1 %}
                                class="active"
                                    {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner bundle-carousel" role="listbox">
                        {% for dish in food_item.dishes %}
                            <div {% if forloop.counter == 1 %}
                                class="item active"
                            {% else %}
                                class="item"
                            {% endif %}
                                data-slide-index="{{ forloop.counter|add:-1 }}">
                                <img class="dish-page-food-image" id="main-food-image" src="{{ dish.image }}"
                                     alt="{{ dish.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <span class="left bundle-overlay-carousel-control carousel-control"
                          data-target="#BundleOverlayCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </span>
                    <span class="right bundle-overlay-carousel-control carousel-control"
                          data-target="#BundleOverlayCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </span>
                </div>


                <section id="food-content">
                    <a href="{{ food_item.kitchen.social_url }}" style="text-decoration: none;">
                        <div class="dish-made-by" id="overlay-made-by"
                             data-kitchen-id="{{ food_item.kitchen.id }}"
                             data-toggle="modal" data-target="#kitchenModal">
                            {% if food_item.kitchen.logo_image %}
                                <img class="overlay-food-kitchen-logo" id="food-kitchen-logo"
                                     src="{{ food_item.kitchen.logo_image }}"
                                     alt="{{ food_item.kitchen.title }}">
                            {% endif %}
                            <span>{{ food_item.kitchen.title }}</span>
                        </div>
                    </a>
                    <div class="food-description">
                        <h3>{{ food_item.name }}</h3>
                        {% if not food_item|available_for_purchase:url_date %}
                            <h3>(SOLD OUT)</h3>
                        {% endif %}
                        <div rate-star="{{ food_item.dishes|get_avg_bundle_rating }}" class="bundle-rating"
                             star-width="25px"></div>
                    </div>
                    {% for dish in food_item.dishes %}
                        <div class="dish-id-version" data-dish-id="{{ dish.id }}"
                             data-dish-version="{{ dish.version }}"></div>
                        <div class="bundle-dishes">
                            <div class="bundle-offer-collapse-button" data-toggle="collapse"
                                 data-carousel-collapse-id="{{ forloop.counter|add:-1 }}"
                                 data-target="#bundle-offer-collapse-{{ forloop.counter|add:-1 }}"
                                 data-parent="#food-form">
                                <div class="bundle-offer-title">
                                    <span>Meal {{ forloop.counter }}: {{ dish.name }}</span>
                                </div>
                            </div>
                            <div id="bundle-offer-collapse-{{ forloop.counter|add:-1 }}"
                                    {% if forloop.counter ==  1 %}
                                 class="bundle-offer-expand panel-collapse collapse in"
                                    {% else %}
                                 class="bundle-offer-expand panel-collapse collapse"
                                    {% endif %}>
                                <div class="bundle-offer-content">
                                    <p>{{ dish.description }}</p>
                                    <div class="bundle-dish-ingredients">
                                        {% if dish.ingredients|length > 0 %}
                                            <b>Ingredients: </b>
                                            <span>{{ dish.ingredients|joinby:", " }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="bundle-food-tags food-tags">
                                        {% autoescape off %}
                                            {{ dish.tags|parse_tags }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div id="food-options">
                        {% if not food_item.is_expired %}
                            <p>Only <b style="font-size: x-large;">
                                <span id="food-available">{{ food_item|get_availability_for_date:url_date }}</span>
                            </b> left!</p>
                        {% endif %}
                        <div class="offer-page-end-by"><span style="font-weight: 500;">Order before: </span>
                            <script>document.write(get_pretty_time("{{ food_item.order_by }}"));</script>
                        </div>
                        {% if food_item.is_recurring %}
                            <div class="ready-date-selector">
                                <span style="font-weight: 500;">Ready: </span>
                                <select class="availability-date-picker" required>
                                    {% for ready_date in food_item.ready_dates %}
                                        <option value="{{ ready_date.name }}">{{ ready_date.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% else %}
                            <div class="availability-date"><span style="font-weight: 500;">Ready: </span>
                                <script>document.write(parse_date("{{ food_item.date }}"));</script>
                            </div>
                        {% endif %}
                        {% include "common/delivery_pickup.html" %}
                    </div>

                    <div class="dish-google-map">
                        <img src="{{ food_item.map_image }}">
                    </div>

                    {% if reviews|length > 0 %}
                        <div data-ng-controller="reviewsPaginationCtrl">
                            <ul class="dish-reviews" data-ng-init="init({{ reviews }})">
                                {% include "common/dish_reviews.html" %}
                            </ul>
                        </div>
                    {% endif %}
                </section>
                {% include "common/offer_add_to_cart.html" with ng=0 %}
            </form>
        </div>
    </div>
    </body>
    <footer>
        <script>
            var availables = {{ food_item.availables|safe }};
            var total_available = {{ food_item.total_available|safe }};
        </script>
        {{ food_item|json_script:"offer" }}
        <script id="offer" type="application/json"></script>
        <div class="footer">
            {% include "common/footer.html" %}
        </div>
        {% include "main/modal/all_overlay.html" %}
        <!-- JS Libraries -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
        <!-- My JavaScript -->
        <script src="{% static 'scripts/bundles.js' %}"></script>
        <script src="{% static 'scripts/dish.js' %}"></script>
    </footer>
    </html>
{% endblock %}
