{% load static from staticfiles %}
{% load dish_filter %}
<!DOCTYPE html>
<html lang="en" data-ng-app='umamiWeb'>
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>Umami Bundle</title>
</head>
<body>
<div id="food-wrapper">
    <div class="page-wrapper offer-item">
        <form id="food-form">
            <div id="BundleOverlayCarousel" class="carousel disable-select" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for dish in food_item.dishes %}
                        <li data-target="#BundleOverlayCarousel" data-slide-to="{{ forloop.counter|add:-1 }}"
                                {% if forloop.counter == 1 %}
                            class="active"
                                {% endif %}></li>
                    {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner bundle-carousel" role="listbox">
                    {% for dish in food_item.dishes %}
                        <div {% if forloop.counter == 1 %}
                            class="item active"
                        {% else %}
                            class="item"
                        {% endif %}
                            data-slide-index="{{ forloop.counter|add:-1 }}">
                            <img class="dish-page-food-image" id="main-food-image" src="{{ dish.image }}"
                                 alt="{{ dish.name }}">
                        </div>
                    {% endfor %}
                </div>
                <!-- Controls -->
                <span class="left bundle-overlay-carousel-control carousel-control"
                      data-target="#BundleOverlayCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </span>
                <span class="right bundle-overlay-carousel-control carousel-control"
                      data-target="#BundleOverlayCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </span>
            </div>


            <section id="food-content" class="new-bundle">
                <a href="{{ food_item.kitchen.social_url }}" style="text-decoration: none;">
                    <div class="dish-made-by" id="overlay-made-by"
                         data-kitchen-id="{{ food_item.kitchen.id }}"
                         data-social-url="{{ food_item.kitchen.social_url }}"
                         data-toggle="modal" data-target="#kitchenModal">
                        {% if food_item.kitchen.logo_image %}
                            <img class="overlay-food-kitchen-logo" id="food-kitchen-logo"
                                 src="{{ food_item.kitchen.logo_image }}"
                                 alt="{{ food_item.kitchen.title }}">
                        {% endif %}
                        <span>{{ food_item.kitchen.title }}</span>
                    </div>
                </a>
                <div class="food-description">
                    <h3>{{ food_item.name }}</h3>
                    <div rate-star="{{ food_item.dishes|get_avg_bundle_rating }}" class="bundle-rating"
                         star-width="25px"></div>
                </div>
                {% for dish in food_item.dishes %}
                    <div class="bundle-dishes">
                        <div class="bundle-offer-collapse-button" data-toggle="collapse"
                             data-carousel-collapse-id="{{ forloop.counter|add:-1 }}"
                             data-target="#bundle-offer-collapse-{{ forloop.counter|add:-1 }}"
                             data-parent="#food-form">
                            <div class="bundle-offer-title">
                                <span>Meal {{ forloop.counter }}: {{ dish.name }}</span>
                            </div>
                        </div>
                        <div id="bundle-offer-collapse-{{ forloop.counter|add:-1 }}"
                                {% if forloop.counter ==  1 %}
                             class="bundle-offer-expand panel-collapse collapse in"
                                {% else %}
                             class="bundle-offer-expand panel-collapse collapse"
                                {% endif %}>
                            <div class="bundle-offer-content">
                                <p>{{ dish.description }}</p>
                                <div class="bundle-dish-ingredients">
                                    {% if dish.ingredients|length > 0 %}
                                        <b>Ingredients: </b>
                                        <span>{{ dish.ingredients|joinby:", " }}</span>
                                    {% endif %}
                                </div>
                                <div class="bundle-food-tags food-tags">
                                    {% autoescape off %}
                                        {{ dish.tags|parse_tags }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </form>
    </div>
</div>
</body>
</html>