{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami | Kitchen Guide</title>
</head>
<body>
<header>
    {% include "common/navigation.html" %}
</header>
<div class="text-wrapper kitchen-guide" style="min-height: 750px; overflow-y: auto;">
    <h3>What's next?</h3>
    <p>Welcome to Umami Kitchen Creation! In the next steps on our website you will:</p>
    <ol>
        <li>Create an Umami Kitchen account, providing a logo along with 1-5 photos that can highlight your
            food to your audience.
        </li>
        <li>Set up your secure payment portal with our payment partner <a target="_blank" href="https://www.stripe.com">Stripe</a>.
            Have either your <b>SSN, ITIN or EIN</b> ready along with your banking info on hand (account and routing
            number). This is how you will get paid.
        </li>
        <li>Upload any piece of photo ID for verification.
        </li>
    </ol>
    <p>Offline checklist:</p>
    <ol>
        <li>While not required right now, you should consider getting a Food Manager's license! Through any of the
            following providers:
            <ul>
                <li><a target="_blank" href="https://www.nrfsp.com/exam-center/manager/">NRFSP</a>: Exam only:
                    $47.00, Exam and training ~$100
                </li>
                <li><a target="_blank"
                       href="https://www.prometric.com/en-us/clients/foodsafety/Pages/testing-cpfm.aspx">Prometric</a>:
                    Testing center exam: $48,
                    Online exam: $28,
                    Exam and training ~$140
                </li>
                <li><a target="_blank" href="https://www.servsafe.com/access/ss/Catalog/ProductList/10">ServSafe</a>:
                    Testing center exam: $99,
                    Online exam: ~$36,
                    Training and exam center: ~$170
                </li>
            </ul>
        </li>

        {#        <li>Get a Food Manager certification from any of the following providers: NRFSP, ServSafe or Prometric#}
        {#            (available in multiple languages). You can#}
        {#            <b>self study</b> or join a crash course (1 day) at your nearest provider. Sometimes your local#}
        {#            government#}
        {#            will provide#}
        {#            a one day class#}
        {#            as well as testing for residents. If none of the above options work for you, please <a target="_blank"#}
        {#                                                                                                   href="/contact">reach out to us</a> and#}
        {#            we can provide other options to get you your certificate. This certificate is used in every restaurant#}
        {#            setting nation wide, it is also valid for 5 years! For list of certification resources,#}
        {#            <a target="_blank" href="https://www.nrfsp.com/exam-center/find-a-local-trainer/location/california/">#}
        {#                click here.#}
        {#            </a>#}
        {#            <ul>#}
        {#                <li><a target="_blank" href="https://www.nrfsp.com/exam-center/manager/">NRFSP</a>: Exam only:#}
        {#                    $47.00, Exam and training ~$100#}
        {#                </li>#}
        {#                <li><a target="_blank"#}
        {#                       href="https://www.prometric.com/en-us/clients/foodsafety/Pages/testing-cpfm.aspx">Prometric</a>:#}
        {#                    Testing center exam: $48,#}
        {#                    Online exam: $28,#}
        {#                    Exam and training ~$140#}
        {#                </li>#}
        {#                <li><a target="_blank" href="https://www.servsafe.com/access/ss/Catalog/ProductList/10">ServSafe</a>:#}
        {#                    Testing center exam: $99,#}
        {#                    Online exam: ~$36,#}
        {#                    Training and exam center: ~$170#}
        {#                </li>#}
        {#            </ul>#}
        {#            All the above options have testing centers and classes (1 day) widely available in your area. If you need#}
        {#            more help#}
        {#            navigating the certification, definitely <a target="_blank" href="/contact">reach out to us</a>!#}
        {#        </li>#}
        {#        <li>Get your kitchen inspected! Please contact your <a#}
        {#                href="https://www.cdph.ca.gov/Programs/CEH/DFDCS/CDPH%20Document%20Library/FDB/FoodSafetyProgram/MEHKO/EH%20Agency%20Ord%20Link.pdf"#}
        {#                target="_blank">local agency</a> or <a target="_blank" href="/contact">contact us</a> and include#}
        {#            your#}
        {#            contact info and address, and we can help guide you to#}
        {#            certify your own kitchen! We will also reimburse you <b>50%</b> of the inspection fee upon completion!#}
        {#        </li>#}
        {#        <li>Submit your permit number on our website, we will send you a welcome package with everything you need to get#}
        {#            you started immediately!#}
        {#        </li>#}
    </ol>
    <a href="/partner/new">
        <button class="btn btn-info btn-sm add-extra form-control"
                title="Add different add-ons for extra income, such as drinks, side dishes etc"
                type="button">Continue to create your kitchen profile
        </button>
    </a>
</div>

</body>
<footer class="footer force-relative" style="bottom: -40px;">
    {% include "common/footer.html" %}
</footer>
</html>