{% block content %}
    <div class="kitchen-overview" style="display: none;">
        <div class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></div>
        <p><b>Your kitchen profile</b> will tell the user the type of food they will receive. so please take the time to
            come up with a good name, and summary! This will set you apart!</p>
        <p><b>Your logo</b> for the business is very important, it can bring your brand to the next level. As you grow,
            your brand will become an important part of your business. Create your own logo for free using <a
                    href="https://www.canva.com/tools/logo-maker-q1/" target="_blank">Canva</a> or <a href="https://www.freelogodesign.org" target="_blank">FreeLogoDesign.</a></p>
        <p><b>Your banner photos</b> can be anything from your top selling dishes, custom ads, photographs highlighting
            your cooking or ingredients. These add another layer to your brand. You can have anywhere from 1-5 banner
            images.</p>
        <p><b>Your payment</b> is processed through Stripe, you will be prompted to create a Stripe Account next, please
            note that <b>you do not have to have a business license</b>, you can create your account as an
            <b>Individual</b>, your tax ID will be your <i>SSN</i> or <i>ITIN</i> or <i>EIN</i> if you have one.</p>
    </div>
{% endblock %}