{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "tracking/google_analytics.html" %}
    <title>{{ kitchen.title }}</title>
    <meta charset="UTF-8">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ kitchen.title }}"/>
    <meta property="og:description" content="{{ kitchen.bio }}"/>
    <meta property="og:image" content="{{ kitchen.logo_image }}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/kitchen-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/kitchen.css' %}">
</head>
<body>
<header>
    {% include "common/navigation.html" %}
</header>
<div class="kitchen page-wrapper force-select" data-kitchen-url="{{ kitchen.url }}">
    {% if kitchen.banner_images|length > 1 %}
        <div id="KitchenOverlayCarousel" class="carousel disable-select" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for banner_image in kitchen.banner_images %}
                    <li data-target="#KitchenOverlayCarousel" data-slide-to="{{ forloop.counter|add:-1 }}"
                            {% if forloop.counter == 1 %}
                        class="active"
                            {% endif %}></li>
                {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner kitchen-carousel" role="listbox">
                {% for banner_image in kitchen.banner_images %}
                    <div {% if forloop.counter == 1 %}
                        class="item active"
                    {% else %}
                        class="item"
                    {% endif %}
                        data-slide-index="{{ forloop.counter|add:-1 }}">
                        <img class="cover-photo" src="{{ banner_image }}">
                    </div>
                {% endfor %}
            </div>
            <!-- Controls -->
            <span class="left kitchen-overlay-carousel-control carousel-control"
                  data-target="#KitchenOverlayCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </span>
            <span class="right kitchen-overlay-carousel-control carousel-control"
                  data-target="#KitchenOverlayCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </span>
        </div>
    {% elif kitchen.banner_images|length == 1 %}
        <img class="cover-photo" src="{{ kitchen.banner_images.0 }}">
    {% else %}
        <img class="cover-photo" src="https://eatumami.s3.amazonaws.com/media/images/bKwBo3kNuR0yAM0Do3V_a6g.jpg">
    {% endif %}

    <div class="kitchen-info-wrapper">
        {% if kitchen.logo_image %}
            <img class="kitchen-logo" src="{{ kitchen.logo_image }}" alt="{{ kitchen.title }}">
        {% else %}
            <img class="kitchen-logo" src="https://eatumami.s3.amazonaws.com/media/images/blwBA33kXRGSgDhTGODD4zQ.jpg" alt="{{ kitchen.title }}">
        {% endif %}
        <div class="kitchen-rating" data-rating="{{ kitchen.rating.score }}"></div>
    </div>
    <div class="user-content">
        <div class="kitchen-basics">
            <div class="kitchen-title">
                <span>{{ kitchen.title }}</span>
            </div>
            <div class="kitchen-style">
                <span>{{ kitchen.style }}</span>
            </div>
            {% if kitchen.permit_number %}
                <a class="kitchen-permit"
                   title="Permit & License"
                   data-placement="auto right"
                   data-toggle="popover"
                   data-trigger="focus"
                   data-content="This MEHKO permit is issued by the Department of Health {{ kitchen.permit_county|title }}">
                    <span>{{ kitchen.permit_number }}</span>
                </a>
            {% endif %}
            <div class="kitchen-location">
                <a href="/foodpage?address={{ kitchen.location }}">
                    <i class="glyphicon glyphicon-map-marker"></i><span>{{ kitchen.location }}</span>
                </a>
            </div>
        </div>
        <div class="user-bio">
            {{ kitchen.bio }}
        </div>
        <div class="current-dishes disable-select">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-condensed-tab" data-toggle="tab"
                       href="#nav-condensed"
                       role="tab"
                       aria-controls="nav-condensed" aria-selected="true"><i class="glyphicon glyphicon-th"></i>OVERVIEW</a>

                    <a class="nav-item nav-link" id="nav-daily-tab" data-toggle="tab" href="#nav-daily"
                       role="tab"
                       aria-controls="nav-daily" aria-selected="false"><i class="glyphicon glyphicon-calendar"></i>DAILY</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active in" id="nav-condensed" role="tabpanel"
                     aria-labelledby="nav-condensed-tab">
                    {% if kitchen.non_recurring_offers or kitchen.daily_offers or kitchen.weekly_offers %}
                        <div class="current-offers">
                            {% if kitchen.non_recurring_offers %}
                                <h6><b>
                                    Limited Time Offers
                                </b></h6>
                                {% for offer in kitchen.non_recurring_offers %}
                                    {% include 'kitchen/kitchen_offer.html' with showQty=0 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="current-offers">
                            {% if kitchen.daily_offers %}
                                <h6><b>
                                    Daily Offers
                                </b></h6>
                                {% for offer in kitchen.daily_offers %}
                                    {% include 'kitchen/kitchen_offer.html' with showQty=0 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="current-offers">
                            {% if kitchen.weekly_offers %}
                                <h6><b>
                                    Weekly Offers
                                </b></h6>
                                {% for offer in kitchen.weekly_offers %}
                                    {% include 'kitchen/kitchen_offer.html' with showQty=0 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% else %}
                        {% include 'common/no_offers_currently.html' %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="nav-daily" role="tabpanel" aria-labelledby="nav-daily-tab">
                    {% if kitchen.current_offers %}
                        {% for current_date in kitchen.current_offers %}
                            <div class="current-offers" {% if forloop.counter > 6 %} style="display: none;" {% endif %}>
                                <h6><b>
                                    <script>document.write(parse_date("{{ current_date.date }}"))</script>
                                </b></h6>
                                {% for offer in current_date.offers %}
                                    {% include 'kitchen/kitchen_offer.html' with showQty=1 %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if kitchen.current_offers|length > 6 %}
                            <button type="button" class="btn btn-default load-more-button"
                                    onclick="loadMoreCurrentOffers()">Load More
                            </button>
                        {% endif %}
                    {% else %}
                        {% include 'common/no_offers_currently.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
{#        {% if kitchen.past_offers|length > 0 %}#}
{#            <div class="past-dishes disable-select">#}
{#                <h6>Past Dishes</h6>#}
{#                {% for dish in kitchen.past_offers %}#}
{#                    <a href="/dish?id={{ dish.id }}">#}
{#                        <div class="past-food-item hvr-float" data-food-url="{{ dish.url }}">#}
{#                            <div class="text-content"><span>{{ dish.name }}</span></div>#}
{#                            <img class="kitchen-food-image" src="{{ dish.image }}">#}
{#                        </div>#}
{#                    </a>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
    </div>
</div>
</body>
<footer>
    <!-- My JavaScript -->
    <script src="{% static 'scripts/kitchen.js' %}"></script>
</footer>
</html>
