{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Umami Kitchen Requirements</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <p><b>To operate a kitchen you must meet the following requirements:</b></p>
                        <li>Be at least 18 years old</li>
                        <li>Register with Umami for free</li>
{#                        <li>Have a food facility including a certified home kitchen (more on this below)</li>#}
                        <li>Have the desire to connect with customers and provide great service!</li>
                        <li>Have a go-getter attitude and the need to share your cooking with your city!</li>
                        </br>
                    </ul>
{#                    <div class="certification-container">#}
{#                        <button type="button" class="btn btn-info" data-toggle="collapse"#}
{#                                data-target="#home-kitchens">#}
{#                            <span>Certify your existing home based kitchen</span>#}
{#                            <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>#}
{#                        </button>#}
{##}
{#                        <div id="home-kitchens" class="certification-content collapse">#}
{#                            <ul>#}
{#                                <li>Get the Food Manager certification, such as with <a target="_blank"#}
{#                                                                                        href="https://www.nrfsp.com/exam-center/manager/">NRFSP</a>,#}
{#                                    <a target="_blank" href="https://www.servsafe.com/access/ss/Catalog/ProductList/10">ServSafe</a>#}
{#                                    or <a target="_blank"#}
{#                                          href="https://www.prometric.com/en-us/clients/foodsafety/Pages/testing-cpfm.aspx">Prometric</a>#}
{#                                    (valid#}
{#                                    for 5 years!)#}
{#                                </li>#}
{#                                <li>Obtain an inspection of the your home kitchen with local enforcement agency, find#}
{#                                    yours#}
{#                                    <a href="https://www.cdph.ca.gov/Programs/CEH/DFDCS/CDPH%20Document%20Library/FDB/FoodSafetyProgram/MEHKO/EH%20Agency%20Ord%20Link.pdf"#}
{#                                       target="_blank">here</a>#}
{#                                </li>#}
{#                                <li>Cook and serve the food on the same day</li>#}
{#                                <li>Do not exceed a max of 30 full meals per day, 60 per week</li>#}
{#                                <li>Do not exceed annual gross revenue of more than $50,000</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="certification-container">#}
{#                        <button type="button" class="btn btn-info" data-toggle="collapse"#}
{#                                data-target="#other-kitchens">#}
{#                            <span>I already have a certified food facility</span>#}
{#                            <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>#}
{#                        </button>#}
{#                        <div id="other-kitchens" class="certification-content collapse">#}
{#                            <ul>#}
{#                                <li>Create your weekly menus</li>#}
{#                                <li>Start selling today!</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Got It!</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}