{% load static from staticfiles %}
{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Kitchen Profile" %}</title>
        <meta charset="UTF-8">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'styles/kitchen-profile.css' %}">
        <link rel="stylesheet" href="{% static 'styles/croppie.css' %}">
        <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
    </head>
    <header>
        {% include "common/navigation.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </header>
    <body style="overflow-y: auto">
    <div class="outter-wrapper">
        {% include "kitchen/kitchen_tooltips.html" %}

        <div class="inner-wrapper profile-edit-wrapper">
            <form class="edit-form" id="kitchen-edit">
                <h4>Kitchen Profile</h4>
                <div id="kitchen_edit_error"></div>

                <div class="profile-field-wrapper">
                    <label for="kitchen_title">Kitchen Name*</label>
                    <input class="form-control kitchen-form" name="title" type="text" onFocus="showNameTooltip()"
                           value="{{ kitchen.title }}" placeholder="Name your Kitchen" required>
                </div>
                <div class="profile-field-wrapper">
                    <label for="kitchen_style kitchen-form">Cuisine Styles*</label>
                    <input class="form-control kitchen-form" name="style" type="text" onFocus="showCuisineTooltip()"
                           value="{{ kitchen.style }}" maxlength="30"
                           placeholder="Indian, Mexican, Northern Chinese, etc">
                </div>

                <div class="profile-field-wrapper">
                    <label for="kitchen_deliver_range">Delivery Range*</label>
                    <div class="small-input-container ">
                        <div class="input-group kitchen-input-group">
                            <input class="form-control kitchen-form range-form" name="deliver_range" type="number"
                                   step="0.5"
                                   min="0"
                                   max="15"
                                   onFocus="showRangeTooltip()"
                                   value="{{ kitchen.deliver_range|default:0 }}">
                            <span class="input-group-addon">Miles</span>

                        </div>
                    </div>
                </div>


                <div class="pickup-address">
                    <div class="profile-field-wrapper">
                        <label for="line1">Line1*</label>
                        <input id="line1" onFocus="geolocate(); this.select(); showAddressTooltip()"
                               onmouseup="return false;"
                               class="form-control kitchen-form"
                               value="{{ kitchen.pickup_address.line1 }}" placeholder="Line 1 (Street address)"
                               required>
                    </div>

                    <div class="profile-field-wrapper">
                        <label for="line2">Line2</label>
                        <input id="line2" class="form-control kitchen-form" value="{{ kitchen.pickup_address.line2 }}"
                               onFocus="showAddressTooltip()"
                               placeholder="Line 2 (Suite/Unit number)">
                    </div>

                    <div class="profile-field-wrapper">
                        <label for="locality">City*</label>
                        <input id="locality" class="form-control kitchen-form" value="{{ kitchen.pickup_address.city }}"
                               onFocus="showAddressTooltip()"
                               placeholder="City" required>
                    </div>

                    <div class="profile-field-wrapper">
                        <label for="administrative_area_level_1">State*</label>
                        <input id="administrative_area_level_1" class="form-control kitchen-form"
                               value="{{ kitchen.pickup_address.prov }}" placeholder="State"
                               onFocus="showAddressTooltip()"
                               required>
                    </div>

                    <div class="profile-field-wrapper">
                        <label for="postal_code">Zip Code*</label>
                        <input id="postal_code" class="form-control kitchen-form"
                               value="{{ kitchen.pickup_address.postal_code }}"
                               onFocus="showAddressTooltip()"
                               placeholder="Zip Code" required>
                    </div>

                    <input id="country" class="form-control" value="{{ kitchen.pickup_address.country }}"
                           placeholder="Country" style="display: None;" required>

                    <input id="lon" class="form-control" value="{{ kitchen.pickup_address.lon }}"
                           style="display: None;">

                    <input id="lat" class="form-control" value="{{ kitchen.pickup_address.lat }}"
                           style="display: None;">
                </div>
                {% if kitchen %}
                    <div class="kitchen-stripe-connect">
                        <div class="profile-field-wrapper">
                            <label>Payment</label>
                            {% if not kitchen.stripe_account_token %}
                                <button class="stripe-connect-btn btn" onclick="connectWithStripe()"
                                        type="button">Connect with Stripe
                                </button>
                            {% else %}
                                <div class="small-input-container ">
                                    <div class="input-group kitchen-input-group">
                                        <div class="stripe-connected-wrapper">
                                            <span class="stripe-connected ">Connected</span><span
                                                class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <span class="input-group-addon"><a
                                                href="https://dashboard.stripe.com/balance/overview" target="_blank">My Stripe Dashboard</a>
                                        </span>

                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <div class="kitchen-bio profile-field-wrapper">
                    <label for="kitchen_bio">About Your Kitchen and Dishes*</label>
                    <textarea class="form-control kitchen-bio-text" maxlength="800"
                              name="bio"
                              onFocus="showBioTooltip()"
                              placeholder="Summarize your kitchen's style, experience, and include the types of food you are selling and what makes them unique."
                              required>{{ kitchen.bio }}</textarea>
                </div>

                <div class="upload-logo-image"></div>
                <label class="btn btn-primary btn-file">Upload a photo of your logo*
                    <input id="logo-upload" type="file" accept="image/*">
                </label>
                <div class="kitchen-image-wrapper">
                    {% for counter in "01234" %}
                        <div id="banner-image-viewport-{{ counter }}"></div>
                        <label class="btn btn-primary btn-file">Upload banner image #{{ counter|add:1 }}
                            {% if counter == "0" %}*{% endif %}
                            <input class="cover-upload" data-banner-id="{{ counter }}" id="cover-upload-{{ counter }}"
                                   type="file"
                                   accept="image/*">
                        </label>
                        {% if counter != "0" %}
                            <label class="banner-image-reset btn btn-primary btn-file" data-viewport-id="{{ counter }}">X</label>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if kitchen %}
                    <button class="profile-update-btn btn btn-success" type="submit">UPDATE</button>
                {% else %}
                    <button class="profile-update-btn btn btn-success" type="submit">NEXT</button>
                {% endif %}
                </button>
            </form>

            <div id="logo-image"
                    {% if kitchen.logo_image %}
                 data-image-src="{{ kitchen.logo_image }}"
                    {% else %}
                 data-image-src="{% static 'assets/kitchen-logo-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>

            <div id="banner-image-0"
                    {% if kitchen.banner_image0 %}
                 data-image-src="{{ kitchen.banner_image0 }}"
                    {% else %}
                 data-image-src="{% static 'assets/banner-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>
            <div id="banner-image-1"
                    {% if kitchen.banner_image1 %}
                 data-image-src="{{ kitchen.banner_image1 }}"
                    {% else %}
                 data-image-src="{% static 'assets/banner-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>
            <div id="banner-image-2"
                    {% if kitchen.banner_image2 %}
                 data-image-src="{{ kitchen.banner_image2 }}"
                    {% else %}
                 data-image-src="{% static 'assets/banner-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>
            <div id="banner-image-3"
                    {% if kitchen.banner_image3 %}
                 data-image-src="{{ kitchen.banner_image3 }}"
                    {% else %}
                 data-image-src="{% static 'assets/banner-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>
            <div id="banner-image-4"
                    {% if kitchen.banner_image4 %}
                 data-image-src="{{ kitchen.banner_image4 }}"
                    {% else %}
                 data-image-src="{% static 'assets/banner-default.png' %}"
                    {% endif %}
                 style="display: none;"></div>
        </div>
        <div class="kitchen-input-tooltip">
            <div class="fa fa-lightbulb-o fa-4x" aria-hidden="true" style="padding-top: 20px; display: none;"></div>
            <p class="tooltip-text" style="padding: 20px; display: none;"></p>
        </div>
    </div>
    <div class="loading">Loading&#8230;</div>
    </body>
    <footer class="footer force-relative">
        {% include "common/footer.html" %}
        <!-- Custom JS -->
        <script src="{% static 'scripts/croppie.js' %}"></script>
        <script src="{% static 'scripts/editKitchen.js' %}"></script>
    </footer>
    </html>
{% endblock %}