{% block content %}
    <a href="javascript:void(0)"
       data-offer-id="{{ offer.id }}"
       data-offer-date="{{ current_date.date }}"
       data-social-url="{{ offer.social_url }}"
       onclick="navigateOffer(this)"
       class="hvr-float">
        <div class="current-food-item" data-food-url="{{ offer.url }}"
             data-social-url="{{ offer.social_url }}"
             data-food-id="{{ offer.id }}">
            <div class="text-content">
                {% if offer.is_bundle %}
                    {% for dish in offer.dishes %}
                        <div>{{ forloop.counter }}. {{ dish.name }}</div>
                    {% endfor %}
                {% endif %}
                <div>
                    ${{ offer.price|floatformat:2 }}
                    {% if showQty %}
                        &#183;
                        {% if offer.available >= 0 %}
                            {{ offer.available }} left!
                        {% else %}
                            Sold Out!
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="hs-wrapper">
                {% for dish in offer.dishes %}
                    <img class="kitchen-food-image" src="{{ dish.image }}">
                {% endfor %}
            </div>
        </div>
        <div class="current-offer-name">
            {{ offer.name }}
            {% if offer.dishes|length > 1 %}
                <i class="fa fa-clone" aria-hidden="true">
            {% endif %}
            </i>
        </div>
    </a>
{% endblock %}