{% load static from staticfiles %}
<!DOCTYPE html>
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Umami | Start Your Home Food Business Today!"/>
    <meta property="og:description" content="Make money, set your own schedule, follow your passion!"/>

    <title>Umami | Start Your Home Food Business Today!</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/partner-landing.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header>
    {% include "common/navigation.html" %}
</header>
<!-- Full Width Image Header -->
<div class="header-image">
    <div class="headline">
        <div class="container">
            <h1>Kick Start Your Home Food Business</h1>
            <h2>Gain a following, we'll help!</h2>
        </div>
        <div class="partner-apply">
            <a href="/kitchen/guide">Start Here!</a>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'assets/partner-1.png' %}">
        <h2 class="featurette-heading">Make Great Money</h2>
        <div class="featurette-mini-divider first-featurette"></div>
        <p class="lead">You can set your own schedule, take time off, be your own
            boss.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-left" src="{% static 'assets/partner-2.png' %}">
        <h2 class="featurette-heading">A Growing Community</h2>
        <div class="featurette-mini-divider second-featurette"></div>
        <p class="lead">We are building a community of talented chefs. Join us as we connect people with great food!</p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'assets/partner-4.png' %}">
        <h2 class="featurette-heading">Join the Umami Revolution</h2>
        <div class="featurette-mini-divider third-featurette"></div>
        <p class="lead">The revolution is here! Earn money while doing what you love! Build your brand and business
            by feeding your neighbourhood!</p>
    </div>

    <hr class="featurette-divider">

    <div class="how-to">
        <!-- Requirements -->
        <h2 class="faq-heading">Start your kitchen in 3 steps</h2>
        <div class="steps">
            <li class="step">
                <div class="step-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="40 0 280 280"
                         xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 280 280">
                        <g>
                            <path d="M189,47V16h-25.514C159.951,6,150.92,0,140.333,0s-19.618,6-23.153,16H90v31H189z"/>
                            <path d="m206,16v31.055 14.189 2.756h-132v-0.818-16.127-31.055h-33v264h198v-264h-33zm-66,229h-66v-16h66v16zm0-66h-66v-16h66v16zm0-66h-66v-16h66v16zm38.582,146.313l-16.657-16.656 11.314-11.314 5.343,5.344 16.343-16.344 11.314,11.314-27.657,27.656zm0-66l-16.657-16.656 11.314-11.314 5.343,5.344 16.343-16.344 11.314,11.314-27.657,27.656zm0-66l-16.657-16.656 11.314-11.314 5.343,5.344 16.343-16.344 11.314,11.314-27.657,27.656z"/>
                        </g>
                    </svg>
                </div>
                <h4>1. Set up your kitchen profile</h4>
                <div class="featurette-mini-divider second-featurette"></div>
                <p>Register your kitchen, meet the requirements.</p>
                <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal">See full
                    requirements</a>
            </li>
            <li class="step">
                <div class="step-icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="45.005px" height="45.005px" viewBox="0 0 45.005 45.005"
                         style="enable-background:new 0 0 45.005 45.005;"
                         xml:space="preserve">
                    <g>
                        <path d="M30.249,38.414l-7.399,2.664c-0.113,0.041-0.232,0.062-0.35,0.062s-0.237-0.021-0.35-0.062l-7.697-2.771
                            c2.616-2.811,5.431-5.64,8.047-8.45C25.148,32.702,27.6,35.565,30.249,38.414z M44.562,4.052c-0.275-0.192-0.627-0.241-0.941-0.126
                            L22.5,11.53L1.378,3.926C1.063,3.812,0.711,3.86,0.437,4.052C0.163,4.248,0,4.562,0,4.897v27.481c0,0.435,0.272,0.822,0.681,0.969
                            l11.283,4.063c3.099-2.886,6.198-5.771,9.297-8.654c-0.977-1.049-1.953-2.101-2.93-3.148c-2.063,1.479-5.119,0.917-6.957-1.352
                            c-1.976-2.395-3.682-6.674-2.031-8.427c1.753-1.652,6.034,0.056,8.427,2.031c2.269,1.839,2.832,4.893,1.352,6.956
                            c1.062,0.989,2.315,1.944,3.378,2.935c0.996-0.928,1.796-1.818,2.791-2.743c-0.84-1.435-0.283-3.444,1.084-4.591
                            c1.562-1.312,7.357-6.287,7.516-6.129c0.154,0.155-3.91,3.995-6.625,6.718l0.453,0.452c2.898-2.54,6.992-6.35,7.148-6.195
                            c0.154,0.156-3.783,4.122-6.408,6.936l0.449,0.45c2.811-2.629,6.775-6.567,6.932-6.413c0.154,0.157-3.654,4.249-6.195,7.148
                            l0.449,0.449c2.725-2.715,6.562-6.783,6.717-6.626c0.156,0.157-6.117,7.509-6.125,7.52c0-0.001,1.332-1.563-0.004-0.004
                            c-1.275,1.493-3.182,1.945-4.59,1.084c-0.914,0.982-1.826,1.963-2.741,2.944c3.137,2.921,6.274,5.84,9.413,8.761l11.559-4.162
                            c0.41-0.146,0.683-0.534,0.683-0.969V4.897C44.999,4.562,44.837,4.248,44.562,4.052z"/>
                    </g>
                </svg>
                </div>
                <h4>2. Create your menu</h4>
                <div class="featurette-mini-divider third-featurette"></div>
                <p>You have complete control over what and when to offer your meals.</p>
            </li>
            <li class="step">
                <div class="step-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="Capa_1" x="0px" y="0px" viewBox="0 0 192.933 192.933"
                         style="enable-background:new 0 0 192.933 192.933;" xml:space="preserve" width="512px"
                         height="512px">
                        <g>
                            <g>
                                <path d="M85.889,49.632c0.704-1.241,1.056-2.685,1.056-4.32c0-2.596-0.955-4.565-2.864-5.913    c-1.098-0.788-2.942-1.533-5.531-2.238v16.355C82.094,53.356,84.535,52.061,85.889,49.632z"
                                      fill="#91DC5A"/>
                                <path d="M75.591,16.14c-2.739,0.107-4.69,0.931-5.848,2.488c-1.164,1.557-1.742,3.18-1.742,4.881    c0,2.053,0.686,3.658,2.053,4.821c1.372,1.158,3.222,1.969,5.537,2.423V16.14z"
                                      fill="#91DC5A"/>
                                <path d="M77.041,71.495c19.744,0,35.742-16.003,35.742-35.748S96.785,0,77.041,0    S41.293,16.003,41.293,35.748C41.293,55.492,57.296,71.495,77.041,71.495z M65.626,32.155c-2.148-1.987-3.222-4.75-3.222-8.27    c0-3.151,1.152-5.991,3.467-8.521c2.315-2.524,5.549-3.813,9.72-3.855V7.375h2.954v4.075c4.123,0.292,7.292,1.504,9.499,3.646    c2.208,2.142,3.359,4.97,3.473,8.485h-5.448c-0.137-1.575-0.567-2.936-1.271-4.075c-1.307-2.094-3.389-3.192-6.247-3.3v15.15    c4.809,1.349,8.073,2.613,9.798,3.789c2.798,1.951,4.195,4.833,4.195,8.646c0,5.519-1.796,9.434-5.376,11.755    c-1.987,1.283-4.857,2.13-8.61,2.554v6.033h-2.954v-6.033c-6.033-0.394-10.126-2.53-12.286-6.408    c-1.181-2.094-1.772-4.923-1.772-8.485h5.501c0.167,2.84,0.615,4.911,1.343,6.217c1.295,2.345,3.699,3.658,7.208,3.95V36.428    C71.092,35.563,67.768,34.148,65.626,32.155z"
                                      fill="#91DC5A"/>
                                <path d="M182.248,145.663c3.741-3.902,4.087-11.152,3.473-20.836c-4.41-0.292-10.901,0.436-13.193,0    c-5.579-11.086-13.587-19.75-25.001-25.001c0.388-7.238,1.366-13.909,5.555-17.358c-10.185-0.698-18.802,6.188-24.297,12.501    c-20.568-21.373-81.692-25.174-111.109,5.555c-5.072-0.382-4.493-10.681,2.082-9.028c-10.722-7.303-16.63,12.715-6.247,15.275    c-8.652,12.345-9.469,38.874,2.082,48.606c1.689,14.625,4.272,28.349,11.385,37.55h23.342c-0.615-4.738-1.229-9.804-0.698-15.323    c14.177,3.21,31.01,4.153,47.914,2.775c2.602,4.338,5.132,8.73,8.234,12.554h23.104c-0.841-6.11-1.76-12.524-0.095-18.802    C134.299,173.063,162.922,165.801,182.248,145.663z M150.367,114.665c3.162,0,5.74,2.572,5.74,5.74s-2.578,5.746-5.74,5.746    c-3.168,0-5.746-2.578-5.746-5.746S147.199,114.665,150.367,114.665z M102.603,92.403c-15.89-5.478-33.349-5.424-49.161,0.167    l-1.802-3.717c16.958-5.997,35.682-6.062,52.729-0.179L102.603,92.403z"
                                      fill="#91DC5A"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <h4>3. Get paid</h4>
                <div class="featurette-mini-divider first-featurette"></div>
                <p>Fulfill delivery or pickup orders and funds will be deposited directly into your bank account within
                    days!</p>
            </li>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="what-to-expect">
        <!-- What to expect -->
        <h2 class="faq-heading">What to expect</h2>
        <div class="steps">
            <li class="expect">
                <div class="partner-screenshot">
                    <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#sellDishScreenModal">
                        <img id="sell-dishes-screen" src="{% static 'assets/screens/sell-dishes.png' %}"/>
                    </a>
                </div>
                <h4>Sell whenever you want</h4>
                <div class="featurette-mini-divider second-featurette"></div>
                <p>Create dishes and have complete control, you decide the price, when, and how much to sell. All within
                    our website!</p>
            </li>
            <li class="expect">
                <div class="partner-screenshot">
                    <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#calendarScreenModal">
                        <img id="calendar-screen" src="{% static 'assets/screens/offers-calendar.png' %}"/>
                        </svg>
                    </a>
                </div>
                <h4>Take control of your schedule</h4>
                <div class="featurette-mini-divider third-featurette">
                </div>
                <p>See what's on your calendar, change your availability, choose your own schedule!</p>
            </li>
            <li class="expect">
                <div class="partner-screenshot">
                    <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#ordersScreenModal">
                        <img id="orders-screen" src="{% static 'assets/screens/orders.png' %}"/>
                    </a>
                </div>
                <h4>See all your orders</h4>
                <div class=" featurette-mini-divider first-featurette">
                </div>
                <p>See your ongoing orders, past orders and customer reviews. We made it easy!</p>
            </li>

        </div>
    </div>


    <hr class="featurette-divider">
    <div class="partner-apply">
        <h2 class="faq-heading">Start earning today!</h2>
        <p class="lead">Find out why Umami is the #1 platform for micro home kitchens!</p>
        <a href="/kitchen/guide">Apply Now</a>
    </div>

    <!-- FAQ -->
    <hr class="featurette-divider">
    <h2 class="faq-heading">Frequently Asked Questions</h2>
    <div class="faq-vertical-wrapper pull-left">
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq1">
                <span>How do I get paid?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq1" class="collapse">
                You will get paid through Stripe. Your Stripe account will receive the funds from a sale, minus fees.
                This happens when the customer makes an order or pre-order. The funds can take up to 3 business days to
                be paid out to the bank account you specified on Stripe.
            </div>
        </div>
        {#        <div class="faq-container">#}
        {#            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq30">#}
        {#                <span>How can I get certified?</span>#}
        {#                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>#}
        {#            </button>#}
        {#            <div id="faq30" class="collapse">#}
        {#                You need a licensed food facility to be able to sell on Umami. To obtain a license you will need to have#}
        {#                a Food Handler's License, and have your kitchen inspected by your county. <a href="/kitchen/guide">Learn more.</a>#}
        {#            </div>#}
        {#        </div>#}
        {#                <div class="faq-container">#}
        {#            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq4">#}
        {#                <span>What items can’t I sell?</span>#}
        {#                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>#}
        {#            </button>#}
        {#            <div id="faq4" class="collapse">#}
        {#                You cannot sell raw oysters or raw milk products or alcoholic beverages. You cannot manufacture your own#}
        {#                ice creams.#}
        {#            </div>#}
        {#        </div>#}
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq2">
                <span>What are bundles?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq2" class="collapse">
                <ul>
                    <li>A meal bundle is a combination of multiple dishes or meals. This feature allows the users to
                        order
                        multiple meals with a single click.
                    </li>
                    <li>Meal bundles will increase the total of a single sale for you. It is popular amongst students
                        during exam
                        season and those who are looking for ways to avoid the headache of meal planning and prepping.
                    </li>
                </ul>
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq13">
                <span>How will users receive my dishes?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq13" class="collapse">
                You can deliver or allow users to come pickup their orders. The delivery
                fee Umami charges the user is a sum of the $2.99 flat base fee for the first 2 miles, plus an additional
                $0.50 every mile thereafter. You get to set your delivery preference (how often, maximum range). If you
                opt
                out of delivery you can opt in anytime you want! This is a great way to make additional cash!
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq3">
                <span>What happens if I can’t make the delivery?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq3" class="collapse">
                You can cancel your order via the orders page. We also suggest you contact the buyer ASAP. You can find
                their contact details through the "orders" page or <a target="_blank" href="/contact">contact us.</a>
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq5">
                <span>I am selling out all the time! What’s next?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq5" class="collapse">
                You can only make up to $50,000 a year in total food sales (not including delivery). Therefore, if
                you are close to exceeding this limit, you can contact us and we can help you find a catering kitchen
                that has no limits!
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq6">
                <span>What happens if my customer is not happy?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq6" class="collapse">
                If your customer makes a complaint to you, we’d suggest that you reach out to them for feedback and
                resolve their issue. This is helpful in understanding your customers and most of the time, it provides
                them with a good user experience despite the complaint. We also suggest that you issue a refund.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq10">
                <span>Can I cook part time?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq10" class="collapse">
                We know you have other obligations, so you set your own hours and pick how much you want to work! You
                may find yourself becoming better and faster as your kitchen fulfills more orders, so you can work
                smarter and get paid more!
            </div>
        </div>
    </div>


    <div class="faq-vertical-wrapper pull-right">
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq7">
                <span>What fees do you charge?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq7" class="collapse">
                Umami takes a 10% platform fee from each total sale, this ensures that we can keep running our platform
                and continue to improve your experience.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq14">
                <span>Can I have multiple kitchens?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq14" class="collapse">
                You can have multiple kitchens with different brand names to cater to more specialized cuisine. You will
                have to create a separate verified Umami account.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq29">
                <span>Do you need insurance?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq29" class="collapse">
                Although not required, we recommend that you get small food vendor insurance ($29/month from
                providers like <a target="_blank"
                                  href="https://www.fliprogram.com/home-food-business-insurance">FLIP</a>) for your
                business. We currently do not provide insurance to individual kitchens, however, you can
                apply for insurance aid by emailing us, and on a case by case basis, we can help you with your insurance
                fees.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq8">
                <span>How do I advertise?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq8" class="collapse">
                Umami is a growing platform that reaches many customers. And as we grow, your kitchen and dish offerings
                will get more user traffic in return. You are also recommended to advertise your Kitchen and Dish pages
                by sharing the corresponding links on social media or in the form of flyers.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq9">
                <span>Can I take a vacation?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq9" class="collapse">
                Of course! You are your own boss after all, you can simply not list any dishes for the time you are
                away.
                Please make sure you do not have any pending orders or upcoming dishes that you cannot fulfill.
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq11">
                <span>How much time commitment will I need?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq11" class="collapse">
                This is highly dependent on the type of meals you prepare and how you prepare them. Some simple recipes
                will take less than an hour, more complex and niche recipes might take half a day. If you are doing
                deliveries as well, the time it takes to deliver will be dependent on the delivery range you set!
            </div>
        </div>
        <div class="faq-container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq12">
                <span>What happens if I can’t reach the customer?</span>
                <span class="glyphicon glyphicon-chevron-down faq-down-arrow"></span>
            </button>
            <div id="faq12" class="collapse">
                In the unlikely case that the customer is not available while you are making a delivery, please make
                attempts to contact them. If you have nearby deliveries, you can make them first before making another
                attempt. Please contact us as well if you are having issues with a delivery.
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            {% include "common/footer.html" %}
        </div>
    </div>
    {% include "kitchen/kitchen_requirements.html" %}
    {% include "kitchen/screenshots_modal.html" %}
</footer>

</div>
<!-- /.container -->

</body>

</html>
