{% load static from staticfiles %}
{% load common_filter %}

{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Kitchen Not Complete" %}</title>
        <meta charset="UTF-8">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    </head>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <body>
    <div class="account-management-wrapper">
        <div class="inner-wrapper profile-edit-wrapper">
            <h3>Complete the following step(s)</h3>
            {% if need_stripe %}
                <div class="stripe-help">
                    <h5>Info you need for Direct Deposit (<5min):</h5>
                    <br>
                    <ol>
                        <li><b>Business website:</b> {{ social_url }}</li>
                        <li><b>Statement Descriptor:</b> {{ title }}</li>
                        <li><b>Last 4 digits of SSN or ITIN</b></li>
                        <li><b>Bank Account # & Routing #</b></li>
                    </ol>
                </div>
                <li><a href="javascript:void(0)" onclick="connectWithStripe()">SETUP DIRECT DEPOSIT</a></li>
            {% endif %}
            {% if need_verification %}
                <li><a href="/kitchen/verification">VERIFY YOUR KITCHEN</a></li>
            {% endif %}
        </div>
    </div>

    <footer class="footer">
        {% include "common/footer.html" %}
    </footer>
    </body>
    </html>
{% endblock %}