{% load static from staticfiles %}
<!-- Modal -->
<div class="modal fade screenshot-modal-wrapper" id="sellDishScreenModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="screenshot-modal">
            <img src="{% static 'assets/screens/sell-dishes-modal.png' %}"/>
        </div>
    </div>
</div>

<div class="modal fade screenshot-modal-wrapper" id="calendarScreenModal" role="dialog">
    <div class="modal-dialog wide-modal">
        <!-- Modal content-->
        <div class="screenshot-modal">
            <img src="{% static 'assets/screens/modal-calendar.png' %}"/>
        </div>
    </div>
</div>

<div class="modal fade screenshot-modal-wrapper" id="ordersScreenModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="screenshot-modal">
            <img src="{% static 'assets/screens/modal-orders.png' %}"/>
        </div>
    </div>
</div>