{% load static from staticfiles %}
{% load i18n %}

{% load dish_filter %}
{% load orders_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami - Upcoming Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static 'vendor/animate/animate.css' %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static 'vendor/select2/select2.min.css' %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'styles/upcoming-orders.css' %}">
    <link rel="stylesheet" href="{% static 'styles/upcoming-orders-util.css' %}">

    <!--===============================================================================================-->
</head>
<header>
    {% include "common/navigation.html" %}
</header>
<body>
{% if upcoming_orders|length > 0 %}
    <div class="limiter">
        <div class="upcoming-wrapper">
            <div class="umami-page-header">
                <h1>{% trans "Upcoming Orders" %}</h1>
                <h3>Included below are all the dishes you will need to fulfill</h3>
            </div>
        </div>
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column7">Time</th>
                            <th class="column2">Order ID</th>
                            <th class="column3">Dish</th>
                            <th class="column4">Extras</th>
                            <th class="column5">Quantity</th>
                            <th class="column6">Method</th>
                            <th class="column8">Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in upcoming_orders %}
                            {% for item in order.items %}
                                <tr>
                                    <td class="column1">{{ order.handoff_date|get_simplified_date }}</td>
                                    <td class="column7">{{ order.handoff_time_start|get_pretty_time }}
                                        - {{ order.handoff_time_end|get_pretty_time }}</td>
                                    <td class="column2">
                                        <a href="/order?orderId={{ order.id }}"
                                           target="_blank">{{ order.id|upper }}</a>
                                    </td>

                                    <td class="column3">
                                        {% for choice in item.choices %}
                                            <div>
                                                {% if item.choices|length > 1 %}
                                                    <span>{{ forloop.counter }}. </span>
                                                {% endif %}
                                                {{ choice.dish.name }}
                                            </div>
                                            {% if choice.option %}
                                                <i>({{ choice.option.name }})</i>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="column4">
                                        <span>
                                        {% for choice in item.choices %}
                                            {{ choice.extras|joinby:", " }}
                                        {% endfor %}
                                        </span>
                                    </td>

                                    <td class="column5">{{ item.quantity }}</td>
                                    <td class="column6">{{ order.handoff_type|upper }}</td>
                                    <td class="column8"><a
                                            href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                                            target="_blank">
                                        {{ order.handoff_address|get_shortened_address }}</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% else %}
    <div class="center-page-wrapper">
        <div class="umami-message">You currently have no upcoming orders.</div>
    </div>
{% endif %}

<footer>
    <div class="footer">
        {% include "common/footer.html" %}
    </div>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script>
        function navigateToOrder(link) {
            window.open(link);
        }
    </script>
</footer>

</body>
</html>