{% load static from staticfiles %}
{% load common_filter %}

{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <head>
        {% include "tracking/google_analytics.html" %}
        <title>{% trans "Edit Profile" %}</title>
        <meta charset="UTF-8">
        <!-- Vendor CSS -->
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
    </head>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <body>
    <div class="account-management-wrapper">
        <div class="inner-wrapper profile-edit-wrapper">
            <form class="edit-form" id="verification-form" enctype="multipart/form-data">
                <h4>Kitchen Verification</h4>
                <div class="alert alert-danger verification-error" role="alert" style="display: none;"></div>
                {% if not kitchen.has_identification %}
                    <div class="sub-heading">
                        <p>You can also choose to verify your kitchen by sending an email to <a
                                href="mailto:umami@eatumami.co">umami@eatumami.co</a> with your
                            photo ID and other relevant information. ID verification will take <b>1 to 2 days</b>.</p>
                    </div>
                    <div class="profile-field-wrapper">
                        <label for="photo_id">Photo ID</label>
                        <input class="form-control profile-form" id="photo_id" name="photo_id" type="file"
                               accept="image/*" required>
                    </div>
                    <div class="permit-checkbox">
                        <label>
                            <input type="checkbox" name="permit_checkbox">
                            <span>I also have a MEHKO permit number</span>
                        </label>
                    </div>
                {% endif %}
                <div class="permit-info" {% if not kitchen.has_identification %} style="display: none;" {% endif %}>
                    <div class="sub-heading">
                        <p>Having a MEHKO (Microenterprise Home Kitchen Operations) permit issued by your county will
                            let you sell immediately!</p>
                    </div>
                    <div class="profile-field-wrapper">
                        <label for="permit_number">Permit Number</label>
                        <input class="form-control profile-form" name="permit_number" type="text" maxlength="50"
                                {% if kitchen.has_identification %} required {% endif %}>
                    </div>

                    <div class="profile-field-wrapper">
                        <label for="permit_county">Issuing County</label>
                        <input class="form-control profile-form" name="permit_county" type="text" maxlength="100"
                                {% if kitchen.has_identification %} required {% endif %}>
                    </div>
                    <div class="profile-field-wrapper">
                        <label for="Expires">Expires</label>
                        <input class="form-control profile-form" name="date_expires" type="text"
                                {% if kitchen.has_identification %} required {% endif %}>
                    </div>
                </div>
                {% if kitchen.stripe_access_token %}
                    <button class="verification-submit-btn btn btn-success" type="submit">Submit</button>
                {% else %}
                    <button class="verification-next-btn btn btn-success" type="submit">Next</button>
                {% endif %}
                </button>
            </form>
        </div>
    </div>
    <div class="loading"></div>
    <footer class="footer">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
        <script>
            const stripe_setup_msg = "<p>You will be directed to Stripe to complete your electronic direct deposit. Please have your bank info and SSN/ITIN ready.<br><br> If you choose not to complete this right now, you can always complete it at a later time.</p>";
            $(function () {
                $('#verification-form').on('submit', function () {
                    $(".loading").show();

                    const formData = new FormData($(this)[0]);
                    const hasPermit = $('input[name="permit_checkbox"]').prop('checked');
                    if (hasPermit || !$("#photo_id").length) {
                        formData.append("has_permit", "true");
                    }
                    $.ajax({
                        headers: {"Authorization": `Token ${getCookie("umamiAuthToken")}`},
                        processData: false,
                        contentType: false,
                        type: "POST",
                        url: "/api/kitchen_verify",
                        data: formData,
                        success: function (data) {
                            console.log(data)
                            $(".loading").hide();
                            if ($(".verification-submit-btn").length) {
                                window.location.href = "/accounts/dashboard";
                            } else {
                                BootstrapDialog.confirm({
                                    title: 'Next: Payment Setup',
                                    message: stripe_setup_msg,
                                    btnCancelLabel: 'Not right now', // <-- Default value is 'Cancel',
                                    btnOKLabel: 'Next: Payment Setup', // <-- Default value is 'OK',
                                    callback: function (result) {
                                        $(".loading").show();
                                        // result will be true if button was click, while it will be false if users close the dialog directly.
                                        if (result) {
                                            window.location.href = stripe_connect_url;
                                        } else {
                                            window.location.href = "/accounts/dashboard";
                                        }
                                    }
                                });
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest.responseJSON)
                            $(".loading").hide();
                            const $verificationError = $('.verification-error');
                            $verificationError.show();
                            $verificationError.append(`<div class="verification-error-message">${XMLHttpRequest.responseJSON.detail}</div>`);
                        }
                    });
                    return false;
                });

                $('input[name="permit_checkbox"]').on("click", function () {
                    if ($(this).prop('checked')) {
                        $(".permit-info").show();
                        $("input[name='permit_number']").prop("required", true);
                        $("input[name='permit_county']").prop("required", true);
                        $("input[name='date_expires']").prop("required", true);
                    } else {
                        $(".permit-info").hide();
                        $("input[name='permit_number']").prop("required", false);
                        $("input[name='permit_county']").prop("required", false);
                        $("input[name='date_expires']").prop("required", false);
                    }
                });

                $('input[name="date_expires"]').datepicker({
                    format: 'yyyy-mm-dd',
                    startDate: '0d',
                    autoclose: true,
                    todayHighlight: true
                });
            });
        </script>
        {% include "common/footer.html" %}
    </footer>
    </body>
    </html>
{% endblock %}

