html, body {
    background: #ffffff;
    color: var(--dark-text-color);
    height: 100%;
    overflow: visible;
}

.food-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.food-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    min-height: calc(100vh - 390px);
}

.inner-message-wrapper {
    text-align: center;
    color: grey;
    padding-top: 100px;
}

.dish-select {
    position: relative;
    height: 395px;
    width: 360px;
    border-radius: 5px;
    background-color: white;
    z-index: 992;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

div.text-content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 999;
    height: 270px !important;
    width: 360px !important;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-edit-action:hover div.text-content {
    opacity: 1;
}

.dish-image {
    position: relative;
    z-index: 1;
    height: 270px !important;
    width: 360px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 0;
    object-fit: cover;
}

.dish-info {
    position: relative;
    z-index: 1;
    height: 125px;
}

.dish-title {
    color: var(--dark-text-color);
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    max-width: 275px;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
}

.dish-title span {
    text-overflow: ellipsis;
}

.dish-price {
    position: relative;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    float: right;
}

.line-item {
    height: 25px;
    margin: 5px 0;
}

.dish-rating-cr {
    margin-left: -6px;
}

.food-tags-cr {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    max-height: 25px;
}

.selected-dish {
    background-color: var(--main-button-color);
    border-color: var(--main-button-color) !important;
}

.selected-dish span {
    color: #ffffff;
}

.selected-dish:after {
    content: "\2713";
    color: #ffffff;
    position: absolute;
    margin-left: 30px;
}

.food-tags-cr span {
    font-size: 13px;
    padding: 1px 5px;
    margin-right: 2px;
    line-height: 25px;
}

.dish-actions {
    display: flex;
    justify-content: space-between;
}

.dish-actions a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
    width: 110px;
    text-align: center;
}

.chef-helpful-links a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.chef-helpful-links a span {
    margin-left: 10px;
}

.chef-helpful-links {
    display: flex;
    justify-content: center;
}

#sell-dishes-btn {
    width: 100%;
    margin: 18px;
}

.footer {
    border-top: 1px solid #e8ebe9;
}