@media screen and (min-height: 400px) {
    #BundleOverlayCarousel .bundle-carousel {
        height: 240px !important;
        max-height: 240px !important;

    }

    #BundleOverlayCarousel .carousel-indicators {
        bottom: 0px !important;
    }
}

@media screen and (min-height: 880px) {
    #BundleOverlayCarousel .bundle-carousel {
        height: 320px !important;
        max-height: 320px !important;
    }

    #BundleOverlayCarousel .carousel-indicators {
        bottom: 10px !important;
    }
}


@media screen and (max-width: 800px) {
    #overlay-bundle #BundleOverlayCarousel .bundle-carousel {
        height: 320px !important;
    }

}


.bundle-carousel {
    text-align: -webkit-center;
}

.bundle-overlay-carousel-control.left, .bundle-overlay-carousel-control.right {
    background: none !important;
    filter: progid:none !important;
}

.bundle-offer-collapse-button {
    font-size: 20px;
    min-height: 40px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 85%;
    background-color: rgb(247, 247, 247);
    text-align: start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bundle-dishes {
    margin-top: 15px;
}

.bundle-dishes h4 {
    text-align: start;
    margin-left: 50px;
}

.bundle-offer-title {
    margin-left: 15px;
    min-height: 40px;
    line-height: 40px;
}

.bundle-offer-title span {
    height: 40px;
}

.bundle-offer-expand {
    text-align: start;
    background-color: rgb(247, 247, 247);
    width: 85%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #d9d9d9;
    margin-left: auto;
    margin-right: auto;
}

.bundle-food-tags span {
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.bundle-offer-content {
    padding: 15px;
}

.collapsing {
    transition: height 0.1s;
}