html, body {
    background-color: #eef2fb;
}

h3 {
    margin-bottom: 25px;
}

@media (max-width: 1040px) {
    .checkout-wrapper {
        width: 600px !important;
    }
}

.alert-danger {
    text-align: center;
    display: none;
}

.checkout-container {
    min-height: calc(100vh - 275px);
}

.checkout-error-message {
    font-size: 16px;
    margin: 10px;
}

.checkout-error-line {
    margin: 20px;
}

.flex-wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    max-width: 1050px;
}

.order-info-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 650px;
}

.order-wrapper {
    float: right;
    display: block;
    width: 600px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    min-height: 386px;
    margin: 20px;
}

.payment-wrapper, .checkout-wrapper {
    padding: 0 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
}

.payment-wrapper {
    width: 600px;
}

.checkout-wrapper {
    width: 350px;
    height: 320px;
}

.payment-wrapper h3 {
    text-align: center;
}

.alert-info {
    max-width: 560px;
    margin: auto;
}

#delivery-address-wrapper {
    display: flex;
    padding: 0 20px;
}

.address-selector-wrapper {
    text-align: left;
}

#new-address-error {
    color: #FFFFFF;
    padding: 0;
    font-size: 13px;
}

#new-address-error span {
    display: table;
    background-color: var(--main-button-color);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px auto;
}

#new-address-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

#line1 {
    margin-top: 0px !important;
}

.checkout-address-wrapper {
    width: 300px;
    margin: 0 auto 10px auto;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.checkout-address-wrapper input {
    margin: 0 5px;
}

.order-item-info {
    text-align: start;
    display: inline;
    word-wrap: break-word;
    width: 405px;
}

.order-item-option {
    color: grey;
}

.checkout-wrapper h3 {
    text-align: center;
}

.order-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.order-items-kitchen {
    float: right;
    font-size: 13px;
    color: grey;
}

.order-item-handoff {
    padding-bottom: 5px;
    font-weight: bold;
}

.order-price-wrapper {
    width: 100%;
    padding-bottom: 20px;
}

.order-item-delivery-fee {
    color: grey;
    font-weight: normal;
}

.breakdown-container {
    display: flex;
    justify-content: space-between;
}

.order-disclaimer {
    text-align: center;
    font-size: 12px;
}

.qty-dropdown {
    height: 22px;
    width: 42px;
    text-align: center;
}

.order-sub-total {
    display: inline;
    right: 25px;
}

.order-item-remove {
    display: inline;
    cursor: pointer;
    color: grey;
}

#order-total {
    font-weight: 400;
}

.tax-and-fees .glyphicon-info-sign {
    color: grey;
    cursor: pointer;
}


.order-items-wrapper {
    padding: 0 20px 10px 20px;
    text-align: start;
    margin-bottom: 10px;
}

.order-item-pickup-location {
    float: right;
}

.divider {
    max-width: 560px;
}

.checkout-fee-breakdown {
    font-size: 15px;
    font-weight: 300;
}

.numeric-value {
    font-weight: 400;
}

.numeric-value:before {
    content: "\0024";
    margin-right: 1px;
}

.btn-info {
    margin-bottom: 10px;
    width: 450px;
}

.panel-default {
    margin-bottom: 25px;
}

.panel {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-collapse {
    margin-bottom: 25px;
}

.order-extra-items {
    text-align: start;
    width: 400px;
    color: grey;
}

.order-extra-item {
    display: inline-block;
}

.order-extra-item:not(:first-child):before {
    content: " \002C ";
    margin-right: 5px;
}

textarea {
    resize: none;
}

.past-credit-card label {
    width: 97%;
    margin-left: 10px;
    cursor: pointer;
}

.credit-card-logo {
    height: 30px;
    margin-right: 5px;
}

.last4 {
    font-weight: normal;
}

.card-expiration-date {
    margin-left: 5px;
    float: right
}

.use-new-card {
    margin-top: 15px;
    margin-left: 10px;
}

.checkout-pickup-address-wrapper {
    margin: 10px auto;
}

.handoff-date, .handoff-time-range {
    font-weight: 500;
}

#special-notes {
    margin: 0 auto 30px auto;
    width: 560px;
}

.past-credit-card {
    line-height: 35px;
    min-width: 229px;
}

.past-credit-card label input {
    margin-right: 10px;
}

.place-order-btn button {
    display: block;
    color: white;
    font-weight: 500;
    width: 310px;
    border-radius: 1px;
    margin: 10px auto;
}

.footer {
    bottom: 0;
}

.modal-dialog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 70%;
    justify-content: center;
}
