/* Hide file input */

html, body {
    background-color: #f7f7f7;;
}

#dish-error, #offer-error {
    color: red;
}

#image-cropper {
    margin-bottom: 15px;
}

.input-label-inline {
    display: inline-block !important;
}

.input-line-item {
    position: relative;
    height: 34px;
}

.option-form, .dish-name-price-form {
    display: inline-block;
    width: 300px !important;
    margin-top: 0px;
    margin-bottom: 0;
    float: left;
}

.extra-form {
    width: 300px !important;
}

.extras-input-wrapper {
    position: relative;
    height: 34px;
    width: 300px;
    display: inline-block;
    float: left;
}

.extra-price-form, .option-price-form, .dish-price-form {
    display: inline;
    width: 75px !important;
    margin-top: 0px;
}

.dish-name {
    float: left;
}

.dish-price {
    width: 99px !important;
}

.base-price-wrapper {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

.small-input-container {
    display: inline-flex;
    float: right;
}

.small-input-group {
    width: min-content;
}

.small-input-group .form-control {
    float: none;
}

.add-extra, .add-option {
    margin-top: 15px;
}

#ready-now-button, #ready-later-button {
    margin-bottom: 15px;
}

#extras-section {
    display: block;
}

.optional-photo {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 144px;
    width: 200px;
    border: dashed #428bca;
    border-width: 1px;
    z-index: 11;
}

.input-label {
    text-align: start;
    display: block;
    margin-left: 140px;
    margin-top: 20px;
    font-weight: 500;
    width: fit-content;
}

input[name=available], input[name=price] {
    margin-top: 0;
}

.optional-photo label {
    cursor: pointer;
    height: 144px;
    width: 200px;
}

.plus-icon {
    position: absolute;
    top: 35px;
    left: 30px;
    cursor: pointer;
    color: #428bca;
}

.plus-icon p {
    margin-top: 10px;
}

.preview {
    display: block;
    cursor: pointer;
    position: relative;
    height: 144px;
    width: 200px;
    z-index: 7;
    top: -1px;
    left: -1px;
    border: 0;
}

.dish-placeholder {
    position: absolute;
    height: 360px;
    width: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    object-fit: cover;
}

#dish-form h3 {
    margin-bottom: 30px;
}

input[type='range'] {
    height: 7px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;

}

input[type='range']::-webkit-slider-thumb {
    height: 10px;
    width: 5px;
    background: #eee;
}

.btn-file {
    width: 425px;
}

.inner-wrapper button {
    width: 425px;
}

.dish-input {
    width: 425px;
    max-width: 425px;
    line-height: normal;
    height: 34px;
}

.rotate-icon {
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#myCanvas {
    background-color: white;
}

.dish-input {
    margin-top: 0 !important;
}

.rotate-icon:hover {
    cursor: pointer;
}

.finished-dish-btn {
    margin-top: 20px;
}

.twitter-typeahead {
    display: inline !important;
}

#extras-list, #options-list, #ingredients-list, #tags-list {
    width: 425px;
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin-top: 15px;
    word-wrap: break-word;
    margin-bottom: 15px;
}

#ingredients-list li, #tags-list li, #extras-list li, #options-list li {
    display: inline-block;
    word-wrap: break-word;
    margin-right: 10px;
}

#ingredients-list li:hover, #tags-list li:hover, #extras-list li:hover, #options-list li:hover {
    text-decoration: line-through;
}

#tags-section, #ingredients-section, #extras-section, #options-list, #extras-list {
    position: relative;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#options-section, #name-section {
    position: relative;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 34px;
}

.add-tag, .add-ingredient {
    position: absolute;
    width: 150px !important;
    top: 0;
    right: 0;
}

.new-dish-extra-item, .new-dish-option-item {
    cursor: pointer;
    margin-bottom: 5px;
}

.list-entry {
    position: relative;
    color: #ff661a;
    z-index: 1;
    cursor: pointer;
    padding: 3px 7px;
    margin-bottom: 10px;
    border: 1px solid #ff661a;
    border-radius: 15px;
    display: inline-block;
    font-size: 13px;
}

.dish-offer-submit {
    margin-top: 30px;
    width: 250px !important;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
    width: 300px;
    position: relative !important;
    left: auto !important;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.tt-input {
    margin-bottom: 0;
}

#new-offer-form, #edit-offer-form {
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

.offer-input-label {
    float: left;
}

.recurring-choice-wrapper {
    display: flex;
    justify-content: space-between;
}

.recurring-choice-wrapper label {
    cursor: pointer;
    border-radius: 5px;
    text-align: start;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}

.recurring-description {
    font-size: 12px;
    font-weight: normal;
}

.offer-input-line-item {
    position: relative;
    line-height: 34px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.last-line-item {
    overflow: unset !important;
    height: 30px;
}

.offer-small-input-group {
    width: 170px;
}

.offer-small-input-group .input-group-addon {
    width: 85px;
}

.offer-input-line-item .tiny-form {
    float: right;
}

.tiny-form {
    width: 100% !important;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.delivery-checkbox {
    display: inline-block;
}

.transpotation-wrapper {
    float: left;
    display: block;
}

.transportation-input-line-item {
    position: relative;
    line-height: 34px;
    overflow-y: auto;
}

.time-form {
    display: inline-block;
    width: 100px;
}

.time-range {
    float: right;
}

input[type=radio] {
    margin-right: 5px;
}

#delivery_time_slots label, #pickup_time_slots label {
    font-weight: normal !important;
}

.time-selector {
    margin-bottom: 15px;
    height: 34px;
}

.time-small-input-group {
    width: 170px;
}

.time-small-input-group .input-group-addon {
    width: 65px;
}

.new-bundle {
    padding-bottom: 30px;
}

.inner-wrapper {
    margin-bottom: 50px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 800px) {
    .offer-item, .offer-form-wrapper {
        width: 400px !important;
        margin: auto;
    }

    .offer-input-line-item, .transportation-input-line-item {
        margin: 0 40px;
    }
}



