html {
    overflow-y: auto;
}

html, body {
    height: 100%;
}

.sub-heading {
    background-color: #efefef;
    padding: 20px 45px;
    margin: 20px;
}

.alert-warning {
    text-align: center;
}

.profile-edit-wrapper h4 {
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 500;
}

.account-management-wrapper h3 {
    margin-bottom: 20px;
}

.account-management-wrapper {
    height: 100%;
    padding-top: 80px !important;
}

.profile-form {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block !important;
    width: 250px !important;
}

.profile-field-wrapper {
    width: 450px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-field-wrapper label {
    float: left;
    margin-top: 7px;
}

.profile-field-wrapper input {
    float: right;
}

.profile-edit-wrapper {
    width: 800px !important;
}

.settings-button {
    width: 300px;
    margin-left: auto;
    border: 1px solid #d3d3d3;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: auto;
}

.profile-update-btn {
    margin-top: 30px;
    border-radius: 1px !important;
    display: inline-block;
}

.edit-form {
    margin-bottom: 30px;
}

.outter-wrapper {
    margin-bottom: 100px;
    padding-bottom: 60px;
}

.inner-wrapper {
    padding-bottom: 60px !important;
}

.permit-checkbox {
    margin: 25px;
}

.verification-error {
    margin: 20px;
}

.stripe-help {
    max-width: 600px;
    margin: auto;
    text-align: left;
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 13px;
}

@media (max-width: 1000px) {
    .inner-wrapper {
        width: 400px !important;
    }

    .outter-wrapper {
        width: 100% !important;
    }

    .edit-form {
        width: 400px !important;
    }

    .profile-field-wrapper {
        width: 380px !important;
        margin: 10px;
    }

    .sub-heading {
        padding: 20px 10px;
    }
}


