.dish-made-by {
    position: relative;
    color: var(--dark-text-color);
    width: 85%;
    height: 51px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif !important;
}

.alert-info {
    text-align: center;
}

.portions-available {
    display: inline-block;
    font-size: 15px;
}

.offer-page-end-by, .offer-page-ready-by {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    border-radius: 1px;
    line-height: 30px;
}

.ready-date-selector {
    margin: 10px 0;
}

.extras-section {
    display: flex;
    flex-wrap: wrap;
    line-height: 45px;
}

.extra-select label {
    margin-left: 2px;
    font-weight: normal;
}

.extra-select {
    margin-right: 10px;
}

.extra-select-qty {
    display: inline;
    width: 60px !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.dish-made-by:after, .dish-made-by:before {
    content: "";
    height: 1px;
    background: #d3d3d3;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0.6;
}

.dish-made-by:hover {
    cursor: pointer;
}

.dish-made-by span {
    font-weight: 500;
    vertical-align: middle;
}

#food-options:before {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    content: "";
    height: 1px;
    background: #d3d3d3;
    display: block;
    margin-bottom: 15px;
    opacity: 0.6;
}

.food-detail-info {
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.delivery-choice input[type="radio"] {
    margin-top: 8px;
    vertical-align: middle;
}

.extra-checkbox {
    vertical-align: text-top;
}

#food-options {
    margin-bottom: 30px;
    margin-top: 15px;
}

.edit-dish-options {
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: default;
    line-height: 33px;
}

.delivery-choice {
    margin: 10px 0;
    display: block;
}

.food-available-wrapper {
    display: block;
    font-size: 15px;
    margin: 15px 0;
}

.dish-google-map {
    margin-bottom: 25px;
    margin-top: 15px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 20px;
}

.dish-google-map img {
    margin-bottom: 0;
}

.ingredients {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.food-restriction {
    height: 40px;
    width: 40px;
}

.food-restrictions label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.food-restrictions label p {
    margin-top: 5px;
}

.food-description p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

.food-description h3 {
    font-family: inherit;
    font-weight: 500;
    margin-top: 15px;
}

.dish-rating {
    width: 200px;
    position: relative;
    margin-bottom: 15px;
    margin-left: -5px;
}

.bundle-rating {
    width: 200px;
    position: relative;
    margin: auto;
}

ul {
    list-style-type: none;
}

.dish-reviews {
    text-align: start;
    margin-top: 15px;
    max-width: 680px;
    padding: 0 50px;
}

.dish-review {
    margin-top: 15px;
    margin-bottom: 15px;
}

.review-rating {
    display: inline-block;
    left: -5px;
    margin-right: -5px;
}

.review-date {
    font-size: 12px;
    color: grey;
    display: inline;
    vertical-align: middle;
}

.review-user {
    font-weight: 500;
    margin-right: 8px;
}

.option-select {
    display: inline;
}

#more-reviews {
    cursor: pointer;
}

.review-pagination {
    margin-bottom: 15px;
}

#add-to-cart {
    position: relative;
    max-width: 700px;
    height: 75px;
    background-color: #ffffff;
    text-align: center;
    z-index: 3;
    margin-top: -35px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
    padding: 0 30px;
}

.add-to-cart-wrapper, .add-to-cart-wrapper button {
    max-width: 320px;
    min-width: 200px;
    width: 100%;
    border-radius: 1px;
}

.add-to-cart-wrapper {
    line-height: 75px;
    margin-left: 10px;
}

#food-form {
    text-align: center;
}

.availability-date-picker {
	display: inline-block;
	font-family: sans-serif;
	color: #444;
	line-height: 1.3;
	padding: .2em 2em .2em 1.4em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: 4px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
    outline: none;
}
.availability-date-picker::-ms-expand {
	display: none;
}
.availability-date-picker:hover {
	border-color: #888;
}
.availability-date-picker:focus {
	border-color: #aaa;
	color: #222;
    outline-width: 0;
}
.availability-date-picker option {
	font-weight:normal;
}

@media screen and (max-width: 800px) {
    #food-form, #add-to-cart, #food-content, .offer-item, .offer-form-wrapper, .dish-google-map img {
        min-width: 375px !important;
        width: 100% !important;
    }

    .dish-page-food-image {
        min-height: 290px !important;
        min-width: 375px !important;
        width: 100% !important;
        height: auto;
    }

    #add-to-cart .input-group-btn button {
        float: none;
        margin: 0;
    }

}

@media (max-width: 520px) {
    #add-to-cart {
        align-items: center;
    }

    .buy-button {
         margin-left: 0;
    }

    .add-to-cart-wrapper {
        line-height: 50px;
    }
}