html, body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #f7f7f7;
    color: var(--dark-text-color);
    height: 100%;
}

.offer-item {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 700px;
    border-radius: 1px;
}

#food-kitchen-logo {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: -5px;
    border-radius: 100px
}

.dish-food-tags {
    margin-left: -5px;
}

.dish-food-tags span {
    padding: 5px 10px;
    margin: 5px;
}

#food-content {
    max-width: 700px;
    height: 100%;
    text-align: center;
    position: relative;
    top: -30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.edit-dish-link {
    display: block;
    padding: 25px 0;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
    color: var(--dark-text-color);
}

.dish-page-food-image {
    position: relative;
    height: 320px !important;
    width: 425px;
    border-radius: 1px;
    z-index: 11;
    object-fit: cover;
}

