html, body {
    background: rgb(247, 247, 247);
    color: var(--dark-text-color);
    height: 106%;
    overflow: visible !important;
}

body {
    margin: 0 auto;
    overflow-y: visible !important;
    -webkit-overflow-scrolling: auto !important;
}

button {
    outline: none;
}

.popover {
    max-width: 600px;
}

.modal-backdrop.in {
    opacity: .75;
}

.modal-dialog {
    width: auto !important;
    display: flex;
    justify-content: center;
    margin: 0 !important;
}

.modal-open .modal {
    overflow-y: hidden;
}

.overlay-background {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.overlay-food-image {
    z-index: 999;
}

.desktop-banner {
    /*background: url("/static/landing-assets/artwork/umami-banner.png");*/
    background: url("/static/assets/ella-olsson-1184056-unsplash.jpg");
    background-size: cover;
    background-color: #e9e8ed;
    display: block;
    height: 260px;
    margin-top: 35px;
    overflow: hidden;
}

.welcome-wrapper {
    position: relative;
    top: 70px;
    left: 740px;
    font-weight: 500;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    color: var(--dark-text-color);
}

.umami-welcome-message {
    display: inline-block;
    font-size: 28px;
    width: 215px;
}

.eat-umami {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 600;
    width: 300px;
}

.page-main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 106%;
}

.contentWrap {
    position: fixed;
}

.back-button {
    position: absolute;
    font-size: 80px;
    left: 0;
    top: 350px;
    color: white;
    opacity: .7;
}

@media screen and (max-height: 475px) {
    .back-button {
        top: 80px;
    }
}

@media screen and (max-width: 1450px) {
    .welcome-wrapper {
        left: 550px;
    }
}

@media screen and (max-width: 1275px) {
    .welcome-wrapper {
        left: 450px;
    }

    .desktop-banner {
        height: 260px;
    }
}

@media screen and (max-width: 1000px) {
    .welcome-wrapper {
        left: 370px;
        width: 300px;

    }

    .desktop-banner {
        height: 250px;
    }
}

@media screen and (max-width: 900px) {
    .welcome-wrapper {
        left: 320px;
        width: 300px;
        top: 50px;
    }

    .desktop-banner {
        height: 220px;
    }
}

@media screen and (max-width: 550px) {
    .welcome-wrapper {
        left: 120px;
        top: 40px;
    }

    .welcome-wrapper .umami-welcome-message {
        font-size: 15px;
    }

    .welcome-wrapper .eat-umami {
        font-size: 22px;
    }

    .desktop-banner {
        height: 140px;
    }
}

.food-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.food-bundles-section {
    padding-top: 20px;
    margin-bottom: -25px;
}

.food-singles-section {
    margin-top: 40px;
}

.food-section h2 {
    padding-left: 20px;
    font-size: 23px;
}

.food-section h2:after {
    display: table;
    width: 75px;
    height: 2px;
    margin: 16px 0;
    content: "";
    background-color: #ecb807;
}

.food-section h4 {
    padding-left: 20px;
    font-size: 16px;
    color: grey;
}

.food-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.bundle-slide {
    height: 400px !important;
    max-height: 400px !important;
    min-width: 360px;
}

.food-info {
    position: relative;
    z-index: 1;
    height: 125px;
    top: 5px;
}

.food-select {
    position: relative;
    height: 395px;
    width: 360px;
    background-color: white;
    cursor: pointer;
    z-index: 992;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.sold-out-wrapper {
    position: absolute !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
    right: 130px;
    top: 125px;
}

.sold-out-sign {
    position: absolute !important;
}

.sold-out-wrapper span {
    font-size: 15px;
    padding: 5px 10px;
    background-color: var(--dark-text-color);
    color: #FFFFFF;
    opacity: .95;
    font-weight: 700;
    border-radius: 1px;
}

.food-image {
    position: relative;
    z-index: 1;
    height: 270px !important;
    width: 360px !important;
    display: block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0;
    object-fit: cover;
}

.food-title {
    color: var(--dark-text-color);
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    max-width: 275px;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
}

.food-title span {
    text-overflow: ellipsis;
}

.offer-price {
    position: relative;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    float: right;
}

.line-item {
    height: 25px;
    margin: 5px 8px;
}

.home-food-tags {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    max-height: 25px;
    cursor: pointer !important;
}

.home-food-tags span {
    font-size: 13px;
    padding: 1px 5px;
    margin-right: 2px;
    line-height: 25px;
}

.home-bundle-food-titles {
    position: relative;
    color: #939393;
    z-index: 1;
    max-height: 25px;
    max-width: 360px;
    overflow: hidden;
}

.bundle-dish-title {
    border-radius: 1px;
    display: inline-block;
    font-size: 12.5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.home-bundle-food-titles span:not(:first-child):before {
    content: " \B7 ";
    margin-right: 3px;
}

.home-bundle-food-titles .active {
    color: var(--dark-text-color);
}

.home-dish-rating {
    display: block;
    position: absolute;
    margin-left: -6px;
}

.food-distance {
    line-height: 25x;
    display: inline-block;
}

.pickup-delivery {
    display: inline;
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 25px;
}

.pickup-delivery span:not(:last-child):after {
    content: " \B7 ";
}

.delivery {
    display: inline;
}

.pickup {
    display: inline;
}

.availability {
    display: inline;
    float: right;
    max-height: 25px;
    color: var(--dark-text-color);
    font-size: 13px;
    line-height: 25px;
}

.bundle-control {
    height: 270px;
    z-index: 999;
    opacity: 1 !important;
}

.bundle-control.left {
    background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.25) 100%) !important;
}

.bundle-control.right {
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.25) 100%) !important;
}

.bundle-carousel-indicators {
    top: 245px;
    height: 25px;
    width: 360px;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;

}

.carousel-indicators li {
    margin-right: 2px;
    margin-left: 2px;
}

.carousel-indicators .active {
    margin-right: 1px;
    margin-left: 1px;
}


.bundle-preview {
    display: flex;
    width: 360px !important;
    height: 270px !important;
    position: absolute;
    z-index: 99;
}

.bundle-preview-image {
    height: 270px !important;
    display: inline;
    object-fit: cover;
}

.meal-qty-indicator {
    position: absolute;
    width: inherit;
    text-align: center;
    bottom: 5px;
}

.meal-qty-indicator span {
    padding: 1px 5px;
    border-radius: 1px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 1px 30px #000000;
}


/* one item */
.bundle-dish-title:nth-child(1):nth-last-child(1) {
    max-width: 96% !important;
}

/* two items */
.bundle-dish-title:nth-child(1):nth-last-child(2),
.bundle-dish-title:nth-child(2):nth-last-child(1) {
    max-width: 48% !important;
}

/* three items */
.bundle-dish-title:nth-child(1):nth-last-child(3),
.bundle-dish-title:nth-child(2):nth-last-child(2),
.bundle-dish-title:nth-child(3):nth-last-child(1) {
    max-width: 32% !important;
}


/* two items */
.bundle-preview-wrapper:nth-child(1):nth-last-child(2),
.bundle-preview-wrapper:nth-child(2):nth-last-child(1) {
    width: 50% !important;
}

/* three items */
.bundle-preview-wrapper:nth-child(1):nth-last-child(3),
.bundle-preview-wrapper:nth-child(2):nth-last-child(2),
.bundle-preview-wrapper:nth-child(3):nth-last-child(1) {
    width: 33.3333% !important;
}


/* two items */
.bundle-preview-image:nth-child(1):nth-last-child(2),
.bundle-preview-image:nth-child(2):nth-last-child(1) {
    width: 180px !important;
}