:root {
    --main-button-color: #ee7600;
    --theme-blue: #cce7ff;
    --dark-text-color: #581404;
    --theme-dark-blue: #75b1e6;
    --theme-darker-blue: #1f6bad;
}

input:focus {
    caret-color: var(--dark-text-color);
    color: var(--dark-text-color);
}

#address-autocomplete {
    width: 500px;
    height: 40px;
    font-size: 18px;
    border-radius: 1px;
    box-shadow: none;
    border: none;
    border: 1px solid grey;
    padding: 10px;
}

.search-button {
    vertical-align: bottom;
    height: 40px;
    border-radius: 1px;
}

#account-button {
    position: fixed;
    font-size: 21px;
    cursor: pointer;
    z-index: 995;
    right: 45px;
    float: right;
    line-height: 60px;
    top: 0;
}

#sign-in-sign-up {
    position: fixed;
    font-size: 21px;
    cursor: pointer;
    z-index: 995;
    right: 20px;
    float: right;
    line-height: 60px;
    top: 0;
}

#sign-in-sign-up a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 1px;
    font-size: 15px;
    color: var(--dark-text-color);
    border: 1px solid #baa6a6;
}

#sign-in-sign-up a:hover {
    color: var(--dark-text-color);
}

.umami-logo-wrapper {
    cursor: pointer;
    width: 130px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.umami-logo {
    line-height: 60px;
    vertical-align: middle;
    margin-top: -2px;
}

#title {
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    color: var(--dark-text-color);
    font-size: 22px;
    font-weight: 500;
    float: right;
    margin-top: 1px;
}

#top-menu-bar {
    height: 60px;
}

#top-navigation {
    position: fixed;
    background-color: white;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 995;
    border-bottom: 1px solid #e8ebe9;
}

input:focus {
    outline: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}

/*!
 * Start Bootstrap - Stylish Portfolio v5.0.1 (https://startbootstrap.com/template-overviews/stylish-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-stylish-portfolio/blob/master/LICENSE)
 */

.image-container-lean-right {
    width: 60vw;
    height: 100vh;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
    margin-left: auto;
}

.image-container-lean-left {
    width: 60vw;
    height: 100vh;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    margin-right: auto;
}

.diagonal-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.umami-container {
    color: grey;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.umami-container div {
    min-width: 260px;
}

body,
html {
    width: 100%;
    height: 100%;
    color: var(--dark-text-color) !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
}

.content-section {
    display: flex;
}

.section-break {
     background-color: #FFFFFF;
    line-height: 45px;
    color: #000000;
}

.partner-callout {
    background-color: #ee7600;
    line-height: 45px;
    color: #FFFFFF;
}

.content-section.padding {
    padding: 90px 30px;
}

.content-section-heading h2 {
    font-size: 3rem;
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
    height: 30rem;
}

@media (max-width: 992px) {
    .map {
        height: 75%;
    }

    .home-page-search-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #address-autocomplete {
        width: auto;
    }
}

.map iframe {
    pointer-events: none;
}

.pac-container {
    margin-top: 5px;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.home-page-search-container {
    margin-left: -140px;
    z-index: 990;
    font-family: 'Poppins', sans-serif !important;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100vw;
    height: 100vh;
}

.masthead-1 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("/static/landing-assets/masthead-1.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/landing-assets/masthead-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 1;
}

.masthead-2 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("/static/landing-assets/masthead-2.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/landing-assets/masthead-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 0;

}

.masthead-3 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("/static/landing-assets/masthead-3.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/landing-assets/masthead-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 0;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

/* Side Menu */
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    background: #1D809F;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

.color-1 {
    background-color: #94ae78;
}

.color-2 {
    background-color: #a69ba2;
}

.service-icon {
    color: #ffffff;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7rem;
    font-size: 2.5rem;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("/static/landing-assets/callout.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/landing-assets/callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.callout h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
    text-shadow: 0px 1px 40px var(--dark-text-color);
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}

.portfolio-item .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
    background-color: rgba(64, 64, 64, 0.6);
    padding: 10px;
}

.portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
}

@media (min-width: 992px) {
    .portfolio-item {
        max-width: none;
        margin: 0;
    }

    .portfolio-item .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
    }

    .portfolio-item .caption .caption-content {
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }

    .portfolio-item img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }

    .portfolio-item:hover img {
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
    }

    .portfolio-item:hover .caption {
        background-color: rgba(29, 128, 159, 0.9);
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
    }

    .masthead {
        height: 100%;
    }

    .masthead h1 {
        font-size: 5.5rem;
    }
}

@media (max-width: 830px) {
    .umami-container {
        width: 100vw;
    }

    .umami-container div {
        display: inline-block;
        padding: 60px 0;
        width: auto;
    }

    .image-container-lean-right, .image-container-lean-left {
        width: 100vw;
        height: 60vh;
        clip-path: none;
    }

    .first-section {
        flex-direction: column;
    }

    .second-section {
        flex-direction: column-reverse;
    }
}


@media (max-width: 375px) {
    .umami-logo-wrapper {
        float: left;
    }

    .search-button {
        margin-top: 10px;
        width: 212px;
    }
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    color: #FFFFFF;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
}

a {
    color: #2a2e2f;
}

a:hover, a:focus, a:active {
    color: #155d74;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #ee7600 !important;
    border-color: #ee7600 !important;
    color: #fff !important;
}

.btn-dark {
    color: #fff !important;
}

.btn {
    font-weight: 700;
}

.bg-primary {
    background-color: #ffffff !important;
}

.text-primary {
    color: #1D809F !important;
}

.text-secondary {
    color: #ecb807 !important;
}

.twitter {
    background-color: #059ff6 !important;
}

.facebook {
    background-color: #4065b4 !important;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.company-info, .company-policies {
    margin-top: 30px;
}

.list-inline-item {
    margin-left: 15px;
    margin-right: 15px;
}

.fa-pan {
    background: url("/static/assets/pan.svg");
}

.mb-5, .my-5 {
    margin-bottom: 2rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}