.kitchen-form {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block !important;
    width: 350px !important;
}

.offers-pickup h5, .offers-delivery h5 {
    font-weight: 500;
}

.availability-picker {
    display: block;
}

.availability-picker input {
    margin-right: 5px !important;
}

.offers-pickup, .offers-delivery {
    display: inline-block;
    width: 300px;
}

.range-form {
    width: 290px !important;
}

.kitchen-input-group {
    width: 340px;
    float: right;
}

.pickup-delivery span {
    line-height: 25px;
    color: var(--dark-text-color);
    font-size: 12px;
}

.pac-container {
    top: 290px !important;
}

.kitchen-bio {
    height: auto;
}

.kitchen-bio-text {
    max-width: 100% !important;
    height: 100px !important;
}

.profile-field-wrapper {
    width: 550px;
}

.existing-banner-image {
    width: 350px
}

.existing-logo-image {
    width: 80px;
    height: 80px;
}

.stripe-connected-wrapper {
    color: #ffffff;
    background-color: var(--main-button-color);
    float: right;
    height: 34px;
    width: 180px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.stripe-connected-wrapper span {
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
}

.stripe-connected-wrapper .glyphicon {
    margin-bottom: 4px;
    margin-left: 10px;
}

.stripe-connect-btn {
    display: block;
    float: right;
    position: relative;
    padding: 0 12px;
    height: 34px;
    background: #1275ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7dc5ee), color-stop(85%, #008cdd), to(#30a2e4)) !important;
    background-image: linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4) !important;
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    font-weight: 700;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .25);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .25);
    border-radius: 3px;
    padding-left: 44px;
}

.kitchen-overview, .kitchen-input-tooltip {
    min-width: 295px;
    max-width: 295px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    height: fit-content;
}

.kitchen-overview {
    padding: 20px;
}

.outter-wrapper {
    display: flex;
    z-index: 999;
    width: 100% !important;
    padding-left: 50px;
    padding-right: 50px;
}

.kitchen-overview .fa, .kitchen-input-tooltip .fa {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #e6d948;
}

.kitchen-overview p b {
    font-weight: 700 !important;
}

@media screen and (max-width: 1250px) {
    .kitchen-input-tooltip {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .kitchen-overview {
        display: none;
    }
}