html, body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}

.kitchen {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    height: 100%;
    display: block;
    max-width: 720px;
    background-color: transparent;
}

.user-content {
    position: relative;
    background-color: white;
    color: var(--dark-text-color);
    max-width: 720px;
    display: block;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    padding-bottom: 60px;
    min-height: 630px;
}

.cover-photo {
    object-fit: cover;
    position: relative;
    z-index: 1;
    height: 320px;
    max-width: 720px !important;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.past-food-item .kitchen-food-image {
    margin-right: 0px;
}

.current-food-item .kitchen-food-image {
    margin-right: 0px;
}

.past-dishes h6, .current-dishes h6 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: -10px;
    font-weight: normal;
    font-size: 16px;
}

.current-dishes .current-food-item:hover div.text-content {
    opacity: 1;
}

.past-dishes .past-food-item:hover div.text-content {
    opacity: 1;
}

.current-dishes, .past-dishes {
    position: relative;
    margin-top: 30px;
    padding: 0 40px;
    width: 100%;
    text-align: left;
}