.kitchen-basics {
    margin-top: 10px;
    height: 80px;
    margin-left: 160px;
    max-width: 400px;
    font-weight: 500;
    text-align: left;
}

#KitchenOverlayCarousel {
    max-height: 320px;
    z-index: 1;
    height: auto;
}

.kitchen-overlay-carousel-control.left, .kitchen-overlay-carousel-control.right {
    background: none !important;
    filter: progid:none !important;
    opacity: 1;
}

.kitchen-carousel {
    height: 100%;
    max-height: 320px !important;
}

.kitchen-logo {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    z-index: 10;
    display: block;
    border-radius: 100px;
}

.kitchen-rating {
    z-index: 3;
    margin: 7px 5px;
}

h6 {
    font-size: 16px;
}

.kitchen-permit {
    color: #7b7b7b;
    font-weight: 100;
}

.kitchen-location {
    font-weight: 300;
    margin-left: -2px;
    color: var(--theme-darker-blue);
}

.kitchen-location i {
    margin-right: 2px;
}

#follow-btn {
    position: absolute;
    background-color: #70c050;
    color: white;
    font-weight: 500;
    right: 15px;
    width: 120px;
    height: 35px;
    top: 15px;
}

.user-bio {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.past-food-item .kitchen-food-image, .current-food-item .kitchen-food-image {
    margin-top: 25px;
    height: 150px;
    width: 200px;
    cursor: pointer;
    margin-right: 5px;
    object-fit: cover;
}

div.text-content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 25px;
    z-index: 999;
    width: 200px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.current-food-item, .past-food-item {
    display: inline-block;
    height: 150px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
}

.hs-wrapper > img {
    position: absolute;
}

.kitchen-info-wrapper {
    position: absolute;
    height: auto;
    width: 150px;
    display: block;
    margin-top: -75px;
}

.current-offers {
    margin: 60px 0;
}

@media screen and (max-width: 500px) {
    #KitchenOverlayCarousel, .cover-photo {
        height: 200px !important;
    }

    .kitchen-info-wrapper {
        width: 90px;
        margin-top: -45px;
    }

    .kitchen-logo {
        margin-left: 25px;
    }

    .kitchen-rating {
        margin: 5px 0;
    }
}

.current-offer-name {
    margin-top: 20px;
    text-align: center;
    width: 200px;
    height: 50px;
    color: var(--dark-text-color);
    cursor: pointer;
}

.nav-tabs {
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    color: grey;
    text-decoration: none !important;
    overflow: hidden;
    height: 24px;
}

.nav-item i {
    margin: 5px;
}

.nav-item:hover {
    text-decoration: none !important;
}

.nav-tabs .active {
    color: var(--dark-text-color);
}

.load-more-button {
    width: 100%;
}

.no-offers-currently {
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.no-offers-currently div {
    align-self: center;
    color: grey;
}