html, body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
    overflow-y: scroll;
    color: var(--dark-text-color);
    -webkit-overflow-scrolling: touch;
}

:root {
    --main-button-color: #ee7600;
    --theme-blue: #cce7ff;
    --dark-text-color: #581404;
    --theme-dark-blue: #75b1e6;
    --theme-darker-blue: #1f6bad;
}

input:focus {
    caret-color: var(--dark-text-color);
    color: var(--dark-text-color);
}


.btn-info, .btn-info:hover, .btn-info:focus {
    background-color: var(--theme-dark-blue);
    border-color: var(--theme-dark-blue);
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: var(--theme-darker-blue);
    border-color: var(--theme-darker-blue);
}

h3 {
    font-weight: 300 !important;
}

b {
    font-weight: 500 !important;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}

.page-wrapper {
    position: relative;
    top: 30px;
}

sub {
    bottom: 1px;
    margin: -3px;
}

#top-menu-bar {
    height: 60px;
}

.btn.active, .btn:active {
    outline: none !important;
}

.btn.focus {
    outline: 0 !important;
}

.umami-logo-wrapper {
    width: 130px;
    line-height: 60px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    height: 60px;
}

.umami-logo {
    line-height: 60px;
    vertical-align: middle;
    margin-top: -2px;
}

#title {
    vertical-align: middle;
    color: var(--dark-text-color);
    font-size: 22px;
    font-weight: 500;
    float: right;
    margin-top: 1px;
}

#top-navigation {
    position: fixed;
    background-color: white;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1001;
    border-bottom: 1px solid #e8ebe9;
}

#top-navigation .pac-container {
    top: 60px !important;
}

.pac-container {
    z-index: 9999;
}

#top-weekly-calendar {
    position: fixed;
    background-color: white;
    top: 60px;
    height: 60px;
    width: 100%;
    z-index: 994;
    transition: top 0.3s;
}

.close-overlay {
    position: fixed;
    top: 0;
    right: 0;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 99999;
    opacity: .7;
    margin: 2px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: lightgrey;
    border-radius: 100px;

}

#cart-button, #close-cart-btn {
    position: fixed;
    font-size: 21px;
    cursor: pointer;
    z-index: 1003;
    right: 20px;
    float: right;
    line-height: 60px;
    height: 60px;
    top: 0;
}

.indicator-cart-wrapper {
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

.user-action-btn {
    display: inline-block;
    right: 250px;
    position: fixed;
    z-index: 1002;
    top: 7px;
    text-align: center !important;
    background-color: var(--main-button-color);
    color: #ffffff;
    width: 150px;
    height: 45px;
    font-weight: 500 !important;
    font-size: 16px !important;

}

#account-button {
    position: fixed;
    font-size: 21px;
    cursor: pointer;
    z-index: 1001;
    right: 120px;
    float: right;
    line-height: 60px;
    top: 0;
}

.user-account-button {
    line-height: 60px;
}

.btn:focus {
    outline: none;
    color: white;
}

h2 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.umami-page-header h1 {
    padding-left: 20px;
    font-size: 23px;
    font-weight: 200;
}

.umami-page-header h1:after {
    display: table;
    width: 75px;
    height: 2px;
    margin: 16px 0;
    content: "";
    background-color: #337ab7;
}

.umami-page-header h3 {
    padding-left: 20px;
    font-size: 15px;
    color: grey;
}

#overlay-login {
    position: absolute;
    background-color: white;
    color: var(--dark-text-color);
    left: 50% !important;
    margin-left: -250px; /* negative half the size of width */
    display: block;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 550px;
    top: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.sign-in-form {
    height: 180px;
}

.sign-up-form {
    height: 330px;
    max-width: 426px;
    width: 100%;
    margin: auto;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: var(--main-button-color) !important;
    border-color: var(--main-button-color) !important;
    border-radius: 1px !important;
}

.outter-wrapper {
    position: relative;
    width: 1050px;
    height: auto;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.inner-wrapper {
    background-color: white;
    width: 700px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 1px;
}

.inner-wrapper button {
    color: white;
    font-weight: 500;
}

.fb-button-wrapper {
    height: 50px;
    max-width: 400px;
    width: 100%;
    margin: 10px auto;
}

#overlay-login .form-control {
    width: 350px;
    margin: 20px auto;
}

.divider {
    color: grey;
    max-width: 450px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin: 30px auto;
}

.divider span {
    background: #fff;
    padding: 0 10px;
}

#sign-up-or-in-button {
    cursor: pointer;
    color: rgb(56, 151, 240);
    margin-left: auto;
    margin-right: auto;
}

#delivery-street-address {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline-block;
    width: 430px !important;
    min-width: 650px;
}

.search-address {
    width: 400px;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border: 1px solid #e8ebe9;
    border-radius: 1px;
}

.search-address:focus {
    border: 1;
    box-shadow: 0 0 10px #719ECE;
}

.c-food-image {
    height: 240px;
    width: 320px;
    margin-bottom: 5px;
    border-radius: 2px;
    object-fit: cover;
}

.c-extra-items {
    line-height: 14pt;
}

#shopping-cart {
    font-family: Brown, 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    white-space: nowrap;
    position: fixed;
    width: 0px;
    height: 100%;
    right: 0;
    background: white;
    z-index: 1003;
    top: 0;
    text-align: center;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.25s cubic-bezier(.77, 0, .175, 1);
    transition: .25s cubic-bezier(.77, 0, .175, 1), -webkit-transform .25s cubic-bezier(.77, 0, .175, 1)
    -webkit-box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.force-select {
    -webkit-user-select: text; /* Chrome 49+ */
    -moz-user-select: text; /* Firefox 43+ */
    -ms-user-select: text; /* No support yet */
    user-select: text; /* Likely future */
}

.cart-layout {
    width: 345px;
    margin: 20px auto;
}

.cart-layout:after, .cart-layout:before {
    content: "";
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
}

.cart-food-item h3 {
    font-family: Brown, 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    word-break: normal;
    white-space: normal;
    max-width: 400px;
    margin: 50px auto 0 auto;
    line-height: 30px;
}

.c-food-option {
    color: grey;
    margin-bottom: 10px;
}

.shopping-cart a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.offer-price {
    color: var(--dark-text-color);
    display: table;
}

.new-offer-dish-price {
    margin: 10px 0;
    font-size: 16px;
}

.c-qty {
    width: 50px;
    text-align: center;
    color: var(--dark-text-color);
    font-size: 25px;
    outline: none;
    line-height: 70px;
}

.c-qty--input {
    border: 0;
    line-height: 70px;
    height: 70px;
}

.input-group-btn button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 500;
    width: 350px;
    text-transform: uppercase;
    border-radius: 1px;
}

body.modal-open {
    overflow: hidden !important;
}

.btn:hover {
    color: white;
}

.item-quantity {
    width: 130px;
    display: inline-flex;
    justify-content: space-between;
}

.dish-item-quantity {
    display: inline-flex;
    justify-content: space-between;
    width: 130px;
}

.glyphicon-plus-sign, .glyphicon-minus-sign {
    cursor: pointer;
}

.dish-item-quantity input {
    width: 50px;
    text-align: center;
    font-size: 25px;
    border-color: transparent;
    margin: 0;
    height: 73px;
    line-height: 73px;
}

#add-to-cart-price {
    display: inline;
    float: right;
}

.sub-total {
    display: inline;
    font-size: 25px;
    width: 30px;
    height: 50px;
    padding-left: 100px;
}

.sub-total span {
    font-size: 25px;
    margin-right: -5px;
}

.carousel {
    z-index: 15;
}

#cart-wrapper {
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

#cart-content {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.food-tags {
    position: relative;
    color: white;
    z-index: 1;
}

.food-tags:hover {
    cursor: default;
}

.food-tags span {
    background: #939393;
    border-radius: 1px;
    display: inline-block;
}

.c-delivery-pickup {
    margin-bottom: 30px;
}

#sad-face {
    width: max-content;
    margin: 150px auto;
}

#sad-face path {
    fill: darkgrey;
}

#cart-total {
    position: relative;;
    height: 50px;
    margin-top: 30px;
}

.buy-button {
    margin-left: 50px;
}

#cart-total span {
    font-size: 18px;
    display: inline;
}

#cart-total-price {
    float: right;
    display: inline-block;
    position: relative;
}

#cart-total-price span {
    margin-right: -2px;
}

.add-to-cart-price {
    display: inline-block;
    float: right;
}

.add-to-cart-price span {
    margin-right: -2px;
}

.reset-content {
    display: inline-block;
    background-color: white;
    height: 240px;
    width: 800px;
    border-radius: 5px;
    border: solid rgb(204, 204, 204) 1px;
}

.reset-content p {
    margin: 25px;
}

.center-page-wrapper h4 {
    padding: 40px;
}

.center-page-wrapper, .account-management-wrapper {
    padding-top: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: calc(100vh - 270px);
}

.text-wrapper ol li {
    margin: 15px 0;
}

.text-wrapper {
    text-align: left;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
    line-height: 25px;
}

.reset-button {
    height: 27px;
    background-color: lightgrey;
    color: rgb(81, 81, 81);
    border-color: transparent;
    border-radius: 1px;
}

.reset-confirm-content {
    height: 300px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-left: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-back:before {
    content: "\f137";
    position: absolute;
    left: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

#cart-indicator {
    background-color: var(--main-button-color);
    width: 20px;
    border-radius: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: -5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    color: white;
    font-weight: 500;
}

.btn-file:hover {
    background-color: #428bca;
    color: white;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.error-message, .umami-message {
    font-size: 18px;
    text-align: center;
    padding-top: 200px;
}

.error-page-wrapper {
    width: 100% !important;
    height: 90vh !important;
    overflow: hidden;
}

.footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 60px;
    background-color: #ffffff;
}

.company-policies {
    font-size: 12px;
}

.force-relative {
    position: relative !important;
}


@media screen and (max-width: 930px) {
    #calendar-text {
        display: none !important;
    }

    .search-address, #delivery-street-address {
        width: 80% !important;
        min-width: 180px !important;
    }

    #title {
        display: none !important;
    }

    .umami-logo-wrapper {
        width: 50px;
        margin-left: 5px;
    }

    #top-weekly-calendar #calendar {
        width: 390px !important;
    }

    #top-weekly-calendar .week {
        width: 320px !important;
    }
}

@media screen and (max-width: 800px) {
    .food-container, .food-section {
        max-width: 360px;
    }

    #calendar-text, .nav-bar-text-content {
        display: none !important;
    }

    #back-to-dish {
        font-size: 20px;
        background-color: lightgrey;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        top: 0;
        margin: 2px;
    }

    .overlay-kitchen {
        top: 0 !important;
    }

    .page-wrapper {
        top: 0;
    }
}

@media screen and (min-width: 800px) {
    .food-container, .food-section {
        width: 800px;
    }

}

@media screen and (min-width: 1200px) {
    .food-container, .food-section {
        width: 1200px;
    }
}

@media screen and (min-width: 1600px) {
    .food-container, .food-section {
        width: 1600px;
    }
}

@media screen and (max-width: 860px) {
    .user-options {
        display: none;
    }

    .responsive-nav-menu {
        display: inline-block !important;
    }

}

@media screen and (max-width: 400px) {
    .food-select {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #top-weekly-calendar #calendar {
        max-width: 370px !important;
    }

    #top-weekly-calendar .week {
        max-width: 300px !important;
    }

    .food-section h2, .food-section h4 {
        padding-left: 0 !important;
    }
}

.open-options {
    width: 100vw;
    background-color: #FFFFFF;
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 30px;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.more-options-button {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    line-height: 60px;
    padding: 0 30px;
    z-index: 999;
}

.responsive-nav-menu {
    display: none;
}

.options-menu {
    display: none;
}

.options-menu li {
    display: block;
    padding: 30px;
    font-size: 18px;
}

.umami-logo-menu {
    width: 80px;
    text-align: center;
    margin: auto;
}
