html, body {
    background-color: #edf1f9;
    height: 100%;
}

.login-outter-wrapper {
    position: relative;
    max-width: 1050px;
    height: auto;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: 74vh;
}

.force-absolute {
    position: absolute;
    bottom: 0;
}

#login-wrapper {
    margin-bottom: 5px;
}

.login-block {
    height: 500px;
    background-color: white;
    max-width: 500px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin: 20px auto;
}

.login-block .form-control {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-block h3, .sign-up-block h3 {
    margin-top: 30px;
}

.facebook-button {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
    max-width: 350px;
    width: 100%;
    height: 45px;
}

.facebook-button:hover, .facebook-button:focus, .facebook-button:active,
.facebook-button:active:focus:not(:disabled):not(.disabled) {
    box-shadow: none !important;
    outline: 0;
    color: white;
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}

.facebook-button-text {
    font-size: 15px;
    font-weight: 500;
}

.facebook-button-text a {
    color: white;
    text-decoration: none;
}

.facebook-button-text a:hover {
    color: white;
    text-decoration: none;
}

.facebook-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-right: 5px;
}

.sign-in-button {
    max-width: 350px;
    width: 100%;
    color: white;
    font-weight: 500;
    background-color: rgb(255, 136, 77);
    margin-top: 10px;
}

.sign-up-block {
    height: 600px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    margin: 20px auto;
}

.form-control {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin: 20px auto;
}

.sign-in-password {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.remember-forgot-section {
    margin-bottom: 25px;
}

.sign-up-button {
    max-width: 350px;
    width: 100%;
    color: white;
    font-weight: 500;
    background-color: rgb(255, 136, 77);
}

.sign-in-errors, .sign-up-errors {
    color: red;
    width: 90%;
    text-align: center;
    margin: auto;
}