body {
    overflow-y: scroll;
}

h2:after, .expanded-order-wrapper:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right, #d9d9d9 100%, #d9d9d9 100%, #d9d9d9 100%);
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
}

.outter-main {
    text-align: center;
}

.orders {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-bottom: 60px;
}

.inner-main {
    position: relative;
    min-height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 30px;
}

.single-inner-main {
    width: 900px;
    display: block;
    min-height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-top: 20px;
}

.single-expanded-item {
    height: 100px;
}

.single-order-number {
    background-color: #edf1f9 !important;
    line-height: 30px;
}

.edit-existing-review-button {
    text-align: center;
    display: inline-block;
}

@media screen and (min-width: 1000px) {
    .inner-main {
        width: 1000px;
    }

    .single-expanded-item {
        width: 745px !important;
    }
}


@media screen and (max-width: 650px) {
    .order-collapse-button, .panel-collapse, .items {
        max-width: 375px !important;
    }

    .order-summary, .same-line {
        max-width: 285px;
        overflow-x: hidden;
    }

    .inner-main {
        max-width: 385px;
        top: 0;
    }

    .single-inner-main {
        padding: 30px 3px;
    }

}

h2 {
    margin-bottom: 30px;
}

.subject-name {
    display: inline-block;
}

.order {
    margin-bottom: 15px;
}

.order-date {
    display: inline-block;
}

.subject-name:after {
    content: " \B7 ";
}

.transpotation {
    display: inline;
    opacity: 0.6;
}

.expanded-subject-email {
    position: relative;
    display: inline;
}

.panel-collapse {
    padding: 15px;
    background-color: rgb(247, 247, 247);
    width: 600px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #d9d9d9;

}

.order-collapse-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 600px;
    background-color: rgb(247, 247, 247);
    text-align: start;
    min-height: 90px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.order-summary {
    line-height: 25px;
    display: inline-block;
}

.order-status {
    height: 28px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    color: #FFFFFF;
}

.order-ended {
    background-color: #a69ba2;
}

.order-cancelled {
    background-color: red;
}

.order-ongoing {
    background-color: #ee7600;
}

.order-summary-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}


.item {
    display: inline;
    opacity: 0.6;
}

.items {
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.items .item:not(:last-child):after {
    content: "\002C";
}

.order-total {
    position: relative;
    float: right;
}

.subject-profile-info {
    position: relative;
    clear: both;
    height: auto;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
}

.order-number {
    background-color: white;
    line-height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}

.subject-profile-pic {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
}

.subject-details {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.expanded-subject-email {
    position: relative;
    display: inline;
}

.expanded-subject-name {
    position: relative;
    display: block;
    font-weight: 500;
}

.order-notes {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 800px;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 15px;
    color: dimgrey;
}

.expanded-order-notes {
    width: 570px;
}

.expanded-order {
    text-align: start;
    clear: both;
    align-items: center;
    padding: 10px 5px;
}


.expanded-item {
    position: relative;
    margin-left: 10px;
    max-height: 65px;
}

.bundle-title-price {
    display: flex;
    justify-content: space-between;
}

.bundle-title-price h4 {
    display: inline-block;
}

.bundle-title-price span {
    margin: 10px 0;
}

.expanded-ready-by {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.expanded-order-item {
    padding-bottom: 10px;
}

.order-item-info-price {
    display: flex;
    justify-content: space-between;
}

.item-option, .expanded-item-option {
    display: inline;
    opacity: 0.8;
    color: black;
}

.expanded-item-subtotal {
    height: 22px;
    line-height: 22px;
    max-width: 60px;
}

.item-pic {
    height: 65px;
    width: 87px;
    float: left;
    object-fit: cover;
}

.item-extra {
    margin-right: 5px;
    display: inline;
}


.order-item-right-align-items {
    width: 100%;
    display: flex;
    margin-right: 10px
}

.order-price-breakdown {
    margin-top: 10px;
}

.write-review-btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-review, .write-review {
    text-align: center;
    padding: 10px 0;
}

.submit-review-btn {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.user-rating, .item-rating, .readonly-item-rating {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
}

.user-text {
    resize: none;
    width: 100%;
    padding: 10px;
}

.expanded-order-total {
    margin-top: 10px;
    font-size: 20px;
}

.refunded-amount {
    font-size: 20px;
    margin: 10px;
    display: block;
}

.refund-amount {
    margin-top: 5px;
}

.refund-button {
    margin: 20px;
}

.refund-button button, .cancel-button button  {
    width: 120px;
}

.address {
    margin: 15px;
}