/*
 * Start Bootstrap - One Page Wonder (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body, html {
    background-color: #ffffff !important;
    overflow-x: hidden;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('/static/assets/partner-banner.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 580px;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 100px;
    color: #ffffff;
    text-shadow: 0px 1px 40px rgba(0, 0, 0, 0.75);
}

.headline h2 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 1px 40px rgba(0, 0, 0, 0.75);
}

.featurette-divider {
    margin: 50px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 45px;
    font-weight: 500;
    color: #b4a76c;
}

.featurette .featurette-mini-divider {
    margin: 32px 0;
}

.featurette-mini-divider {
    display: table;
    width: 100px;
    height: 2px;
    margin: 16px 0;
    content: "";
}

.first-featurette {
    background-color: #efd97f;
}

.second-featurette {
    background-color: #4960a4;
}

.third-featurette {
    background-color: #00d6e2;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.step {
    display: inline-block;
    width: 320px;
    padding: 0px 20px 0px 0px;
}

.expect {
    display: inline-block;
    max-width: 380px;
    padding: 5px 20px 10px 0;
}

.step p, expect p {
    color: #777;
}

.step svg {
    height: 70px;
    width: 70px;
}

.step svg path {
    fill: #008489;
}

.partner-screenshot {
    height: 250px;
}

.partner-screenshot img {
    width: 100%;
    max-height: 100%;
    padding: 10px 30px 10px 0;
}

.screenshot-modal img {
    width: 100%;
}

.screenshot-modal-wrapper .wide-modal {
    width: 1200px;
    max-width: 100%;
}

.faq-heading {
    font-size: 40px;
    margin-bottom: 30px;
    color: #b4a76c;
    font-weight: 500;
}

.faq-vertical-wrapper {
    width: 48%;
    display: inline-block;
    float: right;
}

.faq-container button {
    height: 60px;
    width: 100%;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
}

.faq-container button span {
    max-width: 85%;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    height: 20px;
}

.modal-body ul li {
    margin-left: 20px;
    margin-bottom: 10px;
}

.modal-body ul {
    padding-inline-start: 20px;
}

.modal-body button {
    width: 100%;
    height: 50px;
}

.modal-body .certification-container {
    margin: 5px 0;
}

.certification-container .certification-content {
    background-color: #e5f4f9;
    padding: 15px;
}

.faq-down-arrow {
    float: right;
    width: 15px !important;
}

.faq-container div {
    margin: 10px;
}

footer {
    margin: 50px 0;
}

.partner-apply {
    line-height: 80px;
    text-align: center;
}

.partner-apply a {
    background-color: var(--main-button-color);
    padding: 20px;
    border-radius: 1px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 640px) {
    .partner-screenshot {
        height: 220px;
    }
}

@media (min-width: 641px) {
    .partner-screenshot {
        height: 190px;
    }
}

@media (min-width: 1200px) {
    .partner-screenshot {
        height: 250px;
    }
}

@media (max-width: 1200px) {
    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media (max-width: 991px) {
    .headline h1 {
        font-size: 80px;
    }

    .headline h2 {
        font-size: 40px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }

    .partner-screenshot {
        height: 190px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media (max-width: 668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .faq-vertical-wrapper {
        width: 100% !important;
    }
}

@media (max-width: 640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }

    .steps {
        flex-direction: column;
    }

    .step {
        margin-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

