#overlay {
    position: relative;
    color: #efefef;
}

.overlay-dish {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 700px;
}

.overlay-content {
    position: relative;
    background-color: white;
    color: var(--dark-text-color);
    max-width: 700px;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: -30px;
}

.overlay-food-tags {
    position: relative;
    z-index: 1;
    margin-left: -5px;
}

.overlay-food-tags span {
    padding: 5px 10px;
    margin: 5px;
}

.overlay-food-image {
    position: relative;
    z-index: 998;
    border-radius: 1px;
    object-fit: cover;
}

.overlay-food-kitchen-logo {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 100px
}

@media screen and (max-height: 400px) {
    .overlay-food-image {
        display: none;
    }

    .overlay-content {
        min-height: 300px;
    }

    #BundleOverlayCarousel {
        display: none;
    }
}

@media screen and (min-height: 400px) {
    .overlay-dish {
        top: -20px;
        background-color: transparent;
    }

    .overlay-food-image {
        height: 240px !important;
        width: 320px !important;
        object-fit: cover;
    }

    .overlay-background {
        height: 205px;
    }

    .overlay-content h3 {
        margin-top: 15px;
    }

    .responsive-dish-image {
        height: 275px !important;
    }
}

@media screen and (min-height: 880px) {
    .overlay-dish {
        background-color: transparent;
        width: 700px;
    }

    .overlay-food-image {
        height: 320px !important;
        width: 425px !important;
        object-fit: cover;
    }

    .overlay-background {
        height: 285px;
    }

    .overlay-content h3 {
        top: 0;
        margin-top: 15px;
    }

    .responsive-dish-image {
        height: 365px !important;
    }
}

@media screen and (max-width: 800px) {
    .overlay-dish {
        position: fixed;
        margin-left: auto;
        display: block;
        max-width: 400px;
        margin-top: 0;
    }

    .overlay-food-image {
        width: 400px !important;
    }

}

.overlay-past-dishes h6 {
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    color: var(--dark-text-color);
    margin-bottom: -10px;
}

.past-food-item .kitchen-food-image {
    position: relative;
    margin-top: 25px;
    height: 150px;
    width: 200px;
    cursor: pointer;
    margin-right: 5px;
    object-fit: cover;
}

.overlay-current-dishes h6 {
    margin-bottom: -10px;
}

.overlay-current-dishes .current-food-item:hover div.text-content {
    opacity: 1;
}

.overlay-past-dishes .past-food-item:hover div.text-content {
    opacity: 1;
}

.overlay-current-dishes, .overlay-past-dishes {
    position: relative;
    padding: 0 50px;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay-current-dishes h6 {
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    color: var(--dark-text-color);
}

.overlay-current-dishes .current-food-item {
    display: inline-block;
}

