#overlay {
    position: relative;
    color: #efefef;
}

#follow-btn {
    top: 5px;
}

.overlay-kitchen {
    position: fixed;
    margin: auto;
    display: block;
    max-width: 730px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1px;
    width: 100%;
    height: 100vh !important;
}

.overlay-user-content {
    position: relative;
    color: var(--dark-text-color);
    max-width: 730px;
    height: auto;
    display: block;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
    padding-bottom: 50px;
}

.overlay-cover-photo {
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 1px;
    height: 320px !important;
    max-width: 730px !important;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .overlay-cover-photo {
        height: 200px !important;
    }
}
