.stripe-success-wrapper, .stripe-failed-wrapper {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.stripe-success-wrapper svg, .stripe-failed-wrapper svg {
    height: 120px;
    width: 120px;
}

.stripe-success-wrapper svg path {
    fill: #85bb65;
}

.stripe-success-wrapper p {
    text-align: left;
}

.stripe-failed-wrapper svg path {
    fill: #D8000C;
}