/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

/* ------------------------------------ */
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */
input {
    display: block;
    outline: none;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/


/*//////////////////////////////////////////////////////////////////
[ Table ]*/


.limiter {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

.upcoming-wrapper {
    display: flex;
    justify-content: left;
    max-width: 1370px;
    margin: auto;
}

.umami-page-header h1, .umami-page-header h3 {
    padding: 0 !important;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 0px;
}

.wrap-table100 {
    width: 1370px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td, table th {
    text-align: left;
}

table td.l, table th.l {
    text-align: right;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}


.table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr {
    font-size: 14px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    background-color: #FFFFFF;
}

tbody tr:hover {
    color: #555555;
    background-color: rgb(247, 247, 247);
}

thead .column3 {
    width: 245px;
    padding-left: 40px;
}

tbody .column3 {
    width: 245px;
    padding-left: 20px;
}

.column1 {
    width: 90px;
    padding-left: 25px;
}

.column2 {
    width: 95px;
    text-align: center;
}

.column4 {
    width: 130px;
}

.column5 {
    width: 70px;
    text-align: center;
}

.column6 {
    width: 100px;
    text-align: center;
    padding-right: 10px;
    padding-left: 20px;
}

.column7 {
    width: 160px;
    text-align: center;
}

.column8 {
    width: 270px;
    text-align: center;
    padding-right: 20px;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }

    table > *, table tr, table td, table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "Date";
    }

    table tbody tr td:nth-child(2):before {
        content: "Time";
    }

    table tbody tr td:nth-child(3):before {
        content: "Order ID";
    }

    table tbody tr td:nth-child(4):before {
        content: "Dish";
    }

    table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }


    table tbody tr td:nth-child(7):before {
        content: "Method";
    }

    table tbody tr td:nth-child(8):before {
        content: "Address";
    }

    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column1,
    .column2,
    .column3 {
        width: 100%;
        text-align: left;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}