*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-weekly-calendar {
    transition: top 0.3s;
}

a.today {
    height: 60px;
    width: 50px;
    margin: 0 auto;
}

#calendar-wrapper {
    margin: 0 auto;
    width: 975px;
    position: fixed;
    left: 0;
    right: 0;
}

#calendar-text {
    line-height: 60px;
    color: #939393;
    border-left: 1px solid #e8ebe9;
    border-right: 1px solid #e8ebe9;
    height: 60px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

#calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    width: 660px;
    height: 60px;
    display: inline-block;
    left: 0;
    right: 0;
    position: fixed;
}


.calendar-left, .calendar-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: inline-block;
}

.calendar-left {
    border-width: 15px 20px 15px 0;
    border-color: transparent #939393 transparent transparent;
    margin-right: 10px;
}

.calendar-right {
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #939393;
    float: right;
}

.week {
    opacity: 0;
    display: inline-flex;
    justify-content: space-around;
    width: 600px;
    height: 60px;
    vertical-align: top;
    margin: auto;
}

.week.current {
    -webkit-animation: fadeIn 0.1s ease-out;
    opacity: 1;
}

.week.in.prev, .week.in.next {
    -webkit-animation: moveFromBottomFadeMonth;
    -moz-animation: moveFromBottomFadeMonth;
    animation: moveFromBottomFadeMonth;
    opacity: 1;
}

.week.out.prev, .week.out.next {
    -webkit-animation: moveToBottomFadeMonth;
    -moz-animation: moveToBottomFadeMonth;
    animation: moveToBottomFadeMonth;
    opacity: 1;
}

.day {
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.day:hover, .day:visited, .day:link, a.day:active {
    text-decoration: none;
    color: var(--dark-text-color);
}

.day.selected {
    background-color: var(--theme-blue);
    height: 60px;
}

.day.past {
    color: #939393;
    height: 60px;
    cursor: default;
}

.day.past:active {
    color: #939393;
}

.day-wrapper {
    padding: 15px;
}

.day-slot {
    padding: 30px 0;
    font-weight: 500;
}

.day-name {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .7px;
}

.day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
}

.day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
}

.day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
}

.blue {
    background: rgba(156, 202, 235, 1);
}

.orange {
    background: rgba(247, 167, 0, 1);
}

.green {
    background: rgba(153, 198, 109, 1);
}

.yellow {
    background: rgba(249, 233, 0, 1);
}

/* Animations are cool!  */

@-webkit-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@-moz-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

