{% load socialaccount %}
{% providers_media_js %}
<div class="fb-button-wrapper">
    <button class="facebook-button btn">
        <span class="facebook-logo">f</span>
        <sup class="facebook-button-text"><a href="{% provider_login_url "facebook" method="js_sdk" %}">Continue
            with Facebook</a></sup>
    </button>
</div>