@font-face {
  font-family: 'checkmark';
  src: url('../font/checkmark.eot?84318877');
  src: url('../font/checkmark.eot?84318877#iefix') format('embedded-opentype'),
       url('../font/checkmark.woff2?84318877') format('woff2'),
       url('../font/checkmark.woff?84318877') format('woff'),
       url('../font/checkmark.ttf?84318877') format('truetype'),
       url('../font/checkmark.svg?84318877#checkmark') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'checkmark';
    src: url('../font/checkmark.svg?84318877#checkmark') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "checkmark";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circled-1:before { content: '\f06d'; } /* '' */