<div class="inner-content">
    {% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}
        {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!<br>

            You're receiving this e-mail because user {{ user_display }} has given this e-mail address to connect
            their account.

            To confirm this is correct, please click:
            <p style="text-align: center; margin: 20px auto;">
                <a href="{{ activate_url }}"
                   style="background-color:#ee7600;border:1px solid #ee7600;border-color:#ee7600;border-radius:6px;border-width:1px;color:#FFFFFF;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:normal;letter-spacing:0px;line-height:16px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none"
                   target="_blank">Confirm Email</a>
            </p>

            <p>or paste this link into your browser address bar:</p>
            <p>{{ activate_url }}</p>
        {% endblocktrans %}{% endautoescape %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you from {{ site_name }}!
        eatumami.co{% endblocktrans %}
</div>