{% load orders_filter %}
{% load common_filter %}

{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Umami Order</title>
    <style>
        h2:after, .expanded-order-wrapper:after {
            content: "";
            height: 1px;
            background: linear-gradient(to right, #d9d9d9 100%, #d9d9d9 100%, #d9d9d9 100%);
            display: block;
            margin-bottom: 40px;
            margin-top: 20px;
        }

        .outter-main {
            text-align: center;
        }

        .inner-main {
            position: relative;
            min-height: 100vh;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            top: 50px;
        }

        .single-order-date {
            margin-bottom: 15px;
        }

        h2 {
            margin-bottom: 30px;
        }

        .subject-profile-info {
            position: relative;
            clear: both;
            height: auto;
            align-items: center;
            text-align: center;
            display: inline-block;
            margin-bottom: 15px;
        }

        .order-number {
            background-color: white;
            line-height: 30px;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .subject-profile-pic {
            width: 100px;
            display: inline-block;
            vertical-align: top;
            border-radius: 50px;
        }

        .subject-details {
            position: relative;
            display: inline-block;
            margin: 10px;
        }

        .expanded-subject-name {
            position: relative;
            display: block;
            font-weight: 500;
        }

        .order-notes {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            width: 800px;
            word-wrap: break-word;
            margin-top: 10px;
            margin-bottom: 15px;
            color: dimgrey;
        }

        .expanded-order {
            text-align: start;
            clear: both;
            align-items: center;
            padding: 10px 5px;
        }

        .expanded-item {
            position: relative;
            margin-left: 10px;
            max-height: 65px;
        }

        .bundle-title-price {
            margin-top: 15px;
            text-align: initial;
        }

        .bundle-name {
            font-weight: 800;
            font-size: 20px;
        }

        .expanded-ready-by {
            width: 100%;
            padding: 15px 0;
            text-align: center;
        }

        .expanded-order-item {
            padding-bottom: 10px;
        }

        .item-pic {
            height: 65px;
            width: 87px;
            float: left;
            object-fit: cover;
        }

        .item-extra {
            margin-right: 5px;
            display: inline;
        }

        .expanded-item-subtotal {
            height: 22px;
            line-height: 22px;
            max-width: 60px;
        }

        .order-item-info-price {
            display: flex;
        }

        .order-item-right-align-items {
            display: flex;
            width: 100%;
            margin-right: 10px
        }

        .order-price-breakdown {
            margin-top: 20px;
        }


        .expanded-order-total {
            margin-top: 10px;
            font-size: 20px;
        }

        .address {
            margin: 15px auto;
        }

        .umami-logo {
            line-height: 60px;
            vertical-align: middle;
            margin-top: -2px;
        }

        @media screen and (min-width: 1000px) {
            .inner-main {
                width: 1000px;
            }
        }

        @media screen and (max-width: 650px) {
            .inner-main {
                width: 390px;
                padding: 0 5px;
                top: 0;
            }
        }

    </style>
</head>
<body>
<div class="outter-main">
    <div class="inner-main">
        <a href="https://eatumami.co"
           style="background-color:#ffffff;border:1px solid #333333;border-color:#ffffff;border-radius:6px;border-width:1px;color:#000000;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:normal;letter-spacing:0px;line-height:16px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none"
           target="_blank">
            <svg class="umami-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 171.41 236.52" height="45" width="45">
                <defs>
                    <clipPath id="clip-path" transform="translate(-550.22 -327.62)">
                        <rect x="543.4" y="322" width="187.6" height="250.88" style="fill:none"/>
                    </clipPath>
                </defs>
                <g style="clip-path:url(#clip-path)">
                    <path d="M550.23,466a215.17,215.17,0,0,1,1.25-27.55,173.93,173.93,0,0,1,7.59-35,160.51,160.51,0,0,1,9.54-22.82,155.2,155.2,0,0,1,17.11-27,77.19,77.19,0,0,1,17.85-16.51A56.5,56.5,0,0,1,627,328.24a61.19,61.19,0,0,1,47.41,13,89.33,89.33,0,0,1,17.94,19.39A130.29,130.29,0,0,1,702,377.06a187.91,187.91,0,0,1,14.17,39.55,199.87,199.87,0,0,1,4.32,24.29,178.05,178.05,0,0,1,1,25.08,158.46,158.46,0,0,1-2.25,23.31,115.08,115.08,0,0,1-10,31.12,67.87,67.87,0,0,1-16.19,21.14,91.36,91.36,0,0,1-38.75,20.21A75.44,75.44,0,0,1,630.74,564a80.56,80.56,0,0,1-18.07-3.56,88.59,88.59,0,0,1-31.44-16.95,72.39,72.39,0,0,1-20.12-26.68A132.91,132.91,0,0,1,552,487.09,131,131,0,0,1,550.23,466Z"
                          transform="translate(-550.22 -327.62)"/>
                    <path d="M553.24,459.12a180.07,180.07,0,0,1,1.31-21.18,164.69,164.69,0,0,1,13.13-48.89,162.45,162.45,0,0,1,16.57-29.13,81.72,81.72,0,0,1,19.15-19.46,54.22,54.22,0,0,1,24-9.63,58.09,58.09,0,0,1,38.89,7.92A72.88,72.88,0,0,1,684,354a119.32,119.32,0,0,1,17.42,27.84,187.09,187.09,0,0,1,12.52,37.38,197.22,197.22,0,0,1,4,24.42,172.88,172.88,0,0,1,.45,28.87,129,129,0,0,1-7,35.34,87.77,87.77,0,0,1-8.54,17.8,64.81,64.81,0,0,1-11.06,12.94,87.59,87.59,0,0,1-35.6,19.55,72,72,0,0,1-25.67,2.69,81.29,81.29,0,0,1-21-4.8,83.51,83.51,0,0,1-29.27-17.9,70.78,70.78,0,0,1-16.52-23.63,130.23,130.23,0,0,1-8.79-29.62C553.56,477.32,553.35,469.65,553.24,459.12Z"
                          transform="translate(-550.22 -327.62)" style="fill:#ffe7e7"/>
                    <path d="M636.27,470.54q16.44,0,32.89,0c.63,0,.82.14.78.8-.81,14.16-7.62,24.32-20.5,30.21a30.62,30.62,0,0,1-19.38,2.1c-13.74-2.88-22.56-11.21-26.47-24.68a28.39,28.39,0,0,1-1.05-7.74c0-.57.16-.69.69-.69Q619.76,470.56,636.27,470.54Z"
                          transform="translate(-550.22 -327.62)"/>
                    <path d="M662.68,434.3c5.51.24,9.91,2.42,12.87,7.13a12.33,12.33,0,0,1,1.9,6.7,2.79,2.79,0,0,1-2.74,2.94,2.87,2.87,0,0,1-3-2.72,8,8,0,0,0-1.19-4.1,9.06,9.06,0,0,0-6.51-4,9.37,9.37,0,0,0-9.6,4.59,8,8,0,0,0-.88,3.42,2.9,2.9,0,0,1-3,2.83,2.81,2.81,0,0,1-2.69-3.11c.12-6.55,5.07-11.63,10.82-13.11a12.89,12.89,0,0,1,2.06-.38Z"
                          transform="translate(-550.22 -327.62)"/>
                    <path d="M610.38,434.32a14.66,14.66,0,0,1,13.93,11,13.63,13.63,0,0,1,.34,2.63,2.71,2.71,0,0,1-2.62,3.13,2.87,2.87,0,0,1-3.1-2.81,7.5,7.5,0,0,0-1.18-4,9.08,9.08,0,0,0-9.48-4,8.4,8.4,0,0,0-7.28,6.19,12.52,12.52,0,0,0-.22,1.94,2.88,2.88,0,1,1-5.74-.47,13.63,13.63,0,0,1,6.81-11.39A15.74,15.74,0,0,1,610.38,434.32Z"
                          transform="translate(-550.22 -327.62)"/>
                </g>
            </svg>
            <span class="title">Umami</span>
        </a>
        <section class="order">
            <h2>{{ msg }}</h2>
            <div class="order-number force-select">
                <span><b>Order ID: </b>{{ order.id|upper }}</span>
                <div class="single-order-date">
                    <span>{{ order.handoff_date|convert_to_simple_date }}</span>
                </div>
            </div>
            <div class="subject-profile-info">
                {% if order.kitchen.logo_image %}
                    <a href="{{ order.kitchen.social_url }}"><img
                            class="subject-profile-pic"
                            src="{{ order.kitchen.logo_image }}"></a>
                {% endif %}
                <div class="subject-details">
                    <div class="expanded-subject-name">
                        {% if role == "buyer" %}
                            <span>{{ order.kitchen.title }}</span>
                        {% else %}
                            <span>{{ order.buyer_fullname }}</span>
                        {% endif %}
                    </div>
                    <div class="expanded-subject-phone">
                        {% if role == "buyer" %}
                            <a href="tel:{{ order.seller_phone }}">{{ order.seller_phone|prettify_phone_number }}</a>
                        {% else %}
                            <a href="tel:{{ order.buyer_phone }}">{{ order.buyer_phone|prettify_phone_number }}</a>
                        {% endif %}
                    </div>
                    <div class="expanded-subject-phone">
                        {% if role == "buyer" %}
                            <a href="mailto:{{ order.seller_email }}">E-mail</a>
                        {% else %}
                            <a href="mailto:{{ order.buyer_email }}">E-mail</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if order.notes %}
                <div class="order-notes"><span>Notes: </span>{{ order.notes }}</div>
            {% endif %}
            <div class="expanded-order">
                {% for item in order.items %}
                    <div class="expanded-order-wrapper">
                        <div class="expanded-ready-by">
                        <span>
                            {% if order.handoff_type == "delivery" %}
                                <b>Delivers on:</b>
                            {% else %}
                                <b>Pickup on:</b>
                            {% endif %}
                            {{ order.handoff_date|convert_to_simple_date }}
                        </span>
                            <div>
                                <b>Between:</b>
                                <span>{{ order.handoff_time_start|get_pretty_time }}-{{ order.handoff_time_end|get_pretty_time }}</span>
                            </div>
                            {% if item.choices|length > 1 %}
                                <div class="bundle-title-price">
                                    <div class="bundle-name">{{ item.name }}</div>
                                    <div class="bundle-subtotal">${{ item.subtotal|floatformat:2 }}</div>
                                </div>
                            {% endif %}
                        </div>
                        {% for choice in item.choices %}
                            <div class="expanded-order-item">
                                <div class="order-item-info-price">
                                    <div class="order-item-right-align-items">
                                        <img class="item-pic" src="{{ choice.dish.image }}">
                                        <div class="expanded-item">
                                            <div class="expanded-item-detail">
                                                <span class="expanded-item-qty">{{ item.quantity }}</span>
                                                <span class="expanded-item-name">{{ choice.dish.name }}</span>
                                                {% if choice.option %}
                                                    <span class="expanded-item-option"> - {{ choice.option.name }}</span>
                                                {% endif %}
                                                {% if choice.extras %}
                                                    <div class="item-extras">
                                                        {% for extra in choice.extras %}
                                                            <span>+</span>
                                                            <div class="item-extra">
                                                                <span class="item-extra-name">{{ extra.name }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if item.choices|length == 1 %}
                                    <div class="expanded-item-subtotal">${{ item.subtotal|floatformat:2 }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="order-price-breakdown">
                {% if order.handoff_type == "delivery" %}
                    <div class="address">
                        <div>Delivery Address</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div><span>Subtotal: </span>
                        ${{ order.subtotal|floatformat:2 }}
                    </div>
                    <div class="delivery-cost"><span>Delivery: </span>
                        ${{ order.delivery_fee|floatformat:2 }}
                    </div>
                {% else %}
                    <div class="address">
                        <div>Pickup Address:</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div><span>Subtotal: </span>
                        ${{ order.subtotal|floatformat:2 }}
                    </div>
                {% endif %}
                <div class="stripe-fee">
                    <span>Taxes and Fees: </span>
                    ${{ order.stripe_fee|floatformat:2 }}
                </div>
                <div class="expanded-order-total">
                    <span>Total:</span>${{ order.total|floatformat:2 }}
                </div>
            </div>
        </section>
        <p>If you have any questions please use the <a href="https://www.eatumami.co/contact">Contact Us</a> page.
        </p>
    </div>
</div>
</body>
</html>