<div class="inner-content">
    <div class="right">
        <div>
            <b>Refund Successfully
                Issued!</b>
        </div>
        <div>
            <b>Order #</b><a
                href="https://www.eatumami.co/order?orderId={{ pubk }}">{{ pubk|upper }}</a>
        </div>
    </div>
    <p>
        <b>Hello {{ order.seller.title|title }},</b>
    </p>
    <p>A refund
        of {{ order.refunded_amount }}
        was
        issued
        to {{ order.buyer.full_name|title }}.
        This refund is final
        and
        cannot be reversed. It may
        take between 5 to
        10 business days for the
        refund to be
        completed. We appreciate
        your
        business with us! </p>

    <div class="footer">If you have
        any questions
        please use the <a
                href="https://www.eatumami.co/contact">Contact
            Us</a> page.
    </div>
</div>