<div class="inner-content">
    <div class="right">
        <div>
            <b>Refund
                Successful!</b>
        </div>
        <div>
            <b>Order #</b><a
                href="https://www.eatumami.co/order?orderId={{ pubk }}">{{ pubk|upper }}</a>
        </div>
    </div>
    <p>
        <b>Hello {{ order.buyer.full_name|title }},</b>
    </p>
    <p>A refund
        of {{ order.refunded_amount }}
        was
        issued
        from {{ order.seller.title|title }}
        to your original
        payment method. This credit
        may take between
        5 to 10 business days. We
        appreciate your
        business. </p>
    <div class="footer">If you have
        any questions
        please use the <a
                href="https://www.eatumami.co/contact">Contact
            Us</a> page.
    </div>
</div>