{% block content %}
    {% load static from staticfiles %}
    {% verbatim %}
    <div class="dish-id-version" data-dish-id="{{ food_item.dishes[0].id }}"
         data-dish-version="{{ food_item.dishes[0].version }}"></div>
    <img class="overlay-food-image main-food-image" id="main-food-image"
         data-ng-src="{{ food_item.dishes[0].image }}" alt="{{ food_item.dishes[0].name }}">
    <section class="overlay-content" id="food-content">
        <div class="dish-made-by" id="overlay-made-by"
             data-toggle="modal" data-target="#kitchenModal"
             data-kitchen-id="{{ food_item.kitchen.id }}"
             data-kitchen-url="{{ food_item.kitchen.url }}"
             data-social-url="{{ food_item.kitchen.social_url }}">
            <img class="overlay-food-kitchen-logo" id="food-kitchen-logo"
                 data-ng-if="food_item.kitchen.logo_image"
                 data-ng-src="{{ food_item.kitchen.logo_image }}"
                 alt="{{ food_item.kitchen.title }}">
            <span>{{ food_item.kitchen.title }}</span>
        </div>
        <div class="food-detail-info force-select">
            <div class="food-description">
                <h3>{{ food_item.dishes[0].name }}</h3>
                <h3 class="sold-out-text" data-ng-if="food_item.available <= 0 || food_item.is_expired">(SOLD OUT)</h3>
                <div id="overlay-dish-rating" data-rating="{{ food_item.dishes[0].rating.score }}" class="dish-rating"
                     star-width="20px"></div>
                <div class="options-section btn-group" data-toggle="buttons"
                     data-ng-if="food_item.dishes[0].options.length > 0">
                    <label class="btn btn-default btn-md" data-ng-repeat="opt in food_item.dishes[0].options">
                        <input type="radio" name="option" class="option-selector"
                               value='{"name": "{{ opt.name }}", "price": "{{ opt.price|number:2 }}"}'
                               data-price="{{ opt.price|number:2 }}" required>
                        <span>{{ opt.name }}</span>
                        <span data-ng-if="opt.price > 0">+${{ opt.price|number:2 }}</span>
                    </label>
                </div>
                <p>{{ food_item.dishes[0].description }}</p>
            </div>
            {% endverbatim %}
            {% verbatim %}
            <div class="ingredients" data-ng-if="food_item.dishes[0].ingredients.length > 0">
                <b>Ingredients: </b>
                <span data-ng-repeat="ingredient in food_item.dishes[0].ingredients track by $index">{{ ingredient.name }}{{$last ? '' : ', '}}</span>
            </div>
            <div class="overlay-food-tags food-tags">
                <span data-ng-repeat="tag in food_item.dishes[0].tags track by $index">{{ tag.name }}</span>
            </div>

            <div id="food-options" data-ng-if="food_item.dishes[0]">
                <div class="extras-section" data-ng-if="food_item.dishes[0].extras.length > 0">
                    <div class="extra-select" data-ng-repeat="extra in food_item.dishes[0].extras">
                        <label>
                            <input type="checkbox" class="extra-checkbox" data-extra-price="{{ extra.price|number:2 }}"
                                   data-extra-name="{{ extra.name }}">
                            <span>Add </span>
                            <span class="extra-select-name">{{ extra.name }}</span>
                            <span class="extra-select-price">+${{ extra.price|number:2 }}</span>
                        </label>

                    </div>
                </div>
                <div class="offer-info-wrapper" data-ng-if="food_item.date">
                    <div class="food-available-wrapper" data-ng-if="!food_item.is_expired && food_item.available > 0">
                        <span style="font-weight: 500;">Available: </span>
                        <span id="food-available">{{ food_item.available }}</span>
                        <span> left!</span>
                    </div>
                    <div class="offer-page-end-by"><span style="font-weight: 500;">Order before: </span>
                        <span>{{ food_item.order_by }}</span>
                    </div>
                    {% endverbatim %}
                    {% include "common/angular_delivery_pickup.html" %}
                    {% verbatim %}
                </div>
            </div>
        </div>

        <div class="dish-google-map" data-ng-if="food_item.map_image">
            <img data-ng-src="{{food_item.map_image}}">
        </div>

        <div data-ng-controller="reviewsPaginationCtrl" data-ng-if="food_item.reviews.length > 0">
            <ul class="dish-reviews" data-ng-init="init(food_item.reviews)">
                {% endverbatim %}
                {% include "common/dish_reviews.html" %}
            </ul>
        </div>

    </section>
{% endblock %}