{% verbatim %}

<div id="delivery-or-pickup" class="radio" data-toggle="radio"
     data-ng-if="food_item.can_pickup && food_item.can_deliver" data-ready-date="{{ food_item.date }}">
    <label class="delivery-choice">
        <input type="radio" name="transportation-opt" value="delivery" data-ng-checked="true">
        <span style="font-weight: 500;">Delivery:</span>
        <span class="offer-page-ready-by">
                <span>{{ food_item.ready_date }}</span>
                <span>{{ food_item.deliver_time_range }}</span>
        </span>
    </label>

    <label class="delivery-choice">
        <input type="radio" name="transportation-opt" value="pickup">
        <span style="font-weight: 500;">Pickup:</span>
        <span class="offer-page-ready-by">
                <span>{{ food_item.ready_date }}</span>
                <span>{{ food_item.pickup_time_range }}</span>
        </span>
    </label>
</div>
<div id="delivery-or-pickup" class="radio" data-toggle="radio"
     data-ng-if="food_item.can_pickup != food_item.can_deliver" data-ready-date="{{ food_item.date }}">
    <label class="delivery-choice" data-ng-if="food_item.can_deliver">
        <input type="radio" name="transportation-opt" value="delivery" data-ng-checked="true">
        <span style="font-weight: 500;">Delivery:</span>
        <span class="offer-page-ready-by">
                <span>{{ food_item.ready_date }}</span>
                <span>{{ food_item.deliver_time_range }}</span>
        </span>
    </label>

    <label class="delivery-choice" data-ng-if="food_item.can_pickup">
        <input type="radio" name="transportation-opt" value="pickup" data-ng-checked="true">
        <span style="font-weight: 500;">Pickup:</span>
        <span class="offer-page-ready-by">
                <span>{{ food_item.ready_date }}</span>
                <span>{{ food_item.pickup_time_range }}</span>
        </span>
    </label>
</div>
{% endverbatim %}