<div id="delivery-or-pickup" class="radio" data-toggle="radio" data-ready-date="{{ food_item.date }}">
    {% if food_item.can_pickup and food_item.can_deliver %}
        <label class="delivery-choice">
            <input type="radio" name="transportation-opt" value="delivery" checked="checked">
            <span style="font-weight: 500;">Delivery:</span>
            <span class="offer-page-ready-by">
                <script>document.write(parse_time_range("{{ food_item.deliver_time.start }}", "{{ food_item.deliver_time.end }}"));</script>
            </span>
        </label>
        <label class="delivery-choice">
            <input type="radio" name="transportation-opt" value="pickup">
            <span style="font-weight: 500;">Pickup:</span>
            <span class="offer-page-ready-by">
                <script>document.write(parse_time_range("{{ food_item.pickup_time.start }}", "{{ food_item.pickup_time.end }}"));</script>
            </span>
        </label>
    {% else %}
        <label class="delivery-choice">
            {% if food_item.can_deliver %}
                <input type="radio" name="transportation-opt" value="delivery" checked="checked">
                <span style="font-weight: 500;">Delivery:</span>
                <span class="offer-page-ready-by">
                    <script>document.write(parse_time_range("{{ food_item.deliver_time.start }}", "{{ food_item.deliver_time.end }}"));</script>
                </span>
            {% endif %}
            {% if food_item.can_pickup %}
                <input type="radio" name="transportation-opt" value="pickup" checked="checked">
                <div style="font-weight: 500;">Pickup:</div>
                <span class="offer-page-ready-by">
                    <script>document.write(parse_time_range("{{ food_item.pickup_time.start }}", "{{ food_item.pickup_time.end }}"));</script>
                </span>
            {% endif %}
        </label>
    {% endif %}
</div>

