{% block content %}
    {% load static from staticfiles %}
    {% load dish_filter %}
    {% with path=request.get_full_path %}
        <div class="dish-id-version" data-dish-id="{{ dish.id }}" data-dish-version="{{ dish.version }}"></div>
        <img class="dish-page-food-image" id="main-food-image" src="{{ dish.image }}"
             alt="{{ dish.name }}">
        <section id="food-content">
            <a href="{{ food_item.kitchen.social_url }}" style="text-decoration: none;">
                <div class="dish-made-by" data-kitchen-url="{{ food_item.kitchen.url }}"
                     data-kitchen-id="{{ food_item.kitchen.id }}">
                    {% if food_item.kitchen.logo_image %}
                        <img id="food-kitchen-logo" src="{{ food_item.kitchen.logo_image }}"
                             alt="{{ food_item.kitchen.title }}">
                    {% endif %}
                    <span>{{ food_item.kitchen.title }}</span>
                </div>
            </a>
            <div class="food-detail-info force-select">
                <div class="food-description">
                    <h3>{{ dish.name|title }}</h3>
                    <h3 class="sold-out-text"
                            {% if not food_item|available_for_purchase:url_date %}
                        style="display: block;"
                            {% else %}
                        style="display: none;"
                            {% endif %}
                    >
                        (SOLD OUT)
                    </h3>
                    <div rate-star={{ dish.rating.score }} class="dish-rating" star-width="25px"></div>
                    {% if dish.options|length > 0 %}
                        <div class="options-section btn-group" data-toggle="buttons">
                            <div class="options-section btn-group" data-toggle="buttons">
                                {% for opt in dish.options %}
                                    {% if "/offer/new" in path or "offer/edit" in path %}
                                        <span class="edit-dish-options">
                                            {{ opt.name }} : ${{ opt.price|floatformat:2 }}
                                        </span>
                                    {% else %}
                                        <label class="btn btn-default btn-md">
                                            <input type="radio" name="option" class="option-selector"
                                                   value='{"name": "{{ opt.name }}", "price": "{{ opt.price|floatformat:2 }}"}'
                                                   data-price="{{ opt.price }}" required>
                                            <span>{{ opt.name }}</span>
                                            {% if opt.price > 0 %}
                                                <span>+${{ opt.price|floatformat:2 }}</span>
                                            {% endif %}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <p>{{ dish.description }}</p>
                </div>
                <div class="ingredients">
                    {% if dish.ingredients|length > 0 %}
                        <b>Ingredients: </b>
                        <span>{{ dish.ingredients|joinby:", " }}</span>
                    {% endif %}
                </div>
                <div class="dish-food-tags food-tags">
                    {% autoescape off %}
                        {{ dish.tags|parse_tags }}
                    {% endautoescape %}
                </div>
                <div id="food-options">
                    {% if dish.extras|length > 0 %}
                        <div class="extras-section">
                            {% for extra in dish.extras %}
                                <div class="extra-select">
                                    <label>
                                        <input type="checkbox" class="extra-checkbox"
                                               data-extra-price="{{ extra.price|floatformat:2 }}"
                                               data-extra-name="{{ extra.name }}"
                                                {% if "/offer/new" in path or "offer/edit" in path %}
                                               disabled
                                                {% endif %}>

                                        <span>Add </span>
                                        <span class="extra-select-name">{{ extra.name }}</span>
                                        <span class="extra-select-price">+${{ extra.price|floatformat:2 }}</span>
                                    </label>

                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if food_item.date and "offer/edit" not in path %}
                        <div class="offer-info-wrapper">
                            {% if not food_item.is_expired %}
                                <div class="food-available-wrapper">
                                    <span style="font-weight: 500;">Available: </span>
                                    <span id="food-available">{{ food_item|get_availability_for_date:url_date }}</span>
                                    <span> left!</span>
                                </div>
                            {% endif %}
                            <div class="offer-page-end-by"><span style="font-weight: 500;">Order before: </span>
                                <script>document.write(get_pretty_time("{{ food_item.order_by }}"));</script>
                            </div>
                            {% if food_item.is_recurring %}
                                <div class="ready-date-selector">
                                    <span style="font-weight: 500;">Ready: </span>
                                    <select class="availability-date-picker" required>
                                        {% for ready_date in food_item.ready_dates %}
                                            <option value="{{ ready_date.name }}">{{ ready_date.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% else %}
                                <div class="availability-date"><span style="font-weight: 500;">Ready: </span>
                                    <script>document.write(parse_date("{{ food_item.date }}"));</script>
                                </div>
                            {% endif %}
                            {% include "common/delivery_pickup.html" %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if "/offer/new" in path or "offer/edit" in path %}
                <span class="new-offer-dish-price"><b>Base price:</b> ${{ dish.price|floatformat:2 }}</span>
                <a class="edit-dish-link" href="/dish/edit/{{ dish.id }}">Edit Dish</a>
            {% endif %}
            {% if food_item.map_image %}
                <div class="dish-google-map">
                    <img src="{{ food_item.map_image }}">
                </div>
            {% endif %}
            {% if reviews|length > 0 %}
                <div data-ng-controller="reviewsPaginationCtrl">
                    <ul class="dish-reviews" data-ng-init="init({{ reviews }})">
                        {% include "common/dish_reviews.html" %}
                    </ul>
                </div>
            {% endif %}
        </section>
    {% endwith %}
    <script>
        var availables = {{ food_item.availables|make_safe }};
        var total_available = {{ food_item.total_available|make_safe:0 }};
    </script>
{% endblock %}