{% block content %}
        {% verbatim %}
        <li class="dish-review" data-ng-repeat="review in reviews track by $index">
            <div rate-star={{review.rating}} class="review-rating"></div>
            <div class="review-date">{{review.date}}</div>
            <div><span class="review-user">{{review.user}}</span><span
                    data-ng-if="review.text != ''">wrote:</span></div>
            <div class="review-text" data-ng-if="review.text != ''">{{review.text}}</div>
        </li>
        {% endverbatim %}
        <div class="review-pagination">
            <a id="more-reviews" data-ng-click="getMore()">Load more reviews</a>
        </div>
{% endblock %}