<!-- Footer -->
<div class="container">
    <ul class="list-inline mb-5">
        <li class="list-inline-item">
            <a class="social-link rounded-circle mr-3 facebook"
               href="https://www.facebook.com/Umami-1249754825163148" target="_blank">
                <i class="fa fa-facebook-f"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-link rounded-circle mr-3 twitter" href="https://twitter.com/Umami_Inc"
               target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-link rounded-circle instagram" href="https://www.instagram.com/umamiapp"
               target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
    <section class="company-info">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="contact-us"
                   href="/contact">
                    Contact Us
                </a>
            </li>
            <li class="list-inline-item">
                <a class="faq"
                   href="/faq">
                    FAQs
                </a>
            </li>
            <li class="list-inline-item">
                <a class="become-partner"
                   href="/partner">
                    Become a Partner
                </a>
            </li>
        </ul>
    </section>
    <section class="company-policies">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="become-partner"
                   href="https://app.termly.io/document/privacy-policy/179ab949-f6d1-4813-9f28-b02fa941ce7b"
                   target="_blank">
                    Privacy Policy
                </a>
            </li>
            <li class="list-inline-item">
                <a class="become-partner"
                   href="/terms"
                   target="_blank">
                    Terms & Conditions
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Made in San Jose, CA by Umami Technologies Inc © 2019</p>
    </section>
</div>
