{% load static from staticfiles %}
{% block content %}
    <!-- Font -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:400,500">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'scripts/common.js' %}"></script>
    <script src="{% static 'scripts/login.js' %}"></script>
    <script src="{% static 'scripts/googleMaps.js' %}"></script>
    <script src="{% static 'scripts/navigation.js' %}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDtpMmoVmNAIlheOK53ta272ltkp18FR00&libraries=places&callback=initAutocomplete"
            async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav id="top-menu-bar">
        <div id="top-navigation">
            <div class="umami-logo-wrapper">
                {% include "common/umami-logo.html" %}
            </div>
            <form id="delivery-street-address" action="/foodpage" method="get">
                <input class="form-control search-address" id="address-autocomplete"
                       onFocus="geolocate(); this.select();"
                       onmouseup="return false;" name="address" placeholder="Please enter an address...">
                <input name="lon" style="display: none;">
                <input name="lat" style="display: none;">
                <input name="d" style="display: none;">
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>

            <div class="user-options">
                {% if user.is_authenticated %}
                    <div id="account-button">
                        <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>
                                <span class="nav-bar-text-content">{{ user.first_name|title }}</span>
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" style="top:43px;">
                                {% include "account/account_dropdown.html" %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    {% if request.path != "/accounts/login/" %}
                        <div id="account-button">
                            <div class="user-account-button" id="login-button" data-toggle="modal"
                                 data-target="#loginModal">
                                <div class="glyphicon glyphicon-lock"></div>
                                <span style="margin-right: 5px;">SIGN IN</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <span id="cart-button" class="disable-select">
                    <div class="indicator-cart-wrapper">
                        <div id="cart-indicator" style="display: none;"></div>
                         <span class="glyphicon glyphicon-shopping-cart" style="margin-right: 5px;"></span>
                    </div>
                    <span class="nav-bar-text-content">CART</span>
                </span>
            </div>

            <div class="responsive-nav-menu">
                <div href="javascript:void(0);" class="more-options-button" onclick="toggleOptions()">
                    <i class="fa fa-bars options-menu-button"></i>
                </div>
                <ul class="options-menu">
                    <a href="/" class="umami-logo-menu">
                        {% include "common/umami-logo.html" %}
                    </a>
                    <li><a href="javascript:void(0)" onclick="openShoppingCart()">CART</a></li>
                    {% if user.is_authenticated %}
                        {% include "account/account_dropdown.html" %}
                    {% else %}
                        <li><a href="/accounts/login">SIGN IN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% include "common/shopping_cart.html" %}
    {% url 'account_login' as login_url %}
    {% if login_url not in request.get_full_path %}
        {% include "main/modal/all_overlay.html" %}
    {% endif %}
{% endblock %}
