{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>Umami 404</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
</head>
<body>
<div class="error-page-wrapper">
    <div class="umami-message">
        <img src="https://static.thenounproject.com/png/725415-200.png">

        <p>Umami is only available in selected cities in California, but we are growing fast, check back
            later!</p>
    </div>
</div>
</body>
</html>