{% load djng_tags %}
{% load dish_filter %}
{% angularjs ng %}
    <section id="add-to-cart" djng-bind-if="{{ ng }}"
            {% if ng %}
             {% verbatim %}
             data-ng-if="food_item.available > 0 && !food_item.is_expired && (food_item.can_deliver || food_item.can_pickup)"
             {% endverbatim %}
            {% endif %}
            {% if not food_item|available_for_purchase:url_date %}
                style="display:none;"
            {% endif %}>
        <span class="dish-item-quantity">
            <span class="c-qty d-qty--minus glyphicon glyphicon-minus-sign" onclick="decrementDishQuantity()">
            </span>
            {% if not ng %}
                <input class="d-qty--input" value="1" readonly="" max="{{ food_item|get_availability_for_date:url_date }}">
            {% else %}
                {% verbatim %}
                <input class="d-qty--input" value="1" readonly="" max="{{ food_item.available }}">
                {% endverbatim %}
            {% endif %}
            <span class="c-qty  d-qty--plus glyphicon glyphicon-plus-sign" onclick="incrementDishQuantity()">
            </span>
        </span>
        <span class="add-to-cart-wrapper">
                <button class="btn btn-success" type="submit">
                    <span class="buy-button">Add to cart</span>
                    <div class="add-to-cart-price">
                        <span>$</span>
                        {% if ng %}
                            {% verbatim %}
                            <span id="dish-total-price" data-price-no-option="{{ food_item.price }}">{{ food_item.price|number:2 }}</span>
                            {% endverbatim %}
                        {% else %}
                            <span id="dish-total-price"
                                  data-price-no-option="{{ food_item.price }}">{{ food_item.price|floatformat:2 }}</span>
                        {% endif %}
                    </div>
                </button>
            </span>
    </section>
{% endangularjs %}