{% verbatim %}
<div class="current-food-item">
    <div class="text-content">
        <div data-ng-repeat="dish in offer.dishes" data-ng-if="offer.is_bundle">
            {{ $index + 1 }}. {{ dish.name }}
        </div>
        <div>${{ offer.price|number:2 }} <span data-ng-if="offer.available > 0">&#183; {{ offer.available }} left!</span>
        </div>

    </div>
    <div class="hs-wrapper">
        <img class="kitchen-food-image" data-ng-repeat="dish in offer.dishes"
             data-ng-src="{{ dish.image }}" alt="{{ dish.name }}">
    </div>
</div>
<div class="current-offer-name">
    {{ offer.name }}
    <i class="fa fa-clone" aria-hidden="true" data-ng-if="offer.is_bundle"></i>
</div>
{% endverbatim %}