{% load static from staticfiles %}
{% block content %}
    <div id="loginModal" class="modal" role="dialog">
        <div class="close-overlay hvr-rotate">&#10005;</div>
        <div id="login-dialog" class="modal-dialog">
            <div id="overlay-login">
                <h2><span class="glyphicon glyphicon-lock" style="margin-right: 10px;"></span>Welcome!</h2>
                <div class="divider"></div>
                {% include "account/snippets/facebook_button.html" %}
                <div class="divider"><span>or email </span></div>
                <div id="login-wrapper">
                    {% include "account/signin_form.html" %}
                </div>
                <div id="signup-wrapper" style="display: none;">
                    {% include "account/signup_form.html" %}
                </div>
                <div id="sign-up-or-in">
                    <span id="sign-up-or-in-desc">First time?</span>
                    <span id="sign-up-or-in-button">Sign up</span>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery Tools Overlay -->
    <script src="{% static 'scripts/my_overlay.js' %}"></script>
{% endblock %}
