{% load static from staticfiles %}
{% verbatim %}
<script type="text/html" id="bundle-template">
    <div id="overlay-bundle" class="overlay-dish bundle-offer overlay-wrapper" data-id="" data-food-type="bundle"
         data-food-url=""
         data-ng-controller="overlayOfferBundleCtrl">
        <form id="food-form">
            <div id="item-price" data-item-price="{{ food_item.price }}" style="display: none;">
                {{food_item.price}}
            </div>
            <div id="BundleOverlayCarousel" class="carousel disable-select" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#BundleOverlayCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#BundleOverlayCarousel"
                        data-ng-repeat="dish in food_item.dishes | limitTo:-(food_item.dishes.length-1)"
                        data-slide-to="{{$index+1}}">
                    </li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner bundle-carousel" role="listbox">
                    <div class="item active" data-ng-if="$index == 0"
                         data-slide-index="{{ $index }}"
                         data-ng-repeat="dish in food_item.dishes">
                        <img class="overlay-food-image" id="main-food-image" data-ng-src="{{ dish.image }}"
                             alt="{{dish.name}}">
                    </div>
                    <div class="item" data-ng-if="$index != 0"
                         data-slide-index="{{ $index + 1 }}"
                         data-ng-repeat="dish in food_item.dishes">
                        <img class="overlay-food-image" data-ng-src="{{ dish.image }}" alt="{{dish.name}}">
                    </div>
                </div>
                <!-- Controls -->
                <span class="left bundle-overlay-carousel-control carousel-control"
                      data-target="#BundleOverlayCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </span>
                <span class="right bundle-overlay-carousel-control carousel-control"
                      data-target="#BundleOverlayCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </span>
            </div>


            <section class="overlay-content" id="food-content">
                <div class="dish-made-by" id="overlay-made-by"
                     data-kitchen-id="{{ food_item.kitchen.id }}"
                     data-kitchen-url="{{ food_item.kitchen.url }}"
                     data-social-url="{{ food_item.kitchen.social_url }}"
                     data-toggle="modal" data-target="#kitchenModal">
                    <img class="overlay-food-kitchen-logo" id="food-kitchen-logo"
                         data-ng-if="food_item.kitchen.logo_image"
                         data-ng-src="{{ food_item.kitchen.logo_image }}"
                         alt="{{ food_item.kitchen.title }}">
                    <span>{{ food_item.kitchen.title }}</span>
                </div>
                <div class="food-description">
                    <h3>{{ food_item.name }}</h3>
                    <h3 data-ng-if="food_item.available <= 0 || food_item.is_expired">(SOLD OUT)</h3>
                    <div id="overlay-dish-rating"
                         class="bundle-rating"
                         star-width="20px"></div>
                </div>
                <div data-ng-repeat="dish in food_item.dishes" class="bundle-dishes">
                    <div class="dish-id-version" data-dish-id="{{ dish.id }}"
                         data-dish-version="{{ dish.version }}"></div>
                    <div class="bundle-offer-collapse-button" data-toggle="collapse"
                         data-carousel-collapse-id="{{ $index }}"
                         data-target="#bundle-offer-collapse-{{ $index }}"
                         data-parent="#food-form">
                        <div class="bundle-offer-title">
                            <span>Meal {{ $index + 1 }}: {{ dish.name }}</span>
                        </div>
                    </div>
                    <div id="bundle-offer-collapse-{{ $index }}"
                         class="bundle-offer-expand panel-collapse collapse in" data-ng-if="$index == 0">
                        <div class="bundle-offer-content">
                            <p>{{ dish.description }}</p>
                            <div class="bundle-dish-ingredients" data-ng-if="dish.ingredients.length > 0">
                                <b>Ingredients: </b>
                                <span data-ng-repeat="ingredient in dish.ingredients track by $index">{{ ingredient.name }}{{$last ? '' : ', '}}</span>
                            </div>
                            <div class="bundle-food-tags food-tags">
                                <span data-ng-repeat="tag in dish.tags track by $index">{{ tag.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div id="bundle-offer-collapse-{{ $index }}"
                         class="bundle-offer-expand panel-collapse collapse" data-ng-if="$index != 0">
                        <div class="bundle-offer-content">
                            <p>{{ dish.description }}</p>
                            <div class="bundle-dish-ingredients" data-ng-if="dish.ingredients.length > 0">
                                <b>Ingredients: </b>
                                <span data-ng-repeat="ingredient in dish.ingredients track by $index">{{ ingredient.name }}{{$last ? '' : ', '}}</span>
                            </div>
                            <div class="bundle-food-tags food-tags">
                                <span data-ng-repeat="tag in dish.tags track by $index">{{ tag.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="food-options">
                    <div data-ng-if="!food_item.is_expired && food_item.available > 0">
                        <p>Only <b style="font-size: x-large;"><span
                                id="food-available">{{ food_item.available }}</span></b> left!</p>
                    </div>
                    <div class="offer-page-end-by">
                        <span style="font-weight: 500;">Order before: </span>
                        {{ food_item.order_by }}
                    </div>
                    {% endverbatim %}
                    {% include "common/angular_delivery_pickup.html" %}
                    {% verbatim %}
                </div>

                <div class="dish-google-map">
                    <img data-ng-src="{{food_item.map_image}}">
                </div>

                <div data-ng-controller="reviewsPaginationCtrl" data-ng-if="food_item.reviews.length > 0">
                    <ul class="dish-reviews" data-ng-init="init(food_item.reviews)">
                        {% endverbatim %}
                        {% include "common/dish_reviews.html" %}
                        {% verbatim %}
                    </ul>
                </div>
            </section>
            {% endverbatim %}
            {% include "common/offer_add_to_cart.html" with ng=1 %}
        </form>
    </div>
</script>