{% block content %}
    {% verbatim %}
    <script type="text/html" id="dish-template">
        <div id="overlay-dish" class="overlay-dish overlay-wrapper" data-food-type="dish" data-id="" data-food-url=""
             data-ng-controller="overlayDishCtrl">
            <form id="food-form">
                {% endverbatim %}
                {% include "common/angular_dish_details.html" %}
            </form>
        </div>
    </script>
{% endblock %}
