{% verbatim %}
<script type="text/html" id="kitchen-template">
    <div id="overlay-kitchen" class="overlay-kitchen overlay-wrapper force-select" data-id=""
         data-kitchen-url="{{kitchen.url}}"
         data-ng-controller="overlayKitchenCtrl">
        <div id="KitchenOverlayCarousel" class="carousel disable-select" data-interval="false"
             data-ng-if="kitchen.banner_images.length > 1">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#KitchenOverlayCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#KitchenOverlayCarousel"
                    data-ng-repeat="banner_image in kitchen.banner_images | limitTo:-(kitchen.banner_images.length-1)"
                    data-slide-to="{{$index+1}}">
                </li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner kitchen-carousel" role="listbox">
                <div class="item active" data-ng-if="$index == 0"
                     data-slide-index="{{ $index }}"
                     data-ng-repeat="banner_image in kitchen.banner_images">
                    <img class="overlay-cover-photo" data-ng-src="{{ banner_image }}">
                </div>
                <div class="item" data-ng-if="$index != 0"
                     data-slide-index="{{ $index + 1 }}"
                     data-ng-repeat="banner_image in kitchen.banner_images">
                    <img class="overlay-cover-photo" data-ng-src="{{ banner_image }}">
                </div>
            </div>
            <!-- Controls -->
            <span class="left kitchen-overlay-carousel-control carousel-control"
                  data-target="#KitchenOverlayCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </span>
            <span class="right kitchen-overlay-carousel-control carousel-control"
                  data-target="#KitchenOverlayCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </span>
        </div>
        <img class="overlay-cover-photo" data-ng-if="kitchen.banner_images.length == 1"
             data-ng-src="{{kitchen.banner_images[0]}}">

        <div class="kitchen-info-wrapper">
            <img class="kitchen-logo" data-ng-src="{{kitchen.logo_image}}" alt="{{kitchen.title}}" data-ng-if="!!kitchen.logo_image">
            <img class="kitchen-logo" src="https://eatumami.s3.amazonaws.com/media/images/blwBA33kXRGSgDhTGODD4zQ.jpg" alt="{{ kitchen.title }}" data-ng-if="!kitchen.logo_image">
            <div class="kitchen-rating" id="overlay-kitchen-rating" data-rating="{{kitchen.rating.score}}"></div>
        </div>
        <div class="overlay-user-content">
            <div class="kitchen-basics">
                <div class="kitchen-title" id="overlay-kitchen-title">
                    <span>{{kitchen.title}}</span>
                </div>
                <div class="kitchen-style">
                    <span>{{kitchen.style}}</span>
                </div>
                <a class="kitchen-permit"
                   data-ng-if="kitchen.permit_number"
                   title="Permit & License"
                   data-placement="auto right"
                   data-toggle="popover"
                   data-trigger="focus"
                   data-content="This MEHKO permit is issued by the Department of Health {{ kitchen.permit_county }}">
                    <span>{{ kitchen.permit_number }}</span>
                </a>
                <div class="kitchen-location">
                    <a href="/foodpage?address={{ kitchen.location }}">
                        <i class="glyphicon glyphicon-map-marker"></i><span>{{ kitchen.location }}</span>
                    </a>
                </div>
            </div>
            <div class="user-bio">
                {{kitchen.bio}}
            </div>
            <div class="overlay-current-dishes">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-condensed-tab" data-toggle="tab"
                           href="#nav-condensed"
                           role="tab"
                           aria-controls="nav-condensed" aria-selected="true"><i class="glyphicon glyphicon-th"></i>OVERVIEW</a>

                        <a class="nav-item nav-link" id="nav-daily-tab" data-toggle="tab" href="#nav-daily"
                           role="tab"
                           aria-controls="nav-daily" aria-selected="false"><i class="glyphicon glyphicon-calendar"></i>DAILY</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active in" id="nav-condensed" role="tabpanel"
                         aria-labelledby="nav-condensed-tab">
                        <div data-ng-if="kitchen.non_recurring_offers || kitchen.daily_offers || kitchen.weekly_offers">
                            <div class="current-offers" data-ng-if="kitchen.non_recurring_offers.length > 0">
                                <h6><b>
                                    Limited Time Offers
                                </b></h6>
                                <a data-ng-repeat="offer in kitchen.non_recurring_offers"
                                   href="javascript:void(0)"
                                   data-offer-id="{{ offer.id }}"
                                   data-social-url="{{ offer.social_url }}"
                                   data-offer-date=""
                                   class="hvr-float"
                                   onclick="navigateOffer(this)">
                                    {% endverbatim %}
                                    {% include 'main/modal/_overlay_kitchen_offer.html' %}
                                    {% verbatim %}
                                </a>
                            </div>
                            <div class="current-offers" data-ng-if="kitchen.daily_offers.length > 0">
                                <h6><b>
                                    Daily Offers
                                </b></h6>
                                <a data-ng-repeat="offer in kitchen.daily_offers"
                                   href="javascript:void(0)"
                                   data-offer-id="{{ offer.id }}"
                                   data-social-url="{{ offer.social_url }}"
                                   data-offer-date=""
                                   class="hvr-float"
                                   onclick="navigateOffer(this)">
                                    {% endverbatim %}
                                    {% include 'main/modal/_overlay_kitchen_offer.html' %}
                                    {% verbatim %}
                                </a>
                            </div>
                            <div class="current-offers" data-ng-if="kitchen.weekly_offers.length > 0">
                                <h6><b>
                                    Weekly Offers
                                </b></h6>
                                <a data-ng-repeat="offer in kitchen.weekly_offers"
                                   href="javascript:void(0)"
                                   data-offer-id="{{ offer.id }}"
                                   data-social-url="{{ offer.social_url }}"
                                   data-offer-date=""
                                   class="hvr-float"
                                   onclick="navigateOffer(this)">
                                    {% endverbatim %}
                                    {% include 'main/modal/_overlay_kitchen_offer.html' %}
                                    {% verbatim %}
                                </a>
                            </div>
                        </div>
                        <div data-ng-if="!kitchen.non_recurring_offers && !kitchen.daily_offers && !kitchen.weekly_offers">
                            {% endverbatim %}
                            {% include 'common/no_offers_currently.html' %}
                            {% verbatim %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-daily" role="tabpanel" aria-labelledby="nav-daily-tab">
                        <div data-ng-repeat="current_offer in kitchen.current_offers">
                            <div class="current-offers" data-ng-if="$index < 6">
                                <h6><b>{{ current_offer.display_date }}</b></h6>
                                <div class="hvr-float" data-ng-repeat="offer in current_offer.offers">
                                    <div class="select-kitchen-offer"
                                         data-food-url="{{offer.url}}"
                                         data-food-id="{{offer.id}}"
                                         data-social-url="{{ offer.social_url }}"
                                         data-offer-date="{{current_offer.date}}"
                                         data-is-bundle="{{offer.is_bundle}}"
                                         data-toggle="modal" data-target="#foodModal">
                                        {% endverbatim %}
                                        {% include 'main/modal/_overlay_kitchen_offer.html' %}
                                        {% verbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="current-offers" data-ng-if="$index > 6" style="display: none;">
                                <h6><b>{{ current_offer.display_date }}</b></h6>
                                <div class="hvr-float" data-ng-repeat="offer in current_offer.offers">
                                    <div class="select-kitchen-offer"
                                         data-food-url="{{offer.url}}"
                                         data-food-id="{{offer.id}}"
                                         data-offer-date="{{current_offer.date}}"
                                         data-is-bundle="{{offer.is_bundle}}"
                                         data-toggle="modal" data-target="#foodModal">
                                        {% endverbatim %}
                                        {% include 'main/modal/_overlay_kitchen_offer.html' %}
                                        {% verbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button data-ng-if="kitchen.current_offers.length > 6" type="button"
                                class="btn btn-default load-more-button"
                                onclick="loadMoreCurrentOffers()">Load More
                        </button>
                        <div data-ng-if="kitchen.current_offers.length == 0">
                            {% endverbatim %}
                            {% include 'common/no_offers_currently.html' %}
                            {% verbatim %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-past-dishes" data-ng-if="kitchen.past_offers.length > 0">
                <h6>Past Dishes</h6>
                <div class="past-food-item hvr-float" data-ng-repeat="dish in kitchen.past_offers"
                     data-food-url="{{dish.url}}"
                     data-food-id="{{dish.id}}"
                     data-social-url="{{ dish.social_url }}"
                     data-toggle="modal" data-target="#foodModal">
                    <div class="text-content"><span>{{dish.name}}</span></div>
                    <img class="kitchen-food-image" data-ng-src="{{dish.image}}" alt="{{dish.name}}">
                </div>
            </div>
        </div>
</script>
{% endverbatim %}