{% block content %}
    {% verbatim %}
    <script type="text/html" id="offer-template">
        <div id="overlay-offer" class="overlay-dish overlay-wrapper" data-food-id="" data-food-type="single"
             data-food-url=""
             data-ng-controller="overlayOfferCtrl">
            <form id="food-form">
                <div class="overlay-background" onclick="closeOverlay()"></div>
                <div id="item-price" data-item-price="{{ food_item.dishes[0].price }}" style="display: none;"></div>
                {% endverbatim %}
                {% include "common/angular_dish_details.html" %}
                {% include "common/offer_add_to_cart.html" with ng=1 %}
            </form>
        </div>
    </script>
{% endblock %}