{% load orders_filter %}
{% load common_filter %}
{% for order in orders %}
    <div class="order">
        <div class="order-collapse-button" data-toggle="collapse" data-target="#order-collapse{{ forloop.counter }}"
             data-parent=".orders">
            <div class="order-summary-wrapper">
                <div class="order-summary">
                    <div class="subject-name order-summary-item">
                        {% if role == "buyer" %}
                            <a href="{{ order.kitchen.social_url }}"><span>{{ order.kitchen.title }}</span></a>
                        {% else %}
                            <span>{{ order.buyer_fullname }}</span>
                        {% endif %}
                    </div>
                    <div class="order-date order-summary-item">
                        <span>{{ order.handoff_date|convert_to_simple_date }}</span>
                    </div>
                    <div class="items">
                        {% for item in order.items %}
                            <div class="item">
                                <span class="item-qty">{{ item.quantity }}</span>
                                <span class="item-name">{{ item.name }}</span>
                                {% for choice in item.choices %}
                                    {% if choice.option %}
                                        <span class="item-option"> - {{ choice.option.name }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if order.ended %}
                    <span class="order-ended order-status">Ended</span>
                {% elif order.cancelled %}
                    <span class="order-cancelled order-status">Cancelled</span>
                {% else %}
                    <span class="order-ongoing order-status">Ongoing</span>
                {% endif %}
            </div>

            {% if order.handoff_type == "delivery" %}
                <div class="transpotation">Delivery Order</div>
            {% else %}
                <div class="transpotation">Pickup Order</div>
            {% endif %}
            <div class="order-total">
                {% if order.refunded_amount > 0 %}
                    <span><b>Refunded: </b></span>
                    <span>${{ order.refunded_amount|floatformat:2 }}</span>
                    <strike>
                        <span><b>Total: </b></span>
                        <span>${{ order.total|floatformat:2 }}</span>
                    </strike>
                {% else %}
                    <span><b>Total: </b></span>
                    <span>${{ order.total|floatformat:2 }}</span>
                {% endif %}
            </div>
        </div>
        <div id="order-collapse{{ forloop.counter }}" class="panel-collapse collapse">
            <div class="order-number force-select ">
                <span><b>Order ID:</b> {{ order.id|upper }}</span>
            </div>
            <div class="subject-profile-info">
                {% if order.kitchen.logo_image %}
                    <a href="{{ order.kitchen.social_url }}"><img class="subject-profile-pic"
                                                                  src="{{ order.kitchen.logo_image }}"></a>
                {% endif %}
                <div class="subject-details">
                    <div class="expanded-subject-name">
                        {% if role == "seller" %}
                            <span>{{ order.buyer_fullname }}</span>
                        {% else %}
                            <span>{{ order.kitchen.title }}</span>
                        {% endif %}
                    </div>
                    <div class="expanded-subject-phone">
                        {% if role == "seller" %}
                            <a href="tel:{{ order.buyer_phone }}">{{ order.buyer_phone|prettify_phone_number }}</a>
                        {% else %}
                            <a href="tel:{{ order.seller_phone }}">{{ order.seller_phone|prettify_phone_number }}</a>
                        {% endif %}
                    </div>
                    <div class="expanded-subject-phone">
                        {% if role == "seller" %}
                            <a href="mailto:{{ order.buyer_email }}">E-mail</a>
                        {% else %}
                            <a href="mailto:{{ order.seller_email }}">E-mail</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if order.notes %}
                <div class="expanded-order-notes order-notes"><span>Notes: </span>{{ order.notes }}</div>
            {% endif %}
            <div class="expanded-order">
                {% for item in order.items %}
                    <div class="expanded-order-wrapper">
                        <div class="expanded-ready-by">
                        <span>
                            {% if order.handoff_type == "delivery" %}
                                <b>Delivers on:</b>
                            {% else %}
                                <b>Pickup on:</b>
                            {% endif %}
                            {{ order.handoff_date|convert_to_simple_date }}
                        </span>
                            <div>
                                <b>Between:</b>
                                <script>document.write(parse_time_range("{{ order.handoff_time_start }}", "{{ order.handoff_time_end }}"))</script>
                            </div>
                            {% if item.choices|length > 1 %}
                                <div class="bundle-title-price">
                                    <h4>{{ item.name }}</h4><span>${{ item.subtotal|floatformat:2 }}</span>
                                </div>
                            {% endif %}
                        </div>
                        {% for choice in item.choices %}
                            <div class="expanded-order-item" data-dish-id="{{ choice.dish.id }}">
                                <div class="order-item-info-price">
                                    <div class="order-item-right-align-items">
                                        <img class="item-pic" src="{{ choice.dish.image }}">
                                        <div class="expanded-item">
                                            <div class="expanded-item-detail">
                                                <span class="expanded-item-qty">{{ item.quantity }}</span>
                                                <span class="expanded-item-name">{{ choice.dish.name }}</span>
                                                {% if choice.option %}
                                                    <span class="expanded-item-option"> - {{ choice.option.name }}</span>
                                                {% endif %}
                                                {% if choice.extras %}
                                                    <div class="item-extras">
                                                        {% for extra in choice.extras %}
                                                            <span>+</span>
                                                            <div class="item-extra">
                                                                <span class="item-extra-name">{{ extra.name }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if item.choices|length == 1 %}
                                        <div class="expanded-item-subtotal">
                                            <span>${{ item.subtotal|floatformat:2 }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if role == "buyer" %}
                                    {% if not choice.review.blank %}
                                        {% include "orders/user_review.html" %}
                                    {% else %}
                                        {% if order.ended %}
                                            {% include "orders/write_review.html" %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if not choice.review.blank %}
                                        {% include "orders/readonly_review.html" %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="order-price-breakdown">
                {% if order.handoff_type == "delivery" %}
                    <div class="address">
                        <div>Delivery Address:</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div class="delivery-cost"><span>Subtotal: </span>
                        ${{ order.subtotal|floatformat:2 }}
                    </div>
                    <div class="delivery-cost"><span>Delivery: </span>
                        ${{ order.delivery_fee|floatformat:2 }}
                    </div>
                {% else %}
                    <div class="address">
                        <div>Pickup Address:</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div class="delivery-cost"><span>Subtotal: </span>
                        ${{ order.subtotal|floatformat:2 }}
                    </div>
                {% endif %}
                <div class="stripe-fee">
                    <span>Taxes and Fees: </span>${{ order.stripe_fee|floatformat:2 }}
                </div>
                <div class="expanded-order-total">
                    <span>Total: </span>${{ order.total|floatformat:2 }}
                </div>
            </div>
            {% if order.refunded_amount > 0 %}
                <span class="refunded-amount">Refunded: ${{ order.refunded_amount|floatformat:2 }}</span>
            {% endif %}
            {% if role == "seller" and order.is_refundable %}
                <div class="refund-button">
                    <button type="button" class="btn btn-primary"
                            onclick="refundOrder('{{ order.id }}', {{ order.total }})">REFUND
                    </button>
                </div>
            {% endif %}
            {% if role == "seller" and order.is_cancellable %}
                <div class="cancel-button">
                    <button type="button" class="btn btn-danger"
                            onclick="cancelOrder('{{ order.id }}')">CANCEL
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <script type="text/html" id="refund-template">
        <form id="refund-form">
            <span>*Please input the amount you would like to refund for this order. Please note that once you issue a refund, it cannot be reversed.</span>
            <div class="refund-errors" style="color: red; display:none;">
                <p>Please enter an amount greater than 0 and less than the order total.</p>
            </div>
            <label>
                <span>Refund amount:</span>
                <input type="number" step="0.01" max="" class="refund-amount">
            </label>
        </form>
    </script>
    <script type="text/html" id="cancel-template">
        <span>*Please confirm order cancellation. Each of the offers in this order will be restored to its previous quantities/availabilities, a full refund will also be issued. Please note that this operation cannot be reversed.</span>
    </script>
{% endfor %}