<div class="item-review">
    <div class="readonly-item-rating" data-rating="{{ choice.review.rating }}"></div>
    {% if choice.review.text %}
        <p>{{ choice.review.text }}</p>
    {% endif %}
</div>