{% load orders_filter %}
{% load common_filter %}

{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>My Umami Order</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <link rel="stylesheet" href="{% static 'styles/orders.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
</head>
<body>
<div class="outter-main">
    <div class="single-inner-main inner-main">
        <section class="order">
            <h2><span>Your Order</span>
                {% if order.ended %}
                    <span> (Ended)</span>
                {% elif order.cancelled %}
                    <span>(Cancelled)</span>
                {% else %}
                    <span> (Ongoing)</span>
                {% endif %}
            </h2>
            <div class="single-order-number order-number force-select">
                <span><b>Order ID:</b> {{ order.id|upper }}</span>
                <div class="single-order-date">
                    <span>{{ order.handoff_date|convert_to_simple_date }}</span>
                </div>
            </div>
            <div class="subject-profile-info">
                {% if order.kitchen.logo_image %}
                    <a href="/kitchen?id={{ order.kitchen.id }}"><img class="subject-profile-pic"
                                                                      src="{{ order.kitchen.logo_image }}"></a>
                {% endif %}
                <div class="subject-details">
                    <div class="expanded-subject-name">
                        <a href="{{ order.kitchen.social_url }}"><span>{{ order.kitchen.title }}</span></a>
                    </div>
                    <div class="expanded-subject-phone">
                        <a href="tel:{{ order.seller_phone }}">{{ order.seller_phone|prettify_phone_number }}</a>
                    </div>
                    <div class="expanded-subject-phone">
                        <a href="mailto:{{ order.seller_email }}">E-mail</a>
                    </div>
                </div>
            </div>
            {% if order.notes %}
                <div class="order-notes"><span>Notes: </span>{{ order.notes }}</div>
            {% endif %}
            <div class="expanded-order">
                {% for item in order.items %}
                    <div class="expanded-order-wrapper">
                        <div class="expanded-ready-by">
                        <span> {% if order.handoff_type == "delivery" %}
                            <b>Delivers on:</b>
                        {% else %}
                            <b>Pickup on:</b>
                        {% endif %}
                            {{ order.handoff_date|convert_to_simple_date }}
                        </span>
                            <div>
                                <b>Between:</b>
                                <script>document.write(parse_time_range("{{ order.handoff_time_start }}", "{{ order.handoff_time_end }}"))</script>
                            </div>
                        </div>
                        {% if item.choices|length > 1 %}
                            <div class="bundle-title-price">
                                <h4>{{ item.name }}</h4><span>${{ item.subtotal|floatformat:2 }}</span>
                            </div>
                        {% endif %}
                        {% for choice in item.choices %}
                            <div class="expanded-order-item">
                                <div class="order-item-info-price">
                                    <div class="order-item-right-align-items">
                                        <img class="item-pic" src="{{ choice.dish.image }}">
                                        <div class="single-expanded-item expanded-item">
                                            <div class="expanded-item-detail">
                                                <span class="expanded-item-qty">{{ item.quantity }}</span>
                                                <span class="expanded-item-name">{{ choice.dish.name }}</span>
                                                {% if choice.option %}
                                                    <span class="expanded-item-option"> - {{ choice.option.name }}</span>
                                                {% endif %}
                                                {% if choice.extras %}
                                                    <div class="item-extras">
                                                        {% for extra in choice.extras %}
                                                            <span>+</span>
                                                            <div class="item-extra">
                                                                <span class="item-extra-name">{{ extra.name }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if item.choices|length == 1 %}
                                        <span class="expanded-item-subtotal">${{ item.subtotal|floatformat:2 }}</span>
                                    {% endif %}
                                </div>
                                {% if role == "buyer" %}
                                    {% if not choice.review.blank %}
                                        {% include "orders/user_review.html" %}
                                    {% else %}
                                        {% if order.ended %}
                                            {% include "orders/write_review.html" %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if not choice.review.blank %}
                                        {% include "orders/readonly_review.html" %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="order-price-breakdown">
                {% if order.handoff_type == "delivery" %}
                    <div class="address">
                        <div>Delivery Address</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div><span>Subtotal: </span>
                        ${{ order.subtotal|floatformat:2 }}
                    </div>
                    <div class="delivery-cost"><span>Delivery: </span>
                        ${{ order.delivery_fee|floatformat:2 }}
                    </div>
                {% else %}
                    <div class="address">
                        <div>Pickup Address:</div>
                        <a href="http://maps.google.com/?q={{ order.handoff_address|get_readable_address }}"
                           target="_blank">
                            {{ order.handoff_address|get_readable_address }}</a>
                    </div>
                    <div><span>Subtotal: </span>
                        ${{ order.total|floatformat:2 }}
                    </div>
                {% endif %}
                <div class="stripe-fee">
                    <span>Taxes and Fees: </span>
                    ${{ order.stripe_fee|floatformat:2 }}
                </div>
                <div class="expanded-order-total">
                    <span>Total:</span>${{ order.total|floatformat:2 }}
                </div>
                {% if order.refunded_amount > 0 %}
                    <span class="refunded-amount">Refunded: ${{ order.refunded_amount|floatformat:2 }}</span>
                {% endif %}
                {% if role == "seller" and order.is_refundable %}
                    <div class="refund-button">
                        <button type="button" class="btn btn-primary"
                                onclick="refundOrder('{{ order.id }}', {{ order.total }})">REFUND
                        </button>
                    </div>
                {% endif %}
                {% if role == "seller" and order.is_cancellable %}
                    <div class="cancel-button">
                        <button type="button" class="btn btn-danger"
                                onclick="cancelOrder('{{ order.id }}')">CANCEL
                        </button>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>
</body>
<footer>
    <script type="text/html" id="refund-template">
        <form id="refund-form">
            <p style="white-space:nowrap">*Please input the amount you would like to refund for this order. Please note that once you issue a refund, it cannot be reversed.</p>
            <div class="refund-errors" style="color: red; display:none;">Please enter an amount greater than 0 and less
                than the order total.
            </div>
            <label>
                <span>Refund amount:</span>
                <input type="number" step="0.01" max="" class="refund-amount">
            </label>
        </form>
    </script>
    <script type="text/html" id="cancel-template">
        <span>*Please confirm order cancellation. Each of the offers in this order will be restored to its previous quantities/availabilities, a full refund will also be issued. Please note that this operation cannot be reversed.</span>
    </script>
    <div class="footer">
        {% include "common/footer.html" %}
    </div>
    <script src="{% static 'scripts/orders.js' %}"></script>
</footer>
</html>