{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tracking/google_analytics.html" %}
    <meta charset="UTF-8">
    <title>My Umami Orders</title>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <link rel="stylesheet" href="{% static 'styles/orders.css' %}">
</head>
<body>
<div class="outter-main">
    <div class="inner-main">
        <section class="orders">
            <h2>My Sold Orders</h2>
            {% include "orders/_orders.html" %}
        </section>
    </div>
</div>
</body>
<footer>
    <div class="footer">
        {% include "common/footer.html" %}
    </div>
    <script src="{% static 'scripts/orders.js' %}"></script>
</footer>
</html>