<div class="review-wrapper">
    <div class="item-review">
        <div class="readonly-item-rating" data-rating="{{ choice.review.rating }}"></div>
        {% if choice.review.text %}
            <p>{{ choice.review.text }}</p>
        {% endif %}
        <a class="edit-existing-review-button" href="javascript:void(0);" onclick="editReview(this)">Edit Review</a>
    </div>
    <form class="write-review" data-dish-id="{{ choice.dish.id }}" style="display: none;">{% csrf_token %}
        <textarea class="user-text" rows="3" maxlength="280">{{ choice.review.text }}</textarea>
        <div class="user-rating"></div>
        <button class="btn btn-info btn-sm submit-review-btn" type="submit">Submit Review</button>
    </form>

</div>