<div class="item-review" style="display: none;">
    <div class="readonly-item-rating"></div>
    <p></p>
    <a class="edit-existing-review-button" style="display: none;" href="javascript:void(0);" onclick="editReview(this)">Edit Review</a>
</div>
<form class="write-review" data-dish-id="{{ choice.dish.id }}">{% csrf_token %}
    <textarea class="user-text" rows="3" maxlength="280"
              placeholder="What did you like about it? (Optional)"></textarea>
    <div class="user-rating"></div>
    <button class="btn btn-info btn-sm submit-review-btn" type="submit">Submit Review</button>
</form>