{% load i18n %}

{% block content %}
    <h1>{% trans "Social Network Login Failure" %}</h1>

    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

    {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
    {% endif %}
{% endblock %}
