{% load i18n %}
{% load account %}

{% load static from staticfiles %}
{% block content %}
    <html>
    <head>
        {% block head_title %}{% trans "Account Connections" %}{% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="account-management-wrapper">
        <h1>{% trans "Account Connections" %}</h1>

        {% if form.accounts %}
            <p>{% blocktrans %}You can sign in to your account using any of the following third party
                accounts:{% endblocktrans %}</p>


            <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}

                <fieldset>
                    {% if form.non_field_errors %}
                        <div id="errorMsg">{{ form.non_field_errors }}</div>
                    {% endif %}

                    {% for base_account in form.accounts %}
                        {% with base_account.get_provider_account as account %}
                            <div>
                                <label for="id_account_{{ base_account.id }}">
                                    <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                           value="{{ base_account.id }}"/>
                                    <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ account.get_brand.name }}</span>
                                    {{ account }}
                                </label>
                            </div>
                        {% endwith %}
                    {% endfor %}

                    <div>
                        <button type="submit">{% trans 'Remove' %}</button>
                    </div>

                </fieldset>

            </form>

        {% else %}
            <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
        {% endif %}

        <h2>{% trans 'Add a 3rd Party Account' %}</h2>

        <div class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    </div>

    </body>
    <footer>
    </footer>
    </html>

{% endblock %}
