{% load i18n %}
{% load account %}

{% load i18n %}
{% load static from staticfiles %}
{% block content %}
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        {% block head_title %}{% trans "Login Cancelled" %}{% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="account-management-wrapper">

        {% url 'account_login' as login_url %}

        <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was
            a mistake, please proceed to <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>

    </body>
    <footer>
    </footer>
    </html>

{% endblock %}