{% load i18n %}
{% load account %}

{% load static from staticfiles %}
{% block content %}
    <html>
    <head>
        {% include "tracking/google_analytics.html" %}
        {% block head_title %}{% trans "Email account already exists" %}{% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link rel="stylesheet" href="{% static 'styles/umami-messages.css' %}">
    </head>
    <body>
    <header>
        {% include "common/navigation.html" %}
    </header>
    <div class="account-management-wrapper">

        <h1>{% trans "Email account already exists" %}</h1>

        <p>{% blocktrans %}An account with that email already exists, please login first and connect it if you wish to login with both{% endblocktrans %}</p>

        <p><a href="/accounts/login">{% trans 'Log in' %}</a></p>
    </div>
    </body>
    <footer>
    </footer>
    </html>

{% endblock %}
