{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tracking/google_analytics.html" %}
    <title>Umami Checkout</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:400,500">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}">
    <header>
        <section id="top-menu-bar">
            <div id="top-navigation">
                <div class="umami-logo-wrapper" onclick="navigateHome();">
                    {% include "common/umami-logo.html" %}
                </div>
            </div>
        </section>
    </header>
</head>
<body>
<div id="user-email-address" style="display: none;">{{ user.email }}</div>
<div class="alert alert-danger checkout-error" role="alert"></div>
<div class="checkout-container">
    <div class="flex-wrapper">
        <div class="order-info-wrapper">
            <div class="delivery-order-wrapper order-wrapper" style="display: none;">
                <h3>Order for Delivery</h3>
                <div class="alert alert-info delivery-info" role="alert">
                    Please make sure you will be available during the following times
                </div>
                <div class="divider"></div>
                <div class="order-items"></div>
                <div class="divider"></div>
                <div id="delivery-address-wrapper">
                    <div class="address-selector-wrapper">
                        {% if last_used_address %}
                            <label class="checkout-address-wrapper">
                                <input type="radio" id="use-last-address" name="delivery_address"
                                       class="checkout-address-input"
                                       data-last-used-address="{{ last_used_address }}" value="old" checked>
                                <span>
                                    {{ last_used_address.line1.title }},
                                    {% if last_used_address.line2.title %}
                                        {{ last_used_address.line2.title }},
                                    {% endif %}
                                    {{ last_used_address.city.title }}
                                </span>
                            </label>
                        {% endif %}
                        <label class="checkout-address-wrapper">
                            <input id="use-different-address" name="delivery_address" type="radio" value="new"
                                   class="checkout-address-input"
                                    {% if not last_used_address %}
                                   checked
                                    {% endif %}>
                            <span>Use a new address</span>
                        </label>
                    </div>
                    <form id="new-address-form">{% csrf_token %}
                        <div id="new-address-error"></div>
                        <input id="line1" name="line1" onFocus="geolocate(); this.select();"
                               onmouseup="return false;"
                               class="form-control" placeholder="Line 1 (Street address)" required>
                        <input id="line2" name="line2" class="form-control" placeholder="Line 2 (Suite/Unit number)"
                               required>
                        <input id="locality" name="city" class="form-control" placeholder="City" required>
                        <input id="postal_code" name="postal_code" class="form-control" placeholder="Zip code"
                               required>
                        <input id="administrative_area_level_1" name="prov" class="form-control"
                               style="display: None;">
                        <input id="country" name="country" class="form-control" style="display: None;">
                        <input id="lon" class="form-control" name="lon"
                               style="display: None;">
                        <input id="lat" class="form-control" name="lat"
                               style="display: None;">
                    </form>
                </div>
                <textarea maxlength="280" class="form-control" rows="3" id="special-notes"
                          placeholder="Special delivery instructions..."></textarea>
            </div>
            <div class="pickup-order-wrapper order-wrapper" style="display: none;">
                <h3>Order for Pickup</h3>
                <div class="alert alert-info pickup-info" role="alert">
                    Free pickup! Exact address will be available after checkout
                </div>
                <div class="divider"></div>

                <div class="order-items"></div>
                <div class="divider"></div>
            </div>

            {% if cards %}
                <div class="payment-wrapper" style="display: none;">
                    <h3>Payment Method</h3>
                    <div class="divider"></div>
                    {% for card in cards %}
                        <div class="past-credit-card">
                            <label for="{{ card.fingerprint }}">
                                <input type="radio" id="{{ card.fingerprint }}" name="stripe_token"
                                       value="{{ card.id }}"
                                        {% if forloop.first %} checked {% endif %}>
                                <img class="credit-card-logo" src="{{ card.logo }}"/>
                                <span>{{ card.brand }} </span>
                                <span class="last4"> ending in {{ card.last4 }}</span>
                                <span class="card-expiration-date">Expires on: {{ card.exp_month }}/{{ card.exp_year }}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="use-new-card">
                        <a href="javascript:void(0);" class="new-credit-card" onclick="newPaymentCheckout(event)">Use a
                            new
                            card</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="checkout-wrapper" style="display: none;">
            <h3>Order Summary</h3>
            <div class="divider"></div>
            <div class="place-order-btn">
                <div class="order-price-wrapper">
                    <div class="checkout-fee-breakdown" id="order-breakdown">
                        <div class="breakdown-container" id="breakdown-sub-total">
                            <span>Subtotal</span>
                            <span class="numeric-value"></span>
                        </div>
                        <div class="breakdown-container" id="delivery-fee">
                            <span>Delivery</span>
                            <span class="numeric-value">?</span>
                        </div>
                        <div class="breakdown-container" id="other-fees">
                    <span class="tax-and-fees">
                        Tax and Fees
                        <a href="javascript:void(0)" class="glyphicon glyphicon-info-sign" title="Tax and Fees"
                           data-toggle="popover"
                           data-trigger="focus" data-content="These are the fees and tax we collect for your order"></a>
                    </span>
                            <span class="numeric-value">?</span>

                        </div>
                        <div class=" breakdown-container" id="order-total">
                            <span>Total</span>
                            <span class="numeric-value">?</span>
                        </div>
                    </div>
                </div>

                {% if cards %}
                    <button class="btn btn-success" onclick="existingPaymentCheckout(event)">PLACE ORDER</button>
                {% else %}
                    <button class="btn btn-success" onclick="newPaymentCheckout()">PLACE ORDER</button>
                {% endif %}

                <div class="order-disclaimer">
                    <span>By placing your order, you agree to Umami's <a target="_blank"
                                                                         href="https://app.termly.io/document/privacy-policy/179ab949-f6d1-4813-9f28-b02fa941ce7b">privacy notice</a> and <a
                            target="_blank" href="/terms">conditions of use</a>.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading"><span></span></div>
<div class="footer">
    {% include "common/footer.html" %}
</div>
</body>
<footer>
    <div class="modal" id="address-modal-form" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Need a valid delivery address</h3>
                </div>
                <div class="modal-body">
                    <input class="form-control search-address" id="force-address-input"
                           onFocus="geolocate(); this.select();"
                           onmouseup="return false;" name="address" placeholder="Please enter an address...">
                </div>
                <div class="modal-footer">
                    <button type="button" id="address-modal-submit-button" class="btn btn-success" onclick="handleAddressModalSubmit()" disabled>Update</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="order-item-template">
        <div class="order-items-wrapper">
            <div class="order-item-handoff">
                <span class="order-item-handoff-date"></span>
                <span class="order-item-handoff-time"></span>
                <span class="order-item-delivery-fee"></span>
                <span class="order-item-pickup-location"></span>
            </div>
            <div class="order-items-container"></div>
            <div class='order-items-kitchen'></div>
        </div>
    </script>
    <script type="text/html" id="order-info-template">
        <div class="order-item">
            <select class="qty-dropdown">
            </select>
            <div class="order-item-info">
                <span class="order-item-name"></span>
                <span class="order-item-option"></span>
                <div class='order-extra-items'></div>
            </div>
            <div class="order-item-subtotal">
                <span class="numeric-value"></span>
            </div>
            <div class="order-item-remove">&times;</div>
        </div>
    </script>
    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//checkout.stripe.com/checkout.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'scripts/common.js' %}"></script>
    <script src="{% static 'scripts/googleMaps.js' %}"></script>
    <script src="{% static 'scripts/checkout.js' %}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDtpMmoVmNAIlheOK53ta272ltkp18FR00&libraries=places&callback=initAddressFormAutocomplete"
            async defer></script>
</footer>
</html>