{% block content %}
    <a data-ng-href="{{ dish.social_url }}" onclick="return false;" style="text-decoration: none;">
        {% if bundle.available <= 0 or bundle.is_expired %}
            <div class="sold-out-wrapper">
                <div class="sold-out-sign"></div>
                <span>SOLD OUT</span>
            </div>
        {% endif %}
        <img class="food-image bundle-image-hover" src="{{ dish.image }}" alt="{{ dish.name }}"
             data-carousel-control-id="carousel-control-{{ bundle.id }}">
        <div class="food-info bundle-info">
            <div class="line-item">
                <div class="food-title">
                    <span title="{{ bundle.name }}">{{ bundle.name }}</span>
                </div>
                <div class="offer-price">
                    <span>${{ bundle.price|floatformat:2 }}</span>
                </div>
            </div>
            <div class="line-item">
                <div class="home-dish-rating"
                     data-rating="{{ dish.rating.score }}"></div>
            </div>
            <div class="line-item">
                <div class="home-bundle-food-titles">
                    {% for nested_dish in bundle.dishes %}
                        {% if nested_dish.id == dish.id %}
                            <span class="active bundle-dish-title"
                                  title="{{ nested_dish.name }}">{{ nested_dish.name }}</span>
                        {% else %}
                            <span class="bundle-dish-title" title="{{ nested_dish.name }}">{{ nested_dish.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="line-item">
                <div class="pickup-delivery">
                    {% if bundle.can_deliver %}
                        <span class="delivery">Delivers</span>
                    {% endif %}
                    {% if bundle.can_pickup %}
                        <div class="food-distance hvr-grow"
                             data-img="{{ bundle.map_image }}">
                            <span class="pickup">Pickup ({{ bundle.distance }})</span>
                        </div>
                    {% endif %}
                </div>
                <div class="availability">
                    {% if bundle.can_deliver %}
                        <span style="font-weight: 500;">Delivery starts: </span>
                        <span>
                                <script>document.write(get_pretty_time("{{ bundle.deliver_time.start }}"));</script>
                            </span>
                    {% else %}
                        <span style="font-weight: 500;">Pickup starts: </span>
                        <span>
                                <script>document.write(get_pretty_time("{{ bundle.pickup_time.start }}"));</script>
                            </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
{% endblock %}