{% block content %}
    <!-- Wrapper for slides -->
    <div class="carousel-inner bundle-slide bundle-select"
         data-toggle="modal"
         data-target="#foodModal"
         data-food-id="{{ bundle.id }}"
         data-social-url="{{ bundle.social_url }}"
         data-food-url="{{ bundle.url }}">
        <div class="bundle-preview-container">
            {% if bundle.available <= 0 or bundle.is_expired %}
                <div class="sold-out-wrapper">
                    <div class="sold-out-sign"></div>
                    <span>SOLD OUT</span>
                </div>
            {% endif %}
            <div class="bundle-preview">
                {% for dish in bundle.dishes %}
                    <div class="bundle-preview-wrapper">
                        <div class="meal-qty-indicator">
                            <span>Meal {{ forloop.counter }}</span>
                        </div>
                        <img class="bundle-preview-image" src="{{ dish.image }}" alt="{{ dish.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for dish in bundle.dishes %}
            <div {% if forloop.counter == 1 %}
                class="item active"
            {% else %}
                class="item"
            {% endif %} id="{{ forloop.counter }}">
                {% include "main/bundle-select.html" %}
            </div>
        {% endfor %}
    </div>
    <!-- Indicators -->
    <ol class="carousel-indicators bundle-carousel-indicators">
        <li data-target="#carousel-{{ bundle.id }}" data-slide-to="0" class="active"></li>
        {% for dish in bundle.dishes|slice:"1:" %}
            <li data-target="#carousel-{{ bundle.id }}" data-slide-to="{{ forloop.counter }}"></li>
        {% endfor %}
    </ol>

    <div id="carousel-control-{{ bundle.id }}" class="bundle-carousel-controls bundle-image-hover"
         style="display: none;">
        <!-- Left and right controls -->
        <a class="left carousel-control bundle-control" href="#carousel-{{ bundle.id }}" role="button"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control bundle-control" href="#carousel-{{ bundle.id }}"" role="button"
        data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}