{% load static from staticfiles %}
<!DOCTYPE html>
<html data-ng-app='umamiWeb'>
<title>Umami - Authentic Meals, Made Fresh Daily</title>
<header>
    {% include "common/navigation.html" %}
    <div id="top-weekly-calendar">
        <div id="calendar-wrapper">
            <span id="calendar-text">Ready Date</span>
            <div id="calendar"></div>
        </div>
    </div>
</header>
<head>
    {% include "tracking/google_analytics.html" %}
    <!-- CSS -->
    <link rel="stylesheet" href="//www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'styles/fontello/checkmark.css' %}">
    <link rel="stylesheet" href="{% static 'styles/foodpage.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dish-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive-dish.css' %}">
    <link rel="stylesheet" href="{% static 'styles/kitchen-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive-kitchen.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bundle-layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/weekly-calendar.css' %}">
</head>
<body data-ng-controller="mainCtrl">
<div class="desktop-banner">
    <div class="welcome-wrapper">
        <div class="umami-welcome-message">
            <div>Authentically Made For You.</div>
        </div>
        <div class="eat-umami">
            <span>Eat Umami</span>
        </div>
    </div>
</div>
<div class="page-main" id="offerList" data-ng-controller="foodlistCtrl">
    <div class="food-section food-bundles-section">
        {% if food_items.bundles|length > 0 %}
            <h2>Multiple meals in a single order</h2>
            <h4>Meal bundles, we got you covered for days!</h4>
            <div class="food-container">
                {% for bundle in food_items.bundles %}
                    <div id="carousel-{{ bundle.id }}" class="carousel food-select hvr-float">
                        {% include "main/bundle_offers_card.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="food-section food-singles-section">
        {% if food_items.singles|length > 0 %}
            <h2>Dishes Near You</h2>
            <h4>Made in small batches, fresh and authentic.</h4>
            <div class="food-container">
                {% for offer in food_items.singles %}
                    <div class="food-item food-select w3-animate-top hvr-float disable-select"
                         data-toggle="modal"
                         data-target="#foodModal"
                         data-social-url="{{ offer.social_url }}"
                         data-food-url="{{ offer.url }}"
                         data-food-id="{{ offer.id }}">
                        {% include "main/offer_card.html" with ng=0 %}
                    </div>
                {% endfor %}
                {% load djng_tags %}
                {% angularjs %}
                    <div style="display:none;" on-finish-render="ngRepeatFinished" data-ng-repeat="offer in food_items"
                         class="additional food-item food-select w3-animate-bottom hvr-float disable-select"
                         data-toggle="modal"
                         data-target="#foodModal"
                         data-food-url="{{ offer.url }}"
                         data-social-url="{{ offer.social_url }}"
                         data-food-id="{{ offer.id }}">
                        {% include "main/offer_card.html" with ng=1 %}
                    </div>
                {% endangularjs %}
            </div>
        {% endif %}
    </div>
    {% if food_items.singles|length == 0 and food_items.bundles|length == 0 %}
        <div class="">
            <div class="umami-message">There is currently nothing available in your area, please check back later!
            </div>
        </div>
    {% endif %}
    <div id="foodpage-loader">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
    <div class="loading">Loading&#8230;</div>
</div>
<div class="footer" style="display: none;">
    {% include "common/footer.html" %}
</div>
</body>

<footer>
    {{ food_items|json_script:"foodpage-offers" }}
    <script id="foodpage-offers" type="application/json"></script>
    {% include "main/modal/dish_overlay.html" %}

    {% include "main/modal/offer_overlay.html" %}

    {% include "main/modal/bundle_overlay.html" %}
    {% include "main/modal/kitchen_overlay.html" %}

    <div id="kitchenModal" class="modal" role="dialog">
        <div class="close-overlay glyphicon glyphicon-remove"></div>
        <div id="chef-dialog" class="modal-dialog">
        </div>
    </div>
    <div id="food-wrapper">
        <div id="foodModal" class="modal" role="dialog">
            <div class="close-overlay glyphicon glyphicon-remove"></div>
            <div id="food-dialog" class="modal-dialog">
            </div>
        </div>
    </div>

    <!-- JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <!-- My JavaScript -->
    <script src="{% static 'scripts/kitchen.js' %}"></script>
    <script src="{% static 'scripts/bundles.js' %}"></script>
    <script src="{% static 'scripts/foodpage.js' %}"></script>
    <script src="{% static 'scripts/weekly-calendar.js' %}"></script>
    <script id="dishScript" src="{% static 'scripts/dish.js' %}"></script>

</footer>
</html>

