{% load djng_tags %}
{% angularjs ng %}
    <a data-ng-href="{{ offer.social_url }}" onclick="return false;" style="text-decoration: none;">
        {% if ng %}
            <div class="sold-out-wrapper" data-ng-if="offer.available <= 0 || offer.is_expired">
                <div class="sold-out-sign"></div>
                <span>SOLD OUT</span>
            </div>
        {% else %}
            {% if offer.available <= 0 or offer.is_expired %}
                <div class="sold-out-wrapper">
                    <div class="sold-out-sign"></div>
                    <span>SOLD OUT</span>
                </div>
            {% endif %}
        {% endif %}
        <img class="food-image" data-ng-src="{{ offer.dishes.0.image }}" alt="{{ offer.dishes.0.name }}">
        <div class="food-info">
            <div class="line-item">
                <div class="food-title" title="{{ offer.dishes.0.name }}">
                    <span>{{ offer.dishes.0.name }}</span>
                </div>
                <div class="offer-price">
                    {% if ng %}
                        {% verbatim %}
                        <span>${{ offer.dishes[0].price|number:2 }} </span>
                        {% endverbatim %}
                    {% else %}
                        <span>${{ offer.dishes.0.price|floatformat:2 }} </span>
                    {% endif %}
                </div>
            </div>
            {% if ng %}
                {% verbatim %}
                <div class="line-item">
                    <div class="home-dish-rating" rate-star="{{ offer.dishes[0].rating.score }}"></div>
                </div>
                <div class="line-item">
                    <div class="home-food-tags food-tags">
                        <span data-ng-repeat="tag in offer.dishes[0].tags track by $index" style="margin-right:4px;">{{ tag.name }}</span>
                    </div>
                </div>
                <div class="line-item">
                    <div class="pickup-delivery">
                        <span class="delivery" data-ng-if="offer.can_deliver">Delivers</span>
                        <div class="food-distance" data-img="{{ offer.map_image }}" data-ng-if="offer.can_pickup">
                            <span class="pickup">Pickup</span>
                            <span>{{ offer.distance }}</span>
                        </div>
                    </div>
                    <div class="availability" data-ng-if="offer.can_deliver">
                        <span style="font-weight: 500;">Delivery starts: </span>
                        <span> {{ offer.parsed_deliver_time.start }} </span>
                    </div>
                    <div class="availability" data-ng-if="!offer.can_deliver">
                        <span style="font-weight: 500;">Pickup starts: </span>
                        <span> {{ offer.parsed_pickup_time.start }} </span>
                    </div>
                </div>
                {% endverbatim %}
            {% else %}
                <div class="line-item">
                    <div class="home-dish-rating" data-rating="{{ offer.dishes.0.rating.score }}"></div>
                </div>
                <div class="line-item">
                    <div class="home-food-tags food-tags">
                        {% for tag in offer.dishes.0.tags %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="line-item">
                    <div class="pickup-delivery">
                        {% if offer.can_deliver %}
                            <span class="delivery"><span>Delivers</span></span>
                        {% endif %}
                        {% if offer.can_pickup %}
                            <div class="food-distance" data-img="{{ offer.map_image }}">
                                <span class="pickup">Pickup</span>
                                <span>{{ offer.distance }}</span>
                            </div>
                        {% endif %}

                    </div>
                    <div class="availability">
                        {% if offer.can_deliver %}
                            <span style="font-weight: 500;">Delivery starts: </span>
                            <span>
                                <script>document.write(get_pretty_time("{{ offer.deliver_time.start }}"));</script>
                            </span>
                        {% else %}
                            <span style="font-weight: 500;">Pickup starts: </span>
                            <span>
                                <script>document.write(get_pretty_time("{{ offer.pickup_time.start }}"));</script>
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </a>
{% endangularjs %}